<div class="container">
  <div class="row">
    <div class="col">
      <div class="quiz-card">
        <img src="../../../assets/img/disc-fhd.jpg" alt="" />
        <div class="des">

          <h4>DISC Test</h4>
          <p>DISC là một loại trắc nghiệm dùng để đánh giá hành vi cá nhân tập trung vào bốn đặc điểm tính cách nổi bật con người trong một khoảng thời gian nhất định</p>
          <div class="options">
            <a href="#" class="btn-detail">Chi tiết</a>
            <a href="#" class="btn-start">Bắt đầu</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="quiz-card">
        <img src="../../../assets/img/mbti-fhd.jpg" alt="mbti test" />
        <div class="des">

          <h4>MBTI Test</h4>
          <p>MBTI dùng một chuỗi các câu hỏi trắc nghiệm liên quan đến các vấn đề cơ bản trong cuộc sống với các đáp án để lựa chọn.Tổng kết bài trắc nghiệm sẽ cho ra kết quả để đánh giá bạn là người có tính cách như thế nào thông qua phương pháp phân loại</p>
          <div class="options">
            <a href="#" class="btn-detail">Chi tiết</a>
            <a href="#" class="btn-start">Bắt đầu</a>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <div class="quiz-card">
        <img src="../../../assets/img/big-five-fhd.jpg" alt="" />
        <div class="des">

          <h4>Big Five Test</h4>
          <p>Big Five (hay còn gọi là Five Factor Model, Big Five Dimensions,...) là Mô hình tính cách 5 yếu tố. Đây được xem là một trong những thang đo tính cách đơn giản và dễ sử dụng nhất hiện nay. </p>
          <div class="options">
            <a href="#" class="btn-detail">Chi tiết</a>
            <a href="#" class="btn-start">Bắt đầu</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="quiz-card">
        <img src="../../../assets/img/mi-fhd.jpg" alt="" />
        <div class="des">

          <h4>Multiple Inteligent Test</h4>
          <p>Trắc nghiệm đa trí thông minh MI (Multiple Intelligences) là phương pháp đánh giá trí thông minh nổi trội của mỗi người, dựa trên Lý thuyết đa trí thông minh (Theory of Multiple Intelligences)</p>
          <div class="options">
            <a href="#" class="btn-detail">Chi tiết</a>
            <a href="#" class="btn-start">Bắt đầu</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
