* {
  margin: 0;
  // padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body {
  width: 100%;
  padding: 50px 20%;
  background-color: #f1f1f1;
}

.mat-mdc-form-field+.mat-mdc-form-field {
  margin-left: 8px;
}

.character-info {
  // background-color: #f5fbff;
  background-color: #fff5a9;
  padding: 10px 50px;
  margin: 40px 0;
  margin-bottom: 0;
}

.text-primary {
  color: #007bff;
  font-weight: 500;
  font-size: 20px;
}

.text-primary:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.8;
}

.text-primary~.text-primary {
  margin-top: 20px;
}

.text-major {
  margin: 10px;
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
  cursor: pointer;
}

.text-major:hover {
  color: rgb(0, 162, 255);
}

.info-title {
  // color: #084c94;
  color: #c85a35;
  font-size: 30px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  margin: 20px 0 0 0;
}

.horizontal-bar {
  height: 0.5px;
  // border: 2px solid #11be52;
  // background-color: #11be52;
  border: 2px solid #2f333f;
  background-color: #2f333f;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.title-1 {
  font-size: 22px;
  align-items: center;
  display: flex;
  margin: 0.9166666667em 0 0.75em;
  font-weight: 600;
}

.title-1>span {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 0.6666666667em;
  border-radius: 5px;
  width: 42px;
  height: 42px;
  // background-color: #11be52;
  background-color: #2f333f;
  color: #fff;
}

.character-text {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 1.4;
}

.character {
  font-size: 40px;
  font-weight: 500;
  // color: #007bff;
  color: #c85a35;
}

.text {
  text-align: justify;
  font-size: 18px;
  margin: 10px 0;
}

.info-row-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-category {
  color: #647f8e;
  font-size: 24px;
  margin: 20px;
}

.category {
  color: #647f8e;
  font-size: 48px;
  margin-top: 30px;
  letter-spacing: 7px;
  font-weight: bold;
}

.result-container {
  padding: 60px 40px;
  background-color: #fff;
}

.character-result {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 60px;
}

// Job section 
.text-major-header {
  font-size: 30px;
  font-weight: 500;
  // color: rgb(0, 162, 255);
  color: #c85a35;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
}

.text-major-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
}

.major-acco-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.job-img-wrapper {
  position: absolute;
  left: -30px;
  width: 60px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #c85a35;
}

.job-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.mat-expansion-panel {
  overflow: visible;
}

.mat-expansion-panel-header {
  background-color: #c85a35;
}

.mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled=true]),
.mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled=true]),
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
  background-color: #b93a10;
}

.mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel-header.mat-expanded:hover {
  background-color: #b93a10;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  margin-left: 20px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

.content-body {
  margin-top: 20px;
  margin-left: 40px;
}

.major-name {
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
}

.job-major-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: solid 1px #c85a35;
}

.major-action-btn {
  display: flex;
  gap: 12px;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: #e3643b;
}

// End Job Section

.left {
  width: 70%;
  // border-right: 1px dotted #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right {
  display: flex;
  align-items: center;
  font-size: 18px;
  width: fit-content;
}

.row {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.quiz-result__quote {
  position: relative;
  max-width: 70%;
  padding: 14px 10px 20px 40px;
  color: #000;
  margin: 40px 0 0 40px;
}

.quiz-result__quote::before {
  content: "";
  position: absolute;
  right: -40px;
  bottom: -23px;
  left: 0;
  height: 167px;
  background-image: url("/assets/img/background-result.png");
  background-repeat: no-repeat;
  background-size: 100% 130px;
  --webkit-filter: blur(30px);
}

.quiz-result__quote>svg {
  position: absolute;
  z-index: 3;
  opacity: 0.5;
  width: 24px;
  height: 19px;
  color: #004b99;
}

.quiz-result__quote>svg:first-child {
  top: 25px;
  left: 2px;
}

.quiz-result__quote>svg:last-child {
  right: 4px;
  bottom: -3px;
  transform: rotate(180deg);
}

.quiz-result__quote>span {
  position: relative;
  z-index: 10;
  line-height: 1.9;
}

.quiz-result__quote::after {
  content: "";
  position: absolute;
  right: 50px;
  bottom: 0;
  left: 0;
  border-width: 0 0 3px 3px;
  border-style: solid;
  border-color: rgba(0, 75, 153, 0.3);
  border-radius: 0 0 0 20px;
  height: 45px;
}

.btn-take-again {
  align-items: center;
  display: flex;
  color: #fff;
  border-radius: 50px;
  // background-color: #11be52;
  background-color: #2f333f;
  padding: 7px 20px;
  width: fit-content;
}

.right {
  width: fit-content;
}

.result-img {
  width: 15%;
}

.btn-take-again:hover {
  cursor: pointer;
  opacity: 0.8;
}

.icon-repeat {
  margin-right: 4px;
}

@media (max-width: 1000px) {
  .body {
    padding: 60px 10%;
  }

  .result-img {
    width: 20%;
  }
}

@media (max-width: 768px) {
  .body {
    padding: 60px 1%;
  }

  .row {
    align-items: center;
    flex-direction: column;
  }

  .character-text,
  .character {
    text-align: center;
  }

  .result-img {
    width: 20%;
  }

  .btn-take-again {
    margin: 10px auto;
  }

  .result-container {
    padding: 10px;
  }

  .character-info {
    padding: 10px 20px;
  }
}