footer {
    background-color: #5C5757;
    color: white;
}

.footer-icon {
    color: black;
}

.footer-brand-name{
    font-family: 'Orbitron';
    font-size: 18px;
    text-align: center;
    color: #1e1e1e;   
    text-shadow: #676161 2px 3px;
}

.img{
    justify-items: center;
}
h4{
    margin-bottom: 20px;
}