<div class="footer-container">
  <div class="footer-section">
    <div class="footer-menu">
      <p class="menu-header">Về chúng tôi</p>
      <p class="menu-item">
        0123456789
      </p>
      <p class="menu-item">222222222</p>
      <p class="menu-item">3333333333</p>
    </div>

    <div class="footer-menu">
      <p class="menu-header">Cộng đồng</p>
      <p class="menu-item">Facebook</p>
      <p class="menu-item">Twitter</p>
      <p class="menu-item">Instagram</p>
    </div>

    <div class="footer-menu">
      <p class="menu-header">Know yourself</p>
      <p class="menu-item">Trắc nghiệm MBTI</p>
      <p class="menu-item">Trắc nghiệm DISC</p>
      <p class="menu-item">Trắc nghiệm MI</p>
      <p class="menu-item">Trắc nghiệm Big Five</p>
    </div>

    <div class="footer-menu">
      <p class="menu-header">Research</p>
      <p class="menu-item">Nhóm ngành</p>
      <p class="menu-item">Nghề nghiệp</p>
      <p class="menu-item">Trường học</p>
    </div>

  </div>

  <div class="footer-section">
    <div class="footer-menu-column">
      <span class="info-icon">
        <mat-icon class="white-icon" aria-hidden="false" aria-label="Example home icon">call
        </mat-icon>
        11111111111
      </span>
      <span class="info-icon">
        <mat-icon class="white-icon" aria-hidden="false" aria-label="Example home icon">mail
        </mat-icon>qick@gmail.com
      </span>
    </div>

    <div class="footer-menu">
      <img class="qick-text" src="assets/img/qick-text-white.png" alt="">
    </div>


  </div>
</div>