<div class="main">
  <footer class="text-center text-lg-start text-white" style="background-color: #1c2331">
    <section class="d-flex justify-content-between p-4 section-top" style="background-color: #1c2331">
      <div class="me-5">
        <span>Kết nối với chúng tôi thông qua các mạng xã hội:</span>
      </div>
      <div>
        <a href="" class="text-white me-4">
          <i class="fa fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fa fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fa fa-github"></i>
        </a>
      </div>
    </section>
    <div class="horizontal-bar"></div>

    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Về chúng tôi</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <p>
              Qick là một sản phẩm được xây dựng bởi nhóm sinh viên đại học FPT với mong muốn giúp các bạn trẻ tìm hiểu
              tính cách
              của bản thân cũng như tìm được những ngành nghề ưng ý cho tương lai.
            </p>
          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Khám phá bản thân</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <p>
              <a href="#!" class="text-white">Trắc nghiệm MBTI</a>
            </p>
            <p>
              <a href="#!" class="text-white">Trắc nghiệm DISC</a>
            </p>
            <p>
              <a href="#!" class="text-white">Trắc nghiệm Big Five</a>
            </p>
            <p>
              <a href="#!" class="text-white">Trắc nghiệm Holland</a>
            </p>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Tìm kiếm</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <p>
              <a href="#!" class="text-white">Nhóm ngành</a>
            </p>
            <p>
              <a href="#!" class="text-white">Nghề nghiệp</a>
            </p>
            <p>
              <a href="#!" class="text-white">Trường học</a>
            </p>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold">Liên hệ</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <p><i class="fa fa-home mr-3"></i> Đại học FPT HCM</p>
            <p><i class="fa fa-envelope mr-3"></i> dathqse140490@fpt.edu.vn</p>
            <p><i class="fa fa-phone mr-3"></i> + 84 0866 005 640</p>
          </div>
        </div>
      </div>
    </section>
  </footer>
</div>