.main {
  width: 100%;
  // margin-top: 40px;
}

.text-white {
  text-decoration: none;
}

.horizontal-bar {
  width: 80%;
  height: 0.5px;
  border-bottom: 1px solid #fff;
  margin: 0 auto;
}

.section-top {
  width: 80%;
  margin: 0 auto;
  padding: 24px 0 !important;
}
