* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.input-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.input-container {
}

input {
  padding: 5px 10px;
  border-radius: 5px;
}
