<div class="container">
  <div class="input-flex">
    <div class="input-container">
      <input type="text" class="" value="{{appDetail!.dateOfBirth}}" placeholder="">
    </div>
    <div class="input-container">
      <input type="text" class="" value="{{appDetail!.credentialId}}" placeholder="">
    </div>
    <div class="input-container">
      <input type="text" class="" value="{{appDetail!.uniSpecName}}" placeholder="">
    </div>
    <div class="input-container">
      <input type="text" class="" value="{{appDetail!.specCode}}" placeholder="">
    </div>
    <div class="input-container">
      <input type="text" class="" value="{{appDetail!.userName}}" placeholder="">
    </div>
    <div class="input-container">
      <input type="text" class="" value="{{appDetail!.gender}}" placeholder="">
    </div>
    <div class="input-container">
      <input type="text" class="" value="{{appDetail!.age}}" placeholder="">
    </div>
    <div class="input-container">
      <input type="text" class="" value="{{appDetail!.phone}}" placeholder="">
    </div>
    <div class="input-container">
      <input type="text" class="" value="{{appDetail!.avatarUrl}}" placeholder="">
    </div>
    <div class="input-container">
      <input type="text" class="" value="{{appDetail!.email}}" placeholder="">
    </div>
    <div class="input-container">
      <input type="text" class="" value="{{appDetail!.addressNumber}}" placeholder="">
    </div>
    <div class="input-container">
      <input type="text" class="" value="{{appDetail!.credentialFrontImgUrl}}" placeholder="">
    </div>
    <div class="input-container">
      <input type="text" class="" value="{{appDetail!.credentialBackImgUrl}}" placeholder="">
    </div>
    <div class="input-container">
      <input type="text" class="" value="{{appDetail!.highSchoolCode}}" placeholder="">
    </div>
    <div class="input-container">
      <input type="text" class="" value="{{appDetail!.highSchoolName}}" placeholder="">
    </div>
    <div class="input-container">
      <input type="text" class="" value="{{appDetail!.highSchoolAddress}}" placeholder="">
    </div>
    <div class="input-container">
      <input type="text" class="" value="{{appDetail!.graduationYear}}" placeholder="">
    </div>
    <div class="input-container">
      <input type="text" class="" value="{{appDetail!.avarageScore}}" placeholder="">
    </div>
    <div class="input-container">
      <input type="text" class="" value="{{appDetail!.academicRank}}" placeholder="">
    </div>
    <div class="input-container">
      <input type="text" class="" value="{{appDetail!.schoolReport1Url}}" placeholder="">
    </div>
    <div class="input-container">
      <input type="text" class="" value="{{appDetail!.schoolReport2Url}}" placeholder="">
    </div>
    <div class="input-container">
      <input type="text" class="" value="{{appDetail!.schoolReport3Url}}" placeholder="">
    </div>
    <div class="input-container">
      <input type="text" class="" value="{{appDetail!.schoolReport4Url}}" placeholder="">
    </div>
    </ div>
  </div>