*{
    padding:0;
    margin:0;
}

:root{
    --text:100px;
    --checkbox1: 20px;
    --checkbox2: 40px;
    --checkbox3: 60px;
    --checkbox4: 80px;
    --checkbox5: 100px;
}

.body{
    background: url('/assets/img/MI-background.png') no-repeat center center fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main{
    margin-top:60px;
}

.mi-title{
    position: absolute;
    width: 400px;
    top: 0;
    left: 30px;
}

.answer-checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.answer-container-column{
    margin-top:80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.answer-container-row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.arrow-container-row{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.question{
    font-size: 35px;
    // font-size: var(--text);
}

.question-hint{
    font-size: 16px;
    font-style: italic;
    font-weight: 100;
}

.text{
    font-size: 32px;
}

.round{
    position: relative;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside-checkbox{
    position: absolute;
    border: 5px solid #000;
    border-radius:50%;
    z-index: 10;
    visibility: hidden;
}

.round label {
    background-color: #fff;
    border: 5px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
  }

  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + .inside-checkbox {
    visibility: visible;
    // background-color:#000
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }

  #checkbox1{
    width: 70px;
    height: 70px;
    background-color: transparent;
  }
  #checkbox2{
    width: 80px;
    height: 80px;
  }
  #checkbox3{
    width: 90px;
    height: 90px;
  }
  #checkbox4{
    width: 100px;
    height: 100px;
  }
  #checkbox5{
    width: 110px;
    height: 110px;
  }

//   .inside-checkbox{
//     width:calc(28px - 10px)px;
//   }

  .inside1{
    width: 30px;
    height: 30px;
  }
  .inside2{
    width: 40px;
    height: 40px;
  }
  .inside3{
    width: 50px;
    height: 50px;
  }
  .inside4{
    width: 60px;
    height: 60px;
  }
  .inside5{
    width: 70px;
    height: 70px;
  }

  .arrow-left:hover{
    opacity: 0.6;
    cursor: pointer;
  }
  
  .arrow-right:hover{
    opacity: 0.6;
    cursor: pointer;
  }

  .number-question{
    font-size:28px;
    font-weight: bold;
  }

  .round .inside-checkbox{
    box-shadow: 10px 10px 20px -10px grey;
    background-color: transparent;
 }
