<div class="major-container">
  <app-nav></app-nav>
  <div class="major-title-section">
    <div class="major-title left">
      <p class="title">Công nghệ thông tin</p>
      <p class="title-note">Ngành Công nghệ thông tin là ngành học sử dụng máy tính và phần mềm máy tính để chuyển đổi,
        lưu trữ, bảo vệ, xử lý, truyền và thu thập thông tin.</p>
      <ul class="major">
        <li class="major-note">Phần cứng, phần mềm ... </li>
        <li class="major-note">Nhu cầu nhân lực cao</li>
        <li class="major-note">Mức lương triển vọng</li>
      </ul>
    </div>

    <img src="/assets/img/background.png" class="title-img right">
  </div>

  <div class="characteristics">
    <h3 class="characteristics-title">ĐĂC ĐIỂM CÔNG VIỆC</h3>
    <p class="characteristics-content"><span class="bold-content">Lập trình: </span>Công việc chính của lập trình viên
      là sử dụng những công cụ và ngôn ngữ lập trình để phân tích, thiết kế, tạo ra những phần mềm, website, trò chơi
      cung cấp cho thị trường. Đây là nghề đang phát triển mạnh ở nước ta và được nhiều bạn trẻ quan tâm. Các công ty
      phần mềm nghiên cứu, xây dựng, phát triển và cung cấp các phần mềm, các ứng dụng xây dựng website, games v.v… cho
      thị trường là điểm đến của các lập trình viên.
    </p>
    <p class="characteristics-content"><span class="bold-content">Chế tạo, lắp ráp và sửa chữa phần cứng: </span>Những
      người làm trong lĩnh vực này có khả năng chế tạo, sửa chữa hay lắp ráp, lắp đặt các thiết bị, linh kiện của máy
      tính như ổ cứng, bo mạch, bộ vi xử lý. Các công ty sản xuất, lắp ráp và sửa chữa thiết bị phần cứng đang hứa hẹn
      một nền công nghiệp hùng mạnh trong tương lai.

    </p>
    <p class="characteristics-content"><span class="bold-content">Thiết kế giải pháp tích hợp: </span>Công việc này đòi
      hỏi các chuyên gia phải am hiểu cả phần cứng và phần mềm, có khả năng thiết kế các giải pháp trọn gói cho một công
      ty, tổ chức về cả phần cứng lẫn phần mềm, dựa trên yêu cầu cụ thể. Họ làm nhiệm vụ tại các công ty cung cấp giải
      pháp tích hợp hiện đang trên đà phát triển tại Việt Nam.
    </p>
    <p class="characteristics-content"><span class="bold-content">Quản trị hệ thông và an ninh mạng: </span>Ngày nay,
      hầu
      hết các công ty, doanh nghiệp, tổ chức đều có hệ thống máy vi tính kết nối mạng. Người làm công tác quản trị hệ
      thống và an ninh mạng có nhiệm vụ bảo đảm cho hệ thống vận hành suôn sẻ, giải quyết trục trặc khi hệ thông gặp sự
      cố, đảm bảo an toàn và bảo mật cho dữ liệu. Trong lĩnh vực này, bạn sẽ làm việc tại các công ty cung cấp giải pháp
      về mạng và an ninh mạng, các cơ quan, doanh nghiệp v.v…
    </p>
  </div>

  <div class="qualify-skill">
    <h3 class="qualify-skill-title">PHẨM CHẤT VÀ KĨ NĂNG CẦN THIẾT</h3>
    <ul class="qualify-skill-list">
      <li class="qualify-skill-item">Thông minh và có óc sáng tạo
      </li>
      <li class="qualify-skill-item">Khả năng làm việc dưới áp lực lớn</li>
      <li class="qualify-skill-item">Kiên trì, nhẫn nại.
      </li>
      <li class="qualify-skill-item">Tính chính xác trong công việc</li>
      <li class="qualify-skill-item"> Ham học hỏi, trau dồi kiến thức
      </li>
      <li class="qualify-skill-item">Khả năng làm việc theo nhóm</li>
      <li class="qualify-skill-item">Trình độ ngoại ngữ (để tiếp cận kho tàng phong phú về CNTT từ các nguồn sách điện
        tử và Internet)
        Và quan trọng nhất là niềm đam mê với Công nghệ thông tin</li>
    </ul>
  </div>

  <div class="specilization">
    <h3 class="specilization-title">CÁC CHUYÊN NGÀNH PHỔ BIẾN</h3>
    <div class="specilization-list">
      <div class="specilization-item">
        <div class="specilizating-img-container">
          <img src="https://httl.com.vn/wp-content/uploads/2021/06/background-dep-2.jpg" alt=""
            class="specilization-img">
          <button class="btn-detail"><i class="fa fa-info-circle" aria-hidden="true"></i>Xem chi tiết</button>
        </div>
        <p class="specilization-name">Trí tuệ nhân tạo</p>
      </div>
      <div class="specilization-item">
        <div class="specilizating-img-container">
          <img src="https://httl.com.vn/wp-content/uploads/2021/06/background-dep-2.jpg" alt=""
            class="specilization-img">
          <button class="btn-detail"><i class="fa fa-info-circle" aria-hidden="true"></i>Xem chi tiết</button>
        </div>
        <p class="specilization-name">Trí tuệ thiên tạo</p>
      </div>
      <div class="specilization-item">
        <div class="specilizating-img-container">
          <img src="https://httl.com.vn/wp-content/uploads/2021/06/background-dep-2.jpg" alt=""
            class="specilization-img">
          <button class="btn-detail"><i class="fa fa-info-circle" aria-hidden="true"></i>Xem chi tiết</button>
        </div>
        <p class="specilization-name">Trí tuệ ai tạo ?</p>
      </div>
      <div class="specilization-item">
        <div class="specilizating-img-container">
          <img src="https://httl.com.vn/wp-content/uploads/2021/06/background-dep-2.jpg" alt=""
            class="specilization-img">
          <button class="btn-detail"><i class="fa fa-info-circle" aria-hidden="true"></i>Xem chi tiết</button>
        </div>
        <p class="specilization-name">Trí khôn của ta đây</p>
      </div>
      <div class="specilization-item">
        <div class="specilizating-img-container">
          <img src="https://httl.com.vn/wp-content/uploads/2021/06/background-dep-2.jpg" alt=""
            class="specilization-img">
          <button class="btn-detail"><i class="fa fa-info-circle" aria-hidden="true"></i>Xem chi tiết</button>
        </div>
        <p class="specilization-name">Trí khôn của ta đây</p>
      </div>
      <div class="specilization-item">
        <div class="specilizating-img-container">
          <img src="https://httl.com.vn/wp-content/uploads/2021/06/background-dep-2.jpg" alt=""
            class="specilization-img">
          <button class="btn-detail"><i class="fa fa-info-circle" aria-hidden="true"></i>Xem chi tiết</button>
        </div>
        <p class="specilization-name">Trí khôn của ta đây</p>
      </div>
      <div class="specilization-item">
        <div class="specilizating-img-container">
          <img src="https://httl.com.vn/wp-content/uploads/2021/06/background-dep-2.jpg" alt=""
            class="specilization-img">
          <button class="btn-detail"><i class="fa fa-info-circle" aria-hidden="true"></i>Xem chi tiết</button>
        </div>
        <p class="specilization-name">Trí khôn của ta đây</p>
      </div>
      <div class="specilization-item">
        <div class="specilizating-img-container">
          <img src="https://httl.com.vn/wp-content/uploads/2021/06/background-dep-2.jpg" alt=""
            class="specilization-img">
          <button class="btn-detail"><i class="fa fa-info-circle" aria-hidden="true"></i>Xem chi tiết</button>
        </div>
        <p class="specilization-name">Trí khôn của ta đây</p>
      </div>
    </div>
    <button class="btn-more">
      Xem thêm các ngành khác
    </button>
  </div>
  <div class="school">
    <p class="school-title">CÁC TRƯỜNG CÓ CHƯƠNG TRÌNH ĐÀO TẠO</p>
    <div class="school-list">
      <!-- <div class="school-item">
        <img src="https://httl.com.vn/wp-content/uploads/2021/06/background-dep-2.jpg" alt="" class="school-img">
        <p class="school-name">Đại học FPT HCM<span class="school-name-short">#FPT</span></p>
        <p class="school-address">Quận 9, TP Hồ Chí Minh</p>
        <div class="school-view">
          <i class="fa fa-eye school-view-icon" aria-hidden="true"></i>
          <p class="school-view-number">12345</p>
        </div>
      </div> -->
      <app-landing-school-item></app-landing-school-item>
      <app-landing-school-item></app-landing-school-item>
      <app-landing-school-item></app-landing-school-item>
      <app-landing-school-item></app-landing-school-item>
      <app-landing-school-item></app-landing-school-item>
      <app-landing-school-item></app-landing-school-item>


      <button class="btn-more-school">
        Xem thêm
      </button>
    </div>


    <app-footer></app-footer>
  </div>