<div class="page-container">
  <app-nav></app-nav>

  <div class="banner-section">
    <img src="{{test.bannerUrl}}" alt="mbti test" />
  </div>
  <div class="banner-option">
    <a (click)="redirectTest(test.testTypeId,test.id,0)" class="btn-start">Bắt đầu ngay</a>
  </div>
</div>

<p class="note">*Bạn nên làm lại bài test sau mỗi 6 tháng</p>


<div class="content-container">
  <div class="content-section">
    <h4 class="content-header">{{test.testName}} là gì</h4>
    <p class="content-text">
      {{test.introduction}}
    </p>
  </div>
  <div class="content-section">
    <h4 class="content-header">Lịch sử</h4>
    <p class="content-text">
      {{test.history}}
    </p>
  </div>
  <div class="content-section">
    <h4 class="content-header">Trắc nghiệm {{test.testName}} dựa trên tiêu chí</h4>
    <p class="content-text">
      {{test.criteriaInformation}}
    </p>
  </div>

  <div class="card-section content-section">
    <h4 class="content-header">{{characters.length}} Kiểu tính cách</h4>
    <div class="type-card-container">
      <div class="card-row">
        <div class="card" *ngFor="let type of characters">
          <app-type-card [summary]="type.resultSummary" [name]="type.resultName" [shorthand]="type.resultShortName"
            [imgSrc]="type.resultPictureUrl"></app-type-card>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>