.page-container {
    background: linear-gradient(to bottom right, #ffdfb4, #ffe8bf);
    width: 100%;
    position:relative;
}

.banner-section {
    width: 100%;
    height: 70%;
    display: flex;
    position: relative;
    justify-content: center;
}

.banner-section img {
    width: 600px;
    height: auto;
}

.banner-option {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.banner-option a {
    bottom: 0;
    color: #fff;
    background: #3c3327;
    padding: 10px 45px;
    font-weight: 500;
    border-radius: 15px;
    text-decoration: none;
    position:absolute;
    bottom: 10px;
}

.banner-option a:hover{
    opacity: 0.6;
}

.content-container {
    font-family: 'Open Sans Regular';
    font-size: 18px;
    text-align: center;
    margin: 0 10%;
}

.content-text {
    text-align: start;
}

.content-section{
    margin-top: 5%;
}

.content-header{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 2%;
}

app-type-card{
    margin: 0 auto;
}

.card{
    width: 280px;
    border: none;
    margin: 10px;
    transition: all 0.2s ease-in;
}

.type-card-container{
    margin: 0 auto;
}

.card-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

// .background{
//     position:fixed;
//     width:100%;
//     height:100%;
//     top:0;
//     z-index: 1000000;
//     background: rgba(0,0,0,0.8);
//     margin:0;
// }

