<div class="dashboard-container">
  <div class="statistic-section">
    <div class="stat-block">
      <mat-icon>event_note</mat-icon>
      <div class="stat-section">
        <div class="stat-number">
          <h2>0</h2>
        </div>
        <mat-divider></mat-divider>
        <div class="type-name">
          <p>Chiến dịch hiện hành</p>
        </div>
      </div>
    </div>
    <div class="stat-block">
      <mat-icon>description</mat-icon>
      <div class="stat-section">
        <div class="stat-number">
          <h2>0</h2>
        </div>
        <mat-divider></mat-divider>
        <div class="type-name">
          <p>Tin tuyển sinh</p>
        </div>
      </div>
    </div>
    <div class="stat-block">
      <mat-icon>task</mat-icon>
      <div class="stat-section">
        <div class="stat-number">
          <h2>0</h2>
        </div>
        <mat-divider></mat-divider>
        <div class="type-name">
          <p>Hồ sơ ứng tuyển</p>
        </div>
      </div>
    </div>
  </div>

  <div class="report-section">
    <div class="plan-section">
      <p class="section-header">Kế hoạch gần nhất</p>
      <mat-divider></mat-divider>
    </div>
      <br><br><br><br><br><br><br><br><br><br><br>
    <div class="news-section">
      <p class="section-header">Tin tức gần đây</p>
      <mat-divider></mat-divider>
    </div>
  </div>
</div>
