<div class="page-container">
  <app-nav></app-nav>

  <!-- Top page block banner -->
  <div class="banner-section-container">
    <div class="major-info">
      <div class="major-name">
        <span>Kĩ thuật phần mềm</span>
      </div>
      <div class="major-short-description">
        <span class=>Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</span>
      </div>
    </div>

    <img
      src="../../assets/img/major-banner/it.jpg"
      alt="Major image"
      class="major-img"
    />
  </div>

  <!--Nội dung ngành học  -->
  <div class="content-section">
    <mat-divider></mat-divider>
    <div class="content-header">
      <span class="header">NỘI DUNG NGÀNH HỌC</span>
    </div>
    <div class="content-text">
      <span class="text">
        Nền tảng kiến thức về công nghệ máy tính và toán học là xương sống của hầu hết các chương trình trí tuệ nhân tạo. Sinh viên có thể lựa chọn các chương trình cấp bằng ngành trí tuệ nhân tạo hoặc theo đuổi chuyên ngành AI từ các ngành học như khoa học máy tính, thiết kế đồ họa, công nghệ thông tin hoặc kỹ thuật.
        <br><br>
        Lưu ý rằng nội dung của ngành học trí tuệ nhân tạo sẽ khác nhau giữa các trường đại học. Hầu hết các khóa học trí tuệ nhân tạo bao gồm các môn học bắt buộc và tự chọn, giúp bạn điều chỉnh chương trình học sao cho phù hợp với sở thích và kế hoạch nghề nghiệp của mình. Do đó, bạn nên xem xét kỹ về danh mục các môn học và chương trình giảng dạy trước khi đăng ký.
      </span>
    </div>
  </div>

  <!-- Phẩm chất & kĩ năng -->
  <div class="content-section">
    <mat-divider></mat-divider>
    <div class="content-header">
      <span class="header">PHẨM CHẤT VÀ KĨ NĂNG CẦN THIẾT</span>
    </div>

    <div class="content-item">
      <div class="content-bullet">
        <!-- icon sth here -->
        <mat-icon>circle</mat-icon>
        <span class="bullet"> Không ngừng tò mò và yêu thích sự sáng tạo</span> 
      </div>
      <div class="content-text">
        <span class="text">
          Việc "nuôi dưỡng" trí tò mò với mọi điều trong cuộc sống, không ngừng đặt câu hỏi sẽ giúp 
          bạn nhận diện và thấu hiểu những vấn đề trừu tượng. Đồng thời, bạn cần có khả năng diễn 
          giải vấn đề, tìm ra cách tiếp cận mới để đưa ra giải pháp trong ngành trí tuệ nhân tạo. 
        </span>
      </div>
    </div>
    <div class="content-item">
      <div class="content-bullet">
        <!-- icon sth here -->
        <mat-icon>circle</mat-icon>
        <span class="bullet"> Khả năng "hiểu sâu" dữ liệu</span> 
      </div>
      <div class="content-text">
        <span class="text">
          Đối với những người làm việc trong 
          ngành trí tuệ nhân tạo, việc tìm ra 
          câu trả lời đúng rất quan trọng, nhưng 
          việc đặt câu hỏi đúng cũng quan trọng 
          không kém. Từ dữ liệu thu thập, bạn cần 
          đào sâu để hiểu được ý nghĩa thực sự của
           chúng và tìm ra những câu hỏi hữu ích 
           cho quá trình nghiên cứu sau này.        </span>
      </div>
    </div>
    <div class="content-item">
      <div class="content-bullet">
        <!-- icon sth here -->
        <mat-icon>circle</mat-icon>
        <span class="bullet"> Kiên trì và nỗ lực không ngừng</span> 
      </div>
      <div class="content-text">
        <span class="text">
          Trí tuệ nhân tạo là một lĩnh vực mới và đầy thử thách. 
          Bạn có thể sẽ mất nhiều tháng và vô số quá trình lặp lại 
          để đạt được kết quả chính xác. Chính vì thế, các chuyên 
          gia AI cần có sự kiên trì và nỗ lực không ngừng để tìm kiếm 
          câu trả lời, sẵn sàng cam kết cho công việc. 
    </span>
      </div>
    </div>
    <div class="content-item">
      <div class="content-bullet">
        <!-- icon sth here -->
        <mat-icon>circle</mat-icon>
        <span class="bullet"> Khả năng học hỏi nhanh</span> 
      </div>
      <div class="content-text">
        <span class="text">
          Với sự phát triển nhanh chóng trong lĩnh vực AI, khả 
          năng học hỏi, nắm bắt kiến thức mới là một trong những
          chiếc chìa khóa quan trọng giúp bạn thành công trong lĩnh
          vực này. Ngay cả những nhà nghiên cứu và kỹ sư có kinh nghiệm 
          cũng phải liên tục nâng cao kỹ năng của mình để bắt kịp công 
          nghệ mới. Chính vì vậy, ngoài việc có niềm đam mê với lĩnh vực 
          AI, khả năng học hỏi nhanh và sẵn sàng thay đổi sẽ là điểm cộng
          trong mắt nhà tuyển dụng
        </span>
      </div>
    </div>
  </div>

  <!-- Hướng đi sau khi ra trường -->
  <div class="content-section">
    <mat-divider></mat-divider>
    <div class="content-header">
      <span class="header">HƯỚNG ĐI SAU KHI RA TRƯỜNG</span>
    </div>

    <div class="content-item">
      <div class="content-bullet">
        <!-- icon sth here -->
        <mat-icon>circle</mat-icon>
        <span class="bullet">Nhà nghiên cứu về trí tuệ nhân tạo (Artificial Intelligence Researcher)</span> 
      </div>
      <div class="content-text">
        <span class="text">
          Nếu bạn yêu thích công việc nghiên cứu và mong muốn làm việc trong lĩnh vực AI, đây có thể là lựa chọn hoàn hảo dành cho bạn. Nhà nghiên cứu về trí tuệ nhân tạo sẽ làm việc để khám phá tiềm năng của các công nghệ này và sau đó giúp thực hiện các thay đổi trong các công cụ hiện có để đạt được tiềm năng đó. Ví dụ: phụ trách việc cải tiến hệ thống dữ liệu liên quan đến AI, giám sát và đánh giá sự phát triển của các phần mềm mới,... 
</span>
      </div>
    </div>
    <div class="content-item">
      <div class="content-bullet">
        <!-- icon sth here -->
        <mat-icon>circle</mat-icon>
        <span class="bullet">Xử lý ngôn ngữ tự nhiên (Natural Language Processing - NLP)
        </span> 
      </div>
      <div class="content-text">
        <span class="text">
          Từ chatbot đến trợ lý ảo cho đến dự đoán tin nhắn trên điện thoại, các công cụ AI được sử dụng để tái tạo giọng nói của con người ở nhiều định dạng khác nhau. Các cá nhân làm việc trong vai trò Xử lý ngôn ngữ tự nhiên (NLP) sẽ sử dụng sự hiểu biết của họ về ngôn ngữ lẫn công nghệ để phát triển các hệ thống giúp máy tính giao tiếp thành công với con người.
       </span>
      </div>
    </div>
    <div class="content-item">
      <div class="content-bullet">
        <!-- icon sth here -->
        <mat-icon>circle</mat-icon>
        <span class="bullet">Kiến trúc sư AI (AI Architect)
        </span> 
      </div>
      <div class="content-text">
        <span class="text">
          Các kiến ​​trúc sư trí tuệ nhân tạo là những người trả lời được câu hỏi về nhu cầu tổng thể của các dự án AI, bao gồm việc tạo và duy trì kiến ​​trúc bằng cách sử dụng các công nghệ AI hàng đầu. Họ cũng cần hiểu cách AI được sử dụng trong một công ty, khả năng của các nền tảng AI và trạng thái dữ liệu trong công ty. 

    </span>
      </div>
    </div>
    <div class="content-item">
      <div class="content-bullet">
        <!-- icon sth here -->
        <mat-icon>circle</mat-icon>
        <span class="bullet"> Kỹ sư dữ liệu lớn (Big Data Engineer)
        </span> 
      </div>
      <div class="content-text">
        <span class="text">
          Các kỹ sư dữ liệu lớn thường được giao phó nhiệm vụ thiết kế, lập kế hoạch và xây dựng môi trường dữ liệu lớn trên hệ thống Hadoop và Spark. Các ứng viên cũng cần thể hiện kinh nghiệm lập trình với C ++, Java, Python hay Scala. Họ cũng cần có thông tin chuyên sâu và kinh nghiệm khai thác, trực quan hóa và di chuyển dữ liệu.

        </span>
      </div>
    </div>

    <div class="content-item">
      <div class="content-bullet">
        <!-- icon sth here -->
        <mat-icon>circle</mat-icon>
        <span class="bullet">Kỹ sư học máy (Machine Learning Engineer)        </span> 
      </div>
      <div class="content-text">
        <span class="text">
          Các kỹ sư học máy cần có khả năng áp dụng các mô hình dự đoán và tận dụng quá trình xử lý ngôn ngữ tự nhiên khi làm việc với các bộ dữ liệu khổng lồ. Bạn sẽ ghi điểm trong mắt nhà tuyển dụng nếu có nền tảng toán học vững chắc, khả năng lập trình máy tính thông thạo và am hiểu sâu sắc về các phương pháp phát triển agile.
        </span>
      </div>
    </div>
  </div>


  <!--Mức lương tương lai  -->
  <div class="content-section">
    <mat-divider></mat-divider>
    <div class="content-header">
      <span class="header">MỨC LƯƠNG TƯƠNG LAI</span>
    </div>
    <div class="content-text">
      <span class="text">
        Nhu cầu việc làm trong ngành trí tuệ nhân tạo là cực kỳ cao, với mức lương hấp dẫn lên tới 6 con số. Mức lương chính xác sẽ phụ thuộc vào nhiều yếu tố, bao gồm yêu cầu công việc cụ thể, ngành nghề, kinh nghiệm, trình độ học vấn và vị trí địa lý.

        <br><br>
        Theo Glassdoor, mức lương trung bình của ngành Trí tuệ nhân tạo là 112,132 USD/ năm. Bên cạnh đó, theo Datamation, mức lương trung bình cho một lập trình viên trí tuệ nhân tạo là từ 100.000 USD đến 150.000 USD. Mặt khác,  trung bình các kỹ sư AI kiếm được 171.715 USD, trong khi những người có thu nhập cao nhất kiếm được hơn 250.000 USD.
      </span>
    </div>
  </div>

  <div class="content-section school-rank">
    <mat-divider></mat-divider>
    <div class="content-header">
      <span class="header">CÁC TRƯỜNG CÓ CHƯƠNG TRÌNH ĐÀO TẠO</span>
    </div>

    <div class="school-rank-container row">
      <div class="school-rank-item col-sm">
        <app-landing-school-item></app-landing-school-item>
      </div>
      <div class="school-rank-item col-sm">
        <app-landing-school-item></app-landing-school-item>
      </div>
      <div class="school-rank-item col-sm">
        <app-landing-school-item></app-landing-school-item>
      </div>
      <div class="school-rank-item col-sm">
        <app-landing-school-item></app-landing-school-item>
      </div>
    </div>


    <button class="show-all-btn">Xem tất cả</button>


  </div>

</div>
<app-footer></app-footer>
