<div class="main" #container>
  <div class="items">
    <p>Qick help to find U</p>
    <p>Chào mừng bạn trở lại</p>

    <form action="" (ngSubmit)="onSubmit()" #f="ngForm" name="form">
      <input type="email"
      class="form-control"
      name="email"
      [(ngModel)]="form.email"
      required
      #email="ngModel">

      <input type="password"
      class="form-control"
      name="password"
      [(ngModel)]="form.password"
      required
      #password="ngModel">

      <a class="forget-password" href="#">
        <h3 class="forget-password">Quên mật khẩu</h3>
      </a>
      <input type="submit" class="btn-submit" value="Đăng nhập">
    </form>
  </div>
  <!-- 
  <pre>
    Form Valid: {{loginForm.valid}}
    Form Dirty: {{loginForm.dirty}}
    Username Valid: {{username.valid}}
    Username Dirty: {{username.dirty}}
    Password Valid: {{password.valid}}
    Password Dirty: {{password.dirty}}


  </pre> -->


  <h4 class="or">Hoặc</h4>
  <div class="other-login">
    <img src="/assets/img/fb-icon.png" alt="">
    <img src="/assets/img/google-icon.png" alt="">
  </div>
  <a (click)="marginRight()" class="create-page-button">Tạo tài khoản</a>


</div>