<div class="main">
  <div class="items">
    <p>Qick help to find U</p>
    <p>Chào mừng bạn trở lại</p>

    <form #loginForm="ngForm" action="" (ngSubmit)="login()">
      <input type="text" placeholder="Địa chỉ email" name="email" required
       #username="ngModel" class="email" [(ngModel)]="model.email">
      <input type="password" placeholder="Mật khẩu" name="password" required
      #password="ngModel" class="password" [(ngModel)]="model.password">
      <a class="forget-password" href="#">
        <h3 class="forget-password">Quên mật khẩu</h3>
      </a>
      <input type="submit" class="btn-submit" value="Đăng nhập">
    </form>
  </div>
<!-- 
  <pre>
    Form Valid: {{loginForm.valid}}
    Form Dirty: {{loginForm.dirty}}
    Username Valid: {{username.valid}}
    Username Dirty: {{username.dirty}}
    Password Valid: {{password.valid}}
    Password Dirty: {{password.dirty}}


  </pre> -->


  <h4 class="or">Hoặc</h4>
  <div class="other-login">
    <img src="/assets/img/fb-icon.png" alt="">
    <img src="/assets/img/google-icon.png" alt="">
  </div>
  <a href="#" class="create-page">Tạo tài khoản</a>


</div>