<div class="main">
  <div class="items">
    <p>Qick help to find U</p>
    <p>Chào mừng bạn trở lại</p>

    <form action="">
      <input type="text" placeholder="Địa chỉ email" class="email">
      <input type="password" placeholder="Mật khẩu" class="password">
      <a class="forget-password" href="#">
        <h3 class="forget-password">Quên mật khẩu</h3>
      </a>
      <input type="submit" class="btn-submit" value="Đăng nhập">
    </form>
  </div>


  <h4 class="or">Hoặc</h4>
  <div class="other-login">
    <img src="/assets/img/fb-icon.png" alt="">
    <img src="/assets/img/google-icon.png" alt="">
  </div>
  <a href="#" class="create-page">Tạo tài khoản</a>


</div>