<app-nav></app-nav>
<div class="page-container">
    <div class="section first-section">
        <div class="title">Các bài trắc nghiệm tính cách</div>
        <div class="desc">Các bạn muốn tìm hiểu tính cách của mình phù hợp với ngành nghề nào, trường đại học nào? <br/>Những bài trắc nghiệm tính cách dưới đây là bước đầu tiên để bạn xác định được điều đó.</div>
    </div>
    <div class="section card-item" *ngFor="let test of tests" #sectionItem>
        <div class="test-item">
            <div class="test-img">
                <img [src]="test.backgroundUrl" alt="">
            </div>
            <div class="item-info">
                <div class="item-title">{{test.testName}}</div>
                <div class="item-desc">{{test.introduction}}</div>
                <div class="btn-action">
                    <button mat-raised-button color="primary" (click)="redirectTest(test.testTypeId,test.id,1)"
                        class="btn btn-detail">Chi tiết</button>
                    <button mat-raised-button color="primary" (click)="redirectTest(test.testTypeId,test.id,0)"
                        class="btn btn-start">Bắt đầu</button>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
