<div class="school-container">
  <div class="header-section">
    <div class="school-img-container">
      <!-- <img
        src="https://chungta.vn/photo/anh/chiem-nguong-khong-gian-xanh-cua-dh-fpt-hcm-1130853.html
    "
        alt="school image"
      /> -->
      <img
        src="https://i.chungta.vn/2020/09/20/2-1600585802_1200x0.jpg"
        alt="school image"
        class="school-img"
      />
    </div>
    <div class="school-logo-container">
      <img
        class="school-logo"
        src="https://downloadlogomienphi.com/sites/default/files/logos/download-logo-vector-dai-hoc-fpt-mien-phi.jpg"
        alt="school logo"
      />
      <p class="school-name">University ABC</p>
    </div>

    <div class="info-form-section">
      <div class="form-section-header-container">
        <p class="form-section-header">Thông tin tổng quan</p>
      </div>

      <div class="form-content">
        <div class="form-content-item row">
          <span class="content-item-name col-4">Địa chỉ :</span>

          <input
            class="content-item-input col-6"
            type="text"
            value="123 ABC .St .Dst City"
          />
        </div>
        <div class="form-content-item row">
          <span class="content-item-name col-4">Email :</span>

          <input
            class="content-item-input col-6"
            type="text"
            value="123 ABC .St .Dst City"
          />
        </div>
        <div class="form-content-item row">
          <span class="content-item-name col-4">Số điện thoại :</span>

          <input
            class="content-item-input col-6"
            type="text"
            value="123 ABC .St .Dst City"
          />
        </div>
        <div class="form-content-item row">
          <span class="content-item-name col-4">Giới thiệu :</span>

          <textarea
            class="content-item-input col-6 introduction"
            type="text"
            value=""
          >
123 ABC .St .Dst City</textarea
          >
        </div>
      </div>
    </div>

    <div class="info-form-section">
      <div class="form-section-header-container">
        <p class="form-section-header">Thông tin tư vấn</p>
      </div>

      <div class="majors-section">
        <div class="form-content">
          <div class="form-content-item row">
            <span class="content-item-name col-4">Ngành</span>

            <input
              class="content-item-input col-6"
              type="text"
              value="123 ABC .St .Dst City"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="school-info-container"></div>
  </div>
</div>
