<div class="page-container">
  <app-nav></app-nav>

  <div class="banner-section">
    <img src="assets/img/holland-text-image.png" alt="mbti test" />
  </div>
  <div class="banner-option">
    <a href="#" routerLink="/holland-quiz-attempt" class="btn-start"
      >Bắt đầu ngay</a
    >
  </div>
</div>

<div class="content-container">
  <div class="content-section">
    <h4 class="content-header">Holland Test là gì</h4>
    <p class="content-text">
      Trắc nghiệm Holland còn được biết đến với cái tên trắc nghiệm sở thích
      Holland, đây là mô hình lý thuyết nghề nghiệp do John Holland – nhà tâm lý
      học người Mỹ phát triển. Hiện nay, mô hình của ông đã được ứng dụng trong
      thực tiễn hướng nghiệp tại đông đảo các quốc gia trên thế giới và được ghi
      nhận bởi sự chính xác, chi tiết trong quá trình phân tích tính cách, sở
      thích giúp người thực hiện dễ dàng tìm ra ngành nghề phù hợp với bản thân.
      <br />
      Khác biệt về đặc điểm, nhưng các những nhóm tính cách được Holland chỉ ra
      không hề tách biệt hay kị nhau mà trên thực tế, khi hiểu rõ tính cách và
      đặc điểm của từng nhóm, chúng ta cho dù khác biệt vẫn có thể hòa hợp, bổ
      sung cho sự khuyết thiếu hiệu quả hơn, tạo thành một thể thống nhất. Để
      biết bản thân thuộc về nhóm tính cách nào, bạn cần thực hiện một bài kiểm
      tra bao gồm những câu hỏi khám phá sở thích. Một tính cách nhất quán sẽ
      dẫn lối bạn đến với kết quả cuối cùng, số lượng lớn câu trả lời bạn chọn
      nghiêng về nhóm nào thì bạn sẽ thuộc nhóm tính cách đó. Nghe có vẻ phức
      tạp, nhưng đến khi tiếp xúc với một bài trắc nghiệm Holland, bạn sẽ thấy
      mọi thứ đơn giản hơn rất nhiều và chỉ cần thực hiện theo hướng dẫn là
      thành công.
    </p>
  </div>
  <div class="content-section">
    <h4 class="content-header">Trắc nghiệm Holland</h4>
    <p class="content-text">
      Theo Holland, có 6 nhóm sở thích nghề nghiệp tương ứng với các loại ngành
      nghề khác nhau trong xã hội nhưng có quan hệ với nhau. Đó là:
      <br /><br />
      Realistic –nhóm Kỹ thuật: Thích làm với những vật cụ thể, máy móc, dụng
      cụ, cây cối, con vật hoặc các hoạt động ngoài trời.
      <br /><br />
      Investigate – nhóm Nghiên cứu: Thích quan sát, tìm tòi, điều tra, phân
      tích, đánh giá hoặc giải quyết vấn đề.
      <br /><br />
      Artistic – nhóm Nghệ thuật: Có khả năng nghệ thuật, sáng tác, trực giác và
      thích làm việc trong các tình huống không có kế hoạch trước như dùng trí
      tưởng tượng và sáng tạo.
      <br /><br />
      Social – nhóm Xã hội: Thích làm việc cung cấp hoặc làm sáng tỏ thông tin,
      thích giúp đỡ, huấn luyện, chữa trị hoặc chăm sóc sức khoả cho người khác,
      có khả năng về ngôn ngữ.
      <br /><br />
      Enterprising – nhóm Quản lý: Thích làm việc với những người khác, có khả
      năng tác động, thuyết phục, thể hiện, lãnh đạo hoặc quản lý các mục tiêu
      của tổ chức, các lợi ích kinh tế.
      <br /><br />
      Conventional – nhóm nghiệp vụ: Thích làm việc với dữ liệu, con số, có khả
      năng làm việc văn phòng, thống kê, thực hiện các công việc đòi hỏi chi
      tiết, tỉ mỉ, cẩn thận hoặc làm theo hướng dẫn của người khác.
    </p>
  </div>

  <div class="panel-section content-section">
    <h4 class="content-header">Các loại tính cách</h4>
    <div class="type-panel-container" *ngFor="let type of types; let i = index">
      <!-- <div class="card-row">
        <div class="card" *ngFor="let type of mbtiTypes">
          <app-type-card [name]="type.name" [shorthand]="type.shorthand" [imgSrc]="type.imgSrc"></app-type-card>
        </div>
      </div> -->

      <app-expansion-panel
        *ngIf="i / 2 != 0"
        [name]="type.name"
        [shorthand]="type.shorthand"
        [text]="type.text"
        [color]="type.color"
        [isAllignRight]="true"
      ></app-expansion-panel>
      <app-expansion-panel
        *ngIf="i / 2 == 0"
        [name]="type.name"
        [shorthand]="type.shorthand"
        [color]="type.color"
        [text]="type.text"
        [isAllignRight]="false"
      ></app-expansion-panel>
    </div>
  </div>
</div>

<app-footer></app-footer>
