<div class="page-container">
  <app-nav></app-nav>

  <div class="banner-section">
    <img src="{{test.bannerUrl}}" alt="mbti test" />
  </div>
  <div class="banner-option">
    <a (click)="redirectTest(test.testTypeId,test.id,0)" class="btn-start">Bắt đầu ngay</a>
  </div>
</div>
<p class="note">*Bạn nên làm lại bài test sau mỗi 6 tháng</p>


<div class="content-container">
  <div class="content-section">
    <h4 class="content-header">{{test.testName}} là gì</h4>
    <p class="content-text">
      {{test.introduction}}
    </p>
  </div>
  <div class="content-section">
    <h4 class="content-header">Lịch sử</h4>
    <p class="content-text">
      {{ test.history }}
    </p>
  </div>
  <div class="content-section">
    <h4 class="content-header"> {{test.testName}} dựa trên tiêu chí </h4>
    <p class="content-text">
      {{test.criteriaInformation}}
    </p>
  </div>

  <div class="panel-section content-section">
    <h4 class="content-header">Các loại tính cách</h4>
    <div class="type-panel-container" *ngFor="let type of characters; let i = index">
      <!-- <div class="card-row">
        <div class="card" *ngFor="let type of mbtiTypes">
          <app-type-card [name]="type.name" [shorthand]="type.shorthand" [imgSrc]="type.imgSrc"></app-type-card>
        </div>
      </div> -->

      <app-expansion-panel *ngIf="i / 2 != 0" [name]="type.resultName" [shorthand]="type.resultShortName"
        [text]="type.resultSummary" [img]="type.resultPictureUrl" [color]="colors[i]"
        [isAllignRight]="true"></app-expansion-panel>
      <app-expansion-panel *ngIf="i / 2 == 0" [name]="type.resultName" [shorthand]="type.resultShortName"
        [img]="type.resultPictureUrl" [text]="type.resultSummary" [color]="colors[i]"
        [isAllignRight]="false"></app-expansion-panel>
    </div>
  </div>
</div>

<app-footer></app-footer>