<app-nav></app-nav>
<div class="page-container">
    <div class="page-wrapper">
        <div class="search-section">
            <!-- <div class="hamburger" (click)="opened=!opened">
                <i class="fa fa-bars"></i>
            </div> -->
            <form [formGroup]="search" class="search-form" (ngSubmit)="searchSchool()">
                <mat-icon>search</mat-icon>
                <input type="text" class="search-input" placeholder="Tìm kiếm mail">
            </form>
            <div class="tool-bar">
                <!-- Search's Toolbar -->
            </div>
        </div>
        <div class="main-content">
            <div *ngIf="!listMailbox" class="no-mail-msg">Hiện chưa có mail nào</div>
            <ng-container *ngFor="let mail of listMailbox">
                <div class="mail-card"
                    (click)="viewDetail(mail.id, mail.uniName, mail.userName, mail.uniAvatarUrl)">
                    <div class="mail-name">{{mail.uniName || "Chưa xác định"}}</div>
                    <div class="mail-subject">{{mail.topic}}</div>
                    <div class="mail-time">{{mail.createDate | date: 'dd/MM/yyyy'}}</div>
                </div>
                <mat-divider></mat-divider>
            </ng-container>
        </div>
        <button mat-raised-button class="new-mail-btn" (click)="isShowNewEmailPopup = !isShowNewEmailPopup"
            [ngClass]="{'hide': isShowNewEmailPopup}">
            <mat-icon>edit</mat-icon> Soạn thư
        </button>
    </div>
    <div class="new-mail-popup" [ngClass]="{'hide': !isShowNewEmailPopup}">
        <div class="new-mail-header">
            <div class="new-mail-header-text">Thư mới</div>
            <div class="new-mail-header-btn-action">
                <!-- <i class="fa fa-window-minimize"></i> -->
                <i class="fa fa-times" (click)="isShowNewEmailPopup = !isShowNewEmailPopup"></i>
            </div>
        </div>
        <div class="new-mail-receiver">
            <form class="example-form" [formGroup]="myForm">
                <div class="group-form">
                    <span>Đến: </span>
                    <mat-form-field class="example-full-width" appearance="legacy">
                        <mat-label>Chọn tên trường</mat-label>
                        <input type="text" placeholder="Pick one" aria-label="Number" matInput formControlName="schoolControl"
                            [matAutocomplete]="auto" required>
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="group-form">
                    <span>Topic: </span>
                    <mat-form-field class="example-full-width" appearance="legacy">
                        <input matInput placeholder="Nhập chủ đề" formControlName="topic" required>
                    </mat-form-field>
                </div>
                <div class="new-email-input">
                    <ejs-richtexteditor [toolbarSettings]="customToolbar" #defaultRTE id='defaultRTE' height="100%">
                        <ng-template #valueTemplate>
                            <p></p>
                        </ng-template>
                    </ejs-richtexteditor>
                    <button id='submit-new-email' ej-button mat-fab color="primary" class="new-email-send"
                        (click)="getNewEmailContent()">
                        <i class="fa fa-paper-plane"></i>
                    </button>
                </div>
            </form>
        </div>

        <!-- <form class="example-form" > -->

        <!-- </form> -->
        
        <mat-divider></mat-divider>
    </div>
</div>