<app-nav></app-nav>
<div class="addmission-container">
  <div class="header-section">
    <div class="img-wrapper">
      <img src="{{ news?.bannerUrl }}" alt="" class="header-img" />
    </div>

    <div class="header-content">
      <div class="header-content-left">
        <p class="major-name">{{ news?.uniSpecName }}</p>
        <p class="school-name">{{ news?.uniName }} - Ngày đăng {{news?.createDate | date: 'dd/MM/yyyy'}}</p>
      </div>
      <div class="header-content-right">
        <button class="apply-btn" (click)="redirectToSchoolDetail(news?.uniId)">
          Chi tiết trường
        </button>
        <!-- <button class="save-btn">Lưu</button> -->
      </div>
    </div>
  </div>

  <!-- <ul class="tab-list">
    <li class="tab-item active" (click)="changTab($event, 0)">
      Chi Tiết Tuyển Sinh
    </li>
    <li class="tab-item" (click)="changTab($event, 1)">Thông Tin Trường học</li>
  </ul> -->

  <div class="info-section active">
    <!-- <p class="info-title">Thông tin chung</p>
    <div class="condition-list">
      <div class="condition-item ">
        <i class="icon-condition item1 fa fa-calendar" aria-hidden="true"></i>
        <p class="condition">Hình thức xét tuyển</p>
        <p class="condition-need">Nộp học bạ</p>
      </div>
      <div class="condition-item">
        <i class="icon-condition item1 fa fa-calendar" aria-hidden="true"></i>
        <p class="condition">Bằng cấp</p>
        <p class="condition-need">THPT</p>
      </div>
      <div class="condition-item">
        <i class="icon-condition item1 fa fa-calendar" aria-hidden="true"></i>
        <p class="condition">Chỉ tiêu</p>
        <p class="condition-need">4000</p>
      </div>
      <div class="condition-item">
        <i class="icon-condition item1 fa fa-calendar" aria-hidden="true"></i>
        <p class="condition">Hạn nhận hồ sơ</p>
        <p class="condition-need">29/12/2022</p>
      </div>
    </div> -->

    <!-- TODO: thêm nội dung bài viết ở đây -->

    <p class="info-title">{{news?.title}}</p>
    <div class="info-content" [innerHTML]="news?.content"></div>
  </div>

  <div class="info-section">
    <p class="info-title">Thông tin trường học</p>
    <p class="info-content">
      Chính thức thành lập ngày 8/9/2006 theo Quyết định của Thủ tướng Chính
      phủ, Trường Đại học FPT trở thành trường đại học đầu tiên của Việt Nam do
      một doanh nghiệp đứng ra thành lập với 100% vốn đầu tư từ Tập đoàn FPT.
    </p>
    <p class="info-title">Quy mô trường học</p>
    <div class="school-info-row">
      <i class="fa fa-map-marker" aria-hidden="true"></i>
      <span class="school-position-title">Vị trí trường học: </span>
      <span class="school-position">31/12 Trần Thái Tông, Q.Tân Bình, TP.HCM</span>
    </div>

    <div class="school-info-row">
      <i class="fa fa-user" aria-hidden="true"></i>
      <span class="school-position-title">Vị trí trường học: </span>
      <span class="school-position">31/12 Trần Thái Tông, Q.Tân Bình, TP.HCM</span>
    </div>

    <div class="school-info-row">
      <i class="fa fa-globe" aria-hidden="true"></i>
      <span class="school-position-title">Website: </span>
      <span class="school-position">https://daihoc.fpt.edu.vn/tag/fptu/</span>
    </div>
  </div>

  <div class="info-section">Hihihi</div>
</div>