<div class="page-container">
    <app-nav></app-nav>
    <div class="search-container">
        <div class="search-container-left">
            <div class="search-main-header">Khám phá các trường đại học nổi bật</div>
            <div class="search-sub-header">Tra cứu thông tin và tìm kiếm trường đại học tốt nhất dành cho bạn</div>
            <form [formGroup]="search" class="search-form" (ngSubmit)="searchSchool()">
                <mat-icon>search</mat-icon>
                <input type="text" class="search-input" placeholder="Nhập tên trường đại học">
                <button type="submit" mat-raised-button>Tìm kiếm</button>
            </form>
        </div>
        <div class="search-container-right">
            <img src="./../../assets/img/school-list-logo.png" alt="">
        </div>
    </div>
    <div class="wrapper">
        <div class="header-title">DANH SÁCH CÁC TRƯỜNG ĐẠI HỌC NỔI BẬT</div>
        <div class="job-wrapper">
            <ng-container *ngIf="resultUni.length===0">
                <div class="card-item" *ngFor="let uni of uniList | slice:0:12">
                    <div class="job-icon">
                        <div class="img-wrapper">
                            <img src="../../assets/img/uniPlaceholder.png" alt="" class="main-img">
                            <div class="sub-img-wrapper"><img src="../../assets/img/uniAvatarPlaceholder.png" alt=""
                                    class="sub-img" *ngIf="uni.avatarUrl === 'string'"></div>
                            <div class="sub-img-wrapper" *ngIf="uni.avatarUrl !== 'string'"><img src="{{uni.avatarUrl}}"
                                    alt="" class="sub-img"></div>
                        </div>
                        <div class="mini-background"></div>
                    </div>
                    <div class="job-name">{{uni.uniName}}</div>
                    <div class="job-desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, id qui earum laborum aperiam
                        quibusdam iste quidem cumque! Repellat a numquam ducimus mollitia, odio similique dolorem
                        officia
                        cum natus veniam quis obcaecati. Animi, ducimus tempore at quasi ab repellendus beatae.
                    </div>
                    <div class="action-btn">
                        <button mat-raised-button class="view-detail-btn" (click)="viewSchoolDetail()">Xem chi
                            tiết</button>
                        <button mat-raised-button class="view-detail-btn" (click)="submitApplication(uni.id)">Nộp hồ
                            sơ</button>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="resultUni.length!==0">
                <div class="card-item" *ngFor="let uni of resultUni | slice:0:12">
                    <div class="job-icon">
                        <div class="img-wrapper">
                            <img src="../../assets/img/uniPlaceholder.png" alt="" class="main-img">
                            <div class="sub-img-wrapper"><img src="../../assets/img/uniAvatarPlaceholder.png" alt=""
                                    class="sub-img" *ngIf="uni.avatarUrl === 'string'"></div>
                            <div class="sub-img-wrapper" *ngIf="uni.avatarUrl !== 'string'"><img src="{{uni.avatarUrl}}"
                                    alt="" class="sub-img"></div>
                        </div>
                        <div class="mini-background"></div>
                    </div>
                    <div class="job-name">{{uni.uniName}}</div>
                    <div class="job-desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, id qui earum laborum aperiam
                        quibusdam iste quidem cumque! Repellat a numquam ducimus mollitia, odio similique dolorem
                        officia
                        cum natus veniam quis obcaecati. Animi, ducimus tempore at quasi ab repellendus beatae.
                    </div>
                    <div class="action-btn">
                        <button mat-raised-button class="view-detail-btn" (click)="viewSchoolDetail()">Xem chi
                            tiết</button>
                        <button mat-raised-button class="view-detail-btn" (click)="submitApplication(uni.id)">Nộp hồ
                            sơ</button>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>