<div class="page-container">
    <app-nav></app-nav>
    <div class="search-container">
        <div class="search-container-left">
            <div class="search-main-header">Khám phá các trường đại học nổi bật</div>
            <div class="search-sub-header">Tra cứu thông tin và tìm kiếm trường đại học tốt nhất dành cho bạn</div>
            <form [formGroup]="search" class="search-form" (ngSubmit)="searchSchool()">
                <mat-icon>search</mat-icon>
                <input type="text" class="search-input" placeholder="Nhập tên trường đại học">
                <button type="submit" mat-raised-button>Tìm kiếm</button>
            </form>
        </div>
        <div class="search-container-right">
            <img src="./../../assets/img/school-list-logo.png" alt="">
        </div>
    </div>
    <div class="wrapper">
        <div class="header-title">DANH SÁCH CÁC TRƯỜNG ĐẠI HỌC {{isFromMajor ? 'PHÙ HỢP' : 'NỔI BẬT'}}</div>
        <div class="job-wrapper">
            <ng-container *ngIf="resultUni.length===0">
                <div class="card-item" *ngFor="let uni of uniList | slice:0:12">
                    <div class="job-icon">
                        <div class="img-wrapper">
                            <img src="../../assets/img/uniPlaceholder.png" alt="" class="main-img">
                            <div class="sub-img-wrapper"><img src="../../assets/img/uniAvatarPlaceholder.png" alt=""
                                    class="sub-img" *ngIf="uni.avatarUrl === 'string'"></div>
                            <div class="sub-img-wrapper" *ngIf="uni.avatarUrl !== 'string'"><img src="{{uni.avatarUrl}}"
                                    alt="" class="sub-img"></div>
                        </div>
                        <div class="mini-background"></div>
                    </div>
                    <div class="job-name" [matTooltip]="uni.uniName">{{uni.uniName}}</div>
                    <div class="job-desc">
                        {{uni.description | slice:0: 150 }} ...
                    </div>
                    <div class="action-btn">
                        <button mat-raised-button class="view-detail-btn" (click)="viewSchoolDetail(uni.id)">Xem chi
                            tiết</button>
                        <button mat-raised-button class="view-detail-btn" (click)="considerUni(uni.id)">Quan tâm</button>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="resultUni.length!==0">
                <div class="card-item" *ngFor="let uni of resultUni | slice:0:12">
                    <div class="job-icon">
                        <div class="img-wrapper">
                            <img src="../../assets/img/uniPlaceholder.png" alt="" class="main-img">
                            <div class="sub-img-wrapper"><img src="../../assets/img/uniAvatarPlaceholder.png" alt=""
                                    class="sub-img" *ngIf="uni.avatarUrl === 'string'"></div>
                            <div class="sub-img-wrapper" *ngIf="uni.avatarUrl !== 'string'"><img src="{{uni.avatarUrl}}"
                                    alt="" class="sub-img"></div>
                        </div>
                        <div class="mini-background"></div>
                    </div>
                    <div class="job-name">{{uni.uniName}}</div>
                    <div class="job-desc">
                        {{uni.description | slice:0: 100}} ...
                    </div>
                    <div class="action-btn">
                        <button mat-raised-button class="view-detail-btn" (click)="viewSchoolDetail(uni.id)">Xem chi
                            tiết</button>
                        <button mat-raised-button class="view-detail-btn" (click)="considerUni(uni.id)">Quan tâm</button>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>