<app-nav></app-nav>
<div class="page-container">
    <div class="search-container">
        <div class="search-container-left">
            <div class="search-main-header">Khám phá các trường đại học nổi bật</div>
            <div class="search-sub-header">Tra cứu thông tin và tìm kiếm trường đại học tốt nhất dành cho bạn</div>
            <form [formGroup]="search" class="search-form" (ngSubmit)="searchSchool()">
                <mat-icon>search</mat-icon>
                <input type="text" class="search-input" formControlName="schoolNameCtl"
                    placeholder="Nhập tên trường đại học">
                <button type="submit" mat-raised-button>Tìm kiếm</button>
            </form>
        </div>
        <div class="search-container-right">
            <img src="./../../assets/img/school-list-logo.png" alt="">
        </div>
    </div>
    <div class="wrapper">
        <div class="header-title">DANH SÁCH CÁC TRƯỜNG ĐẠI HỌC {{isFromMajor ? 'PHÙ HỢP' : 'NỔI BẬT'}}</div>
        <div class="empty-uni-msg" *ngIf="displayedUniList.length === 0">Không tìm thấy kết quả</div>
        <div class="job-wrapper">
            <ng-container *ngIf="resultUni.length===0">
                <div class="card-item" *ngFor="let uni of displayedUniList | slice:0:12">
                    <div class="job-icon">
                        <div class="img-wrapper">
                            <img src="{{uni.coverPhotoUrl}}" alt="" class="main-img"
                                *ngIf="uni.coverPhotoUrl !== 'string' && uni.coverPhotoUrl !== '' && uni.coverPhotoUrl !== null">
                            <img src="../../assets/img/university-placeholder.jpg" alt="" class="main-img"
                                *ngIf="uni.coverPhotoUrl === 'string' || uni.coverPhotoUrl === '' || uni.coverPhotoUrl === null">
                            <div class="sub-img-wrapper"><img src="../../assets/img/university-placeholder.jpg" alt=""
                                    class="sub-img" *ngIf="uni.avatarUrl === 'string'"></div>
                            <div class="sub-img-wrapper" *ngIf="uni.avatarUrl !== 'string'"><img src="{{uni.avatarUrl}}"
                                    alt="" class="sub-img"></div>
                        </div>
                        <div class="mini-background"></div>
                    </div>
                    <div (click)="viewSchoolDetail(uni.id)" class="job-name" [matTooltip]="uni.uniName">{{uni.uniName}}
                        - {{uni.uniCode}}</div>
                    <div class="job-desc">
                        {{uni.description | slice:0: 150 }} ...
                    </div>
                    <div class="address">
                        Địa chỉ: <span>{{uni.addressNumber | slice:0: 150 }}</span>
                    </div>
                    <!-- <div class="action-btn">
                        <button mat-raised-button class="view-detail-btn" (click)="viewSchoolDetail(uni.id)">Xem chi
                            tiết</button>
                        <button mat-raised-button class="view-detail-btn" (click)="considerUni(uni.id)">Quan
                            tâm</button>
                    </div> -->
                </div>
            </ng-container>
            <ng-container *ngIf="resultUni.length!==0">
                <div class="card-item" *ngFor="let uni of displayedUniList | slice:0:12">
                    <div class="job-icon">
                        <div class="img-wrapper">
                            <img src="{{uni.coverPhotoUrl}}" alt="" class="main-img"
                                *ngIf="uni.coverPhotoUrl !== 'string' && uni.coverPhotoUrl !== '' && uni.coverPhotoUrl !== null">
                            <img src="../../assets/img/university-placeholder.jpg" alt="" class="main-img"
                                *ngIf="uni.coverPhotoUrl === 'string' || uni.coverPhotoUrl === '' || uni.coverPhotoUrl === null">
                            <div class="sub-img-wrapper"><img src="../../assets/img/university-placeholder.jpg" alt=""
                                    class="sub-img" *ngIf="uni.avatarUrl === 'string'"></div>
                            <div class="sub-img-wrapper" *ngIf="uni.avatarUrl !== 'string'"><img src="{{uni.avatarUrl}}"
                                    alt="" class="sub-img"></div>
                        </div>
                        <div class="mini-background"></div>
                    </div>
                    <!-- <div class="job-name">{{uni.uniName}}</div>
                    <div class="job-desc">
                        {{uni.description | slice:0: 100}} ...
                    </div>
                    <div class="action-btn">
                        <button mat-raised-button class="view-detail-btn" (click)="viewSchoolDetail(uni.id)">Xem chi
                            tiết</button>
                        <button mat-raised-button class="view-detail-btn" (click)="considerUni(uni.id)">Quan
                            tâm</button>
                    </div> -->
                    <div (click)="viewSchoolDetail(uni.id)" class="job-name" [matTooltip]="uni.uniName">{{uni.uniName}}
                        - {{uni.uniCode}}</div>
                    <div class="job-desc">
                        {{uni.description | slice:0: 150 }} ...
                    </div>
                    <div class="address">
                        Địa chỉ: <span>{{uni.addressNumber | slice:0: 150 }}</span>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
