<app-nav></app-nav>
<div class="page-container">
    <div class="page-wrapper">
        
        <div class="detail-section">
            <div class="detail-toolbar">
                <mat-icon matTooltip="Lùi về" (click)="backPage()">keyboard_arrow_left
                </mat-icon>
                <mat-icon matTooltip="Đánh dấu chưa xem">email</mat-icon>
                <mat-icon matTooltip="Xóa mail">delete</mat-icon>
            </div>
            <mat-divider></mat-divider>
            <div id="detail-content">
                <ng-container *ngFor="let mes of listMessage">
                    <div class="detail-item">
                        <div class="detail-item-header">
                            <div class="detail-user-info">
                                <div class="detail-avatar">
                                    <img src="{{mes.messageType === 'UNIVERSITY' ? uniAvatarUrl : userProfile?.avatarUrl}}" alt="">
                                </div>
                                <div class="detail-sender-name">
                                    {{mes.messageType === 'UNIVERSITY' ? uniName : userName }}
                                </div>
                            </div>
                            <div class="detail-info">
                                <div class="detail-info-time">
                                    {{mes.createDate | date: "dd/MM/yyyy hh:mm a"}}
                                </div>
                            </div>
                        </div>
                        <div class="detail-body" [innerHTML]="mes.messageContent"></div>
                    </div>
                    <mat-divider></mat-divider>
                </ng-container>
                <button mat-raised-button class="reply-btn" (click)="replyHandle()" [ngClass]="{'hide': isReply}">
                    <mat-icon>reply</mat-icon> Phản hồi
                </button>
                <div [ngClass]="{'hide': !isReply}" class="reply-box">
                    <ejs-richtexteditor [toolbarSettings]="customToolbar" #defaultRTE id='defaultRTE' height="100%">
                        <ng-template #valueTemplate>
                            <p></p>
                        </ng-template>
                    </ejs-richtexteditor>
                    <button id='submit-new-email' ej-button mat-fab color="primary" class="new-email-send"
                        (click)="getNewEmailContent()">
                        <i class="fa fa-paper-plane"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>