*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}


.menu-header {
  border-left: solid 3px #51bfbb;
}

.header {
  font-size: 1rem;
  font-family: "Open Sans Semibold";
  margin: auto 1%;
}

.mid-dot {
  font-size: 1rem;
  /* line-height: 1rem;
  margin: auto 0; */
}

.content-link {
  font-size: 0.9rem;
  color: black;
  text-decoration: none;
  /* line-height: 1.1; */
}


.content-link:hover {
  color: blue;
  cursor: pointer;
}

a{
  color: black;
}

a:hover{
  color: blue;
  cursor: pointer;
}



