* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.5s;
}

app-nav {
  box-shadow: 10px 10px black;
}

.color-theme {
  color: #15b1aa;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.mt-8 {
  margin-top: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.profile-container {
  height: calc(100vh - 59px);
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  background-color: #f6f6f9;
}

.profile-sidebar {
  width: 250px;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  transition: width 0.5s;
  position: absolute;
  left: 0;
  border-right: 1px solid #ccc;
  background-color: rgb(253, 253, 253);
}

.profile-item-text {
  width: 200px;
  transition: opacity 0.2s;
  position: absolute;
}

.test {
  position: relative;
  width: 64px;
}
.profile-sidebar.close {
  width: 64px;
}

.profile-sidebar.close span {
  opacity: 0;
}

.profile-sidebar.close ~ .profile-info {
  width: calc(100% - 64px);
}

.profile-name-img {
  display: flex;
  align-items: center;
  width: 64px;
  margin-bottom: 30px;
  position: relative;
}

.profile-img-title-row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-img {
  width: 50px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  transition: none;
  margin: 7px;
}

.upload-img {
  font-size: 22px;
  font-weight: 500;
}

.upload-img-note {
  font-size: 18px;
  font-weight: 500;
}

.profile-name {
  font-weight: 600;
  font-size: 22px;
  margin-left: 10px;
  width: 200px;
  position: absolute;
  left: 64px;
  transition: all 0.2s;
}

.icon {
  font-size: 28px;
}

.info-basic-text {
  font-size: 28px;
  margin-left: 10px;
  font-weight: 500;
}

.profile-list {
  list-style-type: none;
  width: 100%;
}

.icon-sidebar {
  margin: 0 20px;
  font-size: 24px;
  width: 20px;
  text-align: center;
}

.profile-item {
  padding: 10px 0;
  font-size: 18px;
  transition: padding 0.5s;
  // color: #797bde;
}

.profile-item:not(.active):hover {
  padding: 10px 20px;
}

.profile-item.active {
  background-color: #e1e2ef;
  border-left: 6px solid #7380ec;
  color: #7380ec;
}

.profile-info {
  height: 100%;
  width: calc(100% - 250px);
  background-color: #f6f6f9;
  padding: 30px 50px;
  display: none;
  position: absolute;
  right: 0;
  overflow: scroll;
}

.profile-info.active {
  display: block;
}

.profile-title-row {
  width: 100%;
}

.btn-save,
.btn-save-bottom {
  padding: 8px 20px;
  border-radius: 20px;
  background-color: #69e7e2;
  border: none;
  font-weight: 500;
}

.btn-save-bottom {
  margin: 20px auto;
  padding: 10px 30px;
}

.btn-save:hover {
  cursor: pointer;
  opacity: 0.8;
}

.profile-img-title {
  font-weight: 500;
  font-size: 18px;
  margin: 20px 0;
}

.add-profile-img {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-profile-img:hover {
  cursor: pointer;
}

.add-profile-img:hover .background-blur {
  background-color: rgba(95, 90, 90, 0.8);
}

.add-profile-img:hover .add-icon {
  visibility: visible;
}

.profile-img2 {
  width: 100px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  transition: width 1s linear;
  z-index: 1;
}

.background-blur {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 2;
  text-align: center;
  transition: none;
}

.add-icon {
  font-size: 50px;
  color: #fff;
  visibility: hidden;
  transition: none;
  line-height: 100px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid #fff;
  background-color: #fff;
  box-shadow: -2px 2px 30px #ddd;
}

input:focus {
  outline: none;
}

textarea {
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid #fff;
  background-color: #fff;
  box-shadow: -2px 2px 30px #ccc;
  resize: none;
  text-align: justify;
}

.input-school {
  width: 100%;
}

label {
  color: #686868;
}

.input-introduce {
  height: 200px;
}

.input-img {
  width: 100px;
}

.profile-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 80px 80px 80px;
}

.profile-school-grid {
  display: grid;
  grid-template-columns: 30% 30%;
  grid-gap: 20px;
  margin: 20px 0;
}

.item4 {
  grid-row-start: 2;
  grid-row-end: 4;
}

li:hover {
  cursor: pointer;
}

.img-upload {
  display: none;
}

.icon-menu {
  display: none;
}

.icon-menu2 {
  position: absolute;
  top: 20px;
  left: 15px;
}

.background-menu-open {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #000;
  opacity: 0.7;
  display: none;
  z-index: 2;
}

.background-menu-open.active {
  display: block;
}
.btn-save-bottom {
  display: none;
}

@media (max-width: 950px) {
  .profile-container {
    justify-content: center;
  }

  .profile-img {
    display: none;
  }

  .profile-name {
    display: none;
  }

  .upload-img-note {
    display: none;
  }

  .profile-img-title-row {
    flex-direction: column;
  }

  .profile-img-title {
    margin: 10px;
  }

  .profile-img2 {
    order: 2;
    width: 150px;
  }

  .profile-img-title {
    text-align: center;
  }

  .profile-title-row {
    justify-content: center;
  }

  .upload-img {
    display: none;
  }

  .profile-grid {
    grid-template-columns: 100%;
  }

  .profile-info {
    padding: 0;
    right: auto;
  }

  .profile-img-title {
    display: none;
  }

  .profile-sidebar {
    display: none;
    transform: translateX(-300px);
    border-radius: 0;
    animation: menuFadeIn 0.5s ease;
    z-index: 2;
    height: 100vh;
  }

  .profile-sidebar.active {
    display: block;
    margin-left: 0;
    position: fixed;
    transform: translateX(0);
    left: 0;
    top: 0;
  }

  .profile-school-grid {
    grid-template-columns: 100%;
  }

  .info-basic-text {
    margin-right: 10px;
  }

  .icon-menu {
    display: inline;
  }
  .icon-menu:hover {
    cursor: pointer;
  }

  .add-profile-img {
    width: 150px;
    height: 150px;
  }

  .background-blur {
    visibility: hidden;
  }

  .add-icon {
    display: none;
  }

  .btn-save {
    display: none;
  }

  .btn-save-bottom {
    display: block;
  }

  .icon-menu2 {
    display: none;
  }

  input {
    box-shadow: none;
  }
  // .profile-item-text {
  //   display: none;
  // }
}

@media (max-width: 1300px) {
  // .profile-sidebar {
  //   display: none;
  // }
  // .profile-item-text {
  //   display: none;
  // }
}

@keyframes menuFadeIn {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}
