<div class="page-container">
  <app-nav></app-nav>
  <div class="wrapper">
    <div class="header-title">Các trường có ngành kỹ thuật phần mềm</div>
    <div class="header-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quas rerum dolorem impedit blanditiis quod repellat? Ratione at sit explicabo aut ullam maxime assumenda voluptates doloremque sed voluptas. Voluptatem dolorem earum aspernatur ipsa illo, culpa ullam voluptatum hic perspiciatis quisquam?</div>
    <div class="job-wrapper">
      <div class="card-item">
        <div class="job-icon">
          <div class="img-wrapper">
            <img src="../../assets/img/schoolImg/fpt.jpg" alt="" class="main-img">
            <div class="sub-img-wrapper"><img src="../../assets/img/schoolImg/fpt-logo.png" alt="" class="sub-img"></div>
          </div>
          <div class="mini-background"></div>
        </div>
        <div class="job-name">FPT Software</div>
        <div class="job-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, id qui earum laborum aperiam quibusdam iste quidem cumque! Repellat a numquam ducimus mollitia, odio similique dolorem officia cum natus veniam quis obcaecati. Animi, ducimus tempore at quasi ab repellendus beatae.
        </div>
        <button mat-raised-button class="view-detail-btn">Xem chi tiết</button>
      </div>
      <div class="card-item">
        <div class="job-icon">
          <div class="img-wrapper">
            <img src="../../assets/img/schoolImg/fpt.jpg" alt="" class="main-img">
            <div class="sub-img-wrapper"><img src="../../assets/img/schoolImg/fpt-logo.png" alt="" class="sub-img"></div>
          </div>
          <div class="mini-background"></div>
        </div>
        <div class="job-name">FPT Software</div>
        <div class="job-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, id qui earum laborum aperiam quibusdam iste quidem cumque! Repellat a numquam ducimus mollitia, odio similique dolorem officia cum natus veniam quis obcaecati. Animi, ducimus tempore at quasi ab repellendus beatae.
        </div>
        <button mat-raised-button class="view-detail-btn">Xem chi tiết</button>
      </div>
      <div class="card-item">
        <div class="job-icon">
          <div class="img-wrapper">
            <img src="../../assets/img/schoolImg/fpt.jpg" alt="" class="main-img">
            <div class="sub-img-wrapper"><img src="../../assets/img/schoolImg/fpt-logo.png" alt="" class="sub-img"></div>
          </div>
          <div class="mini-background"></div>
        </div>
        <div class="job-name">FPT Software</div>
        <div class="job-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, id qui earum laborum aperiam quibusdam iste quidem cumque! Repellat a numquam ducimus mollitia, odio similique dolorem officia cum natus veniam quis obcaecati. Animi, ducimus tempore at quasi ab repellendus beatae.
        </div>
        <button mat-raised-button class="view-detail-btn">Xem chi tiết</button>
      </div>
      <div class="card-item">
        <div class="job-icon">
          <div class="img-wrapper">
            <img src="../../assets/img/schoolImg/fpt.jpg" alt="" class="main-img">
            <div class="sub-img-wrapper"><img src="../../assets/img/schoolImg/fpt-logo.png" alt="" class="sub-img"></div>
          </div>
          <div class="mini-background"></div>
        </div>
        <div class="job-name">FPT Software</div>
        <div class="job-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, id qui earum laborum aperiam quibusdam iste quidem cumque! Repellat a numquam ducimus mollitia, odio similique dolorem officia cum natus veniam quis obcaecati. Animi, ducimus tempore at quasi ab repellendus beatae.
        </div>
        <button mat-raised-button class="view-detail-btn">Xem chi tiết</button>
      </div>
      <div class="card-item">
        <div class="job-icon">
          <div class="img-wrapper">
            <img src="../../assets/img/schoolImg/fpt.jpg" alt="" class="main-img">
            <div class="sub-img-wrapper"><img src="../../assets/img/schoolImg/fpt-logo.png" alt="" class="sub-img"></div>
          </div>
          <div class="mini-background"></div>
        </div>
        <div class="job-name">FPT Software</div>
        <div class="job-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, id qui earum laborum aperiam quibusdam iste quidem cumque! Repellat a numquam ducimus mollitia, odio similique dolorem officia cum natus veniam quis obcaecati. Animi, ducimus tempore at quasi ab repellendus beatae.
        </div>
        <button mat-raised-button class="view-detail-btn">Xem chi tiết</button>
      </div>
      <div class="card-item">
        <div class="job-icon">
          <div class="img-wrapper">
            <img src="../../assets/img/schoolImg/fpt.jpg" alt="" class="main-img">
            <div class="sub-img-wrapper"><img src="../../assets/img/schoolImg/fpt-logo.png" alt="" class="sub-img"></div>
          </div>
          <div class="mini-background"></div>
        </div>
        <div class="job-name">FPT Software</div>
        <div class="job-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, id qui earum laborum aperiam quibusdam iste quidem cumque! Repellat a numquam ducimus mollitia, odio similique dolorem officia cum natus veniam quis obcaecati. Animi, ducimus tempore at quasi ab repellendus beatae.
        </div>
        <button mat-raised-button class="view-detail-btn">Xem chi tiết</button>
      </div>
      <div class="card-item">
        <div class="job-icon">
          <div class="img-wrapper">
            <img src="../../assets/img/schoolImg/fpt.jpg" alt="" class="main-img">
            <div class="sub-img-wrapper"><img src="../../assets/img/schoolImg/fpt-logo.png" alt="" class="sub-img"></div>
          </div>
          <div class="mini-background"></div>
        </div>
        <div class="job-name">FPT Software</div>
        <div class="job-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, id qui earum laborum aperiam quibusdam iste quidem cumque! Repellat a numquam ducimus mollitia, odio similique dolorem officia cum natus veniam quis obcaecati. Animi, ducimus tempore at quasi ab repellendus beatae.
        </div>
        <button mat-raised-button class="view-detail-btn">Xem chi tiết</button>
      </div>
      <div class="card-item">
        <div class="job-icon">
          <div class="img-wrapper">
            <img src="../../assets/img/schoolImg/fpt.jpg" alt="" class="main-img">
            <div class="sub-img-wrapper"><img src="../../assets/img/schoolImg/fpt-logo.png" alt="" class="sub-img"></div>
          </div>
          <div class="mini-background"></div>
        </div>
        <div class="job-name">FPT Software</div>
        <div class="job-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, id qui earum laborum aperiam quibusdam iste quidem cumque! Repellat a numquam ducimus mollitia, odio similique dolorem officia cum natus veniam quis obcaecati. Animi, ducimus tempore at quasi ab repellendus beatae.
        </div>
        <button mat-raised-button class="view-detail-btn">Xem chi tiết</button>
      </div>
      <div class="card-item">
        <div class="job-icon">
          <div class="img-wrapper">
            <img src="../../assets/img/schoolImg/fpt.jpg" alt="" class="main-img">
            <div class="sub-img-wrapper"><img src="../../assets/img/schoolImg/fpt-logo.png" alt="" class="sub-img"></div>
          </div>
          <div class="mini-background"></div>
        </div>
        <div class="job-name">FPT Software</div>
        <div class="job-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, id qui earum laborum aperiam quibusdam iste quidem cumque! Repellat a numquam ducimus mollitia, odio similique dolorem officia cum natus veniam quis obcaecati. Animi, ducimus tempore at quasi ab repellendus beatae.
        </div>
        <button mat-raised-button class="view-detail-btn">Xem chi tiết</button>
      </div>
    </div>
  </div>
</div>
