<app-nav></app-nav>
<div class="main-container" (window:resize)="responsive()">
  <p class="title-quiz-list">Danh sách các bài test</p>
  <div class="tests-container">
    <div class="quiz-card quiz-card-hover col-sm-5 col-md-5 col-10 m-4" *ngFor="let test of tests">
      <img src="{{test.backgroundUrl}}" alt="" />
      <div class="des">
        <h4>{{test.testName}}</h4>
        <p>
          {{test.introduction}}
        </p>
        <div class="options">
          <!-- <a href="#" [routerLink]="['/test-detail',test.id]" class="btn btn-detail"
          >Chi tiết</a
        > -->
          <a (click)="redirectTest(test.testTypeId,test.id,1)" class="btn btn-detail">Chi tiết</a>
          <a (click)="redirectTest(test.testTypeId,test.id,0)" class="btn btn-start">Bắt đầu</a>
        </div>
      </div>
      <a (click)="redirectTest(test.testTypeId,test.id,1)" class="btn btn-detail-hide">Chi tiết</a>

    </div>
  </div>
  <app-footer></app-footer>
</div>
