<app-nav></app-nav>

<div class="tests-container row" >
  <div class="quiz-card col-sm-5 col-md-5 col-10 m-4" *ngFor="let test of tests">
    <img src="..\assets\img\disc-fhd.jpg" alt="" />
    <div class="des">
      <h4>{{test.quizName}}</h4>
      <p>
        {{test.shortDescription}}
      </p>
      <div class="options">
        <a href="#" routerLink="/disc-quiz-detail" class="btn-detail"
          >Chi tiết</a
        >
        <a href="#" routerLink="/disc-quiz-attempt" class="btn-start"
          >Bắt đầu</a
        >
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
