<div class="page-container">
<app-nav></app-nav>
  <div class="img-wrapper">
    <span class="img-border">
      <img src="./../../assets/svg/bf-types/bf-coimo.svg" alt="" />
    </span>
    <p class="img-title">Cởi mở</p>
  </div>
  <p class="content1">
    Đặc điểm nhóm tính cách này tập trung vào phản ánh sự sáng tạo, trí tưởng
    tượng và thích phiêu lưu. Nếu bạn có chỉ số cao về tính cách này, bạn sẽ tò
    mò về thế giới và môi trường xung quanh, tận hưởng những trải nghiệm mới và
    ham học hỏi hay có tính cầu tiến cao. Ngược lại, bạn có chỉ số điểm thấp bạn
    sẽ có tính cách hướng về không thích đổi mới, ngại tiếp thu ý tưởng mới và
    ít thay đổi, thực hiện theo lối mòn hay chú trọng truyền thống.
  </p>
  <div class="content2-wrapper">
    <div class="left-content2">
      <p class="left-content2-header">
        Những người có tính cởi mở cao thường là:
      </p>
      <p class="left-content2-content">
        Rất sáng tạo<br />
        Sẵn lòng thử những điều mới<br />
        Tập trung vào giải quyết những thách thức mới<br />
        Hứng thú khi nghĩ về các khái niệm trừu tượng
      </p>
    </div>
    <div class="right-content2">
      <p class="right-content2-header">
        Những người có tính cởi mở thất thường là:
      </p>
      <p class="right-content2-content">
        Không thích thay đổi<br />
        Không thích những thứ mới<br />
        Chống lại những ý tưởng mới<br />
        Không giàu trí tưởng tượng<br />
        Không thích các khái niệm trừu tượng hoặc lý thuyết
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
