* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-main {
  width: 100%;
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  // padding: 10px;
  // width: 70%;
  // background-color: #ffffff;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}

.title-mbti {
  font-size: 40px;
  color: #00b14f;
  font-weight: 500;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px auto;
  margin-bottom: 20px;
}

.error-text.active {
  display: inline;
}

.question-container {
  padding: 10px;
  margin: 0 auto;
  width: 100%;
}

.question-index {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin-left: 20px;
}

.question-text {
  display: inline;
}

.note-text {
  color: red;
  width: 70%;
}

label {
  font-size: 16px;
}

.question-total {
  color: #6f6d6e;
}

input {
  margin: 0 5px 0 20px;
}

.btn-result {
  padding: 5px 10px;
  margin-top: -500px;
}

.answer-container {
  background-color: #f7f7f7;
  display: flex;
}

.answer {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

:host ::ng-deep.mat-paginator {
  width: 70%;
}

:host ::ng-deep.mat-paginator .mat-paginator-container {
  justify-content: flex-end;
  background-color: #f0f0f0;
  font-size: 16px;
}

.pageIndex {
  font-size: 18px;
  padding: 10px 0;
  width: fit-content;
  margin: 0 auto;
}

.submit-btn {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  margin-top: 20px;
  display: none;
}

.submit-btn.active {
  display: block;
}

.submit-btn.active {
  display: block;
}

form {
  width: 70%;
  background-color: #ffffff;
}

@media (max-width: 600px) {
  .answer-container {
    grid-template-columns: calc(100% - 20px);
  }
}

@media (max-width: 900px) {
  .container-main {
    padding: 2px;
  }
  form {
    width: calc(100% - 2px);
  }
  .content {
    // width: 90%;
  }

  .answer {
    width: 100%;
  }

  .answer-container {
    // flex-direction: column;
    flex-wrap: wrap;
  }

  .note-text {
    width: 90%;
  }
}
