<div class="container-main">
  <div class="content">
    <p class="title-mbti">Bài trắc nghiệm MBTI</p>
    <div class="question-container" *ngFor="let question of questions;index as i">
      <p class="question-index">{{question.id}}. <span class="question-text">{{question.questionText}}</span></p>
      <div class="answer-container">
        <div class="answer" *ngFor="let answer of questions[i].answers;index as j">
          <input type="radio" name="answer-radio{{i}}" id="radio{{j}}" value="{{answer}}">
          <label for="radio{{j}}">{{answer}}</label>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <button class="btn-result">Kết quả</button> -->