* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.error-text {
  color: red;
  display: none;
  float: right;
}

.error-text.active {
  display: inline;
}

.question-container {
  background-color: #171b2c;
  padding: 30px;
  border-radius: 10px;
  margin: 50px 0;
}

.question-index {
  color: #a6a8ab;
  font-size: 20px;
  display: inline;
}

.question-total {
  color: #6f6d6e;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  border: 1px solid #6f6d6e;
  margin-top: 10px;
}

.question-text {
  color: #a6a8ab;
  font-size: 30px;
  margin: 20px 0 50px;
}

.answer-container {
  display: grid;
  grid-template-columns: calc(50% - 30px) calc(50% - 30px);
  grid-template-rows: 50px 50px;
  gap: 30px 50px;
  margin-bottom: 40px;
}

.answer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #508583;
  border-radius: 30px;
  padding: 0 15px;
}

.answer.active {
  border: 3px solid #12c4b6;
}

.answer.active .answer-text {
  color: #fff;
}

.answer.active .icon-check {
  color: green;
}

.answer-text {
  color: #6f6d6e;
  font-size: 20px;
}

.icon-check {
  color: #6f6d6e;
  font-size: 30px;
}

@media (max-width: 600px) {
  .answer-container {
    grid-template-columns: calc(100% - 20px);
  }
}
