:host {
  width: 100%;
}

.nav-container{
  /* background-color: #fff; */
  /* background-image: linear-gradient(to right,#6b50df, #7e95c7); */
  background: linear-gradient(-45deg, #0982a7,hsla(218, 100%, 26%, 1));
  position: fixed;
  z-index: 10;
  width:100%;
  box-shadow: 1px 1px 1px #ddd;
}

nav{
  /* box-shadow: 2px 2px 30px rgb(225, 224, 224); */
}

.navbar-brand .brand-name {
  vertical-align: middle;
  margin: 0 10px 0 10px;
  font-family: "Orbitron";
  font-size: large;
}

.navbar-nav .nav-link.active {
  font-family: "Open Sans Semibold" !important;
  font-weight: 500;
  font-size: 18px;
  color: #fff !important; 
}
.navbar-nav {
  font-family: "Open Sans Regular";
  font-size: 18px;
  margin: auto 5px;
}

.nav-item.nav-link{
  color: #fff !important; 
}

.navbar-nav a {
  margin: auto 5px;
}

/* 
.navbar-nav a:hover {
  transform: scale(1.1);
} */

.user-img {
  width: 1vw;
}

.btn-signup {
  background-color: #3cb5af;
  color: whitesmoke;
  border-radius: 20px;
}

.btn-signin {
  border: solid 1.5px #1d1d1d;
  border-radius: 20px;
}

.search-input {
  border-radius: 20px;
}

.dropdown-menu {
  left: auto;
  right: 0;
}

.nav-item.dropdown a:hover{
  background-color: transparent;
}

.navbar .navbar-nav .nav-link:hover {
  color: #000;
}

.dark {
  color: white !important;
}
.light {
  color: black !important;
}
