:host {
  width: 100%;
}

.navbar-brand .brand-name {
  vertical-align: middle;
  margin: 0 10px 0 10px;
  font-family: "Orbitron";
  font-size: large;
}

.navbar-nav .nav-link.active {
  font-family: "Open Sans Semibold" !important;
  font-weight: 500;
  font-size: 18px;
}
.navbar-nav {
  font-family: "Open Sans Regular";
  font-size: 18px;
  margin: auto 5px;
}

.navbar-nav a {
  margin: auto 5px;
}


.navbar-nav a:hover {
  transform: scale(1.1);
}

.user-img {
  width: 1vw;
}

.btn-signup {
  background-color: #3cb5af;
  color: whitesmoke;
  border-radius: 20px;
}

.btn-signin {
  border: solid 1.5px #3cb5af;
  border-radius: 20px;
}

.search-input {
  border-radius: 20px;
}

.dropdown-menu {
  left: auto;
  right: 0;
}

.nav-item.dropdown a:hover{
  background-color: transparent;
}

.dark {
  color: white !important;
}
.light {
  color: black !important;
}
