.navbar{
   padding: auto 1%;
}

.navbar-brand .brand-name{
   vertical-align: middle;
   margin: 0 10px 0 10px;
   font-family: 'Orbitron';
   font-size: large;
   color: black;
}
.nav-item .nav-link{
   color: black;

}

.nav-item .nav-link:active {
   color:black;
   font-weight: 600;
   
}
.navbar-nav{
   font-family: 'Open Sans Semibold';
   font-size: 18px;
   margin: auto 5px;
}

.navbar-nav a{
   margin: auto 5px;
}

.navbar-nav a:hover{
   background: #e4e4e4;
   border-radius: 15px;
}

.btn-signup{
   background-color: #3CB5AF;
   color: whitesmoke;
   border-radius: 20px;
}

.btn-signin{
   border: solid 1.5px #3CB5AF;
   border-radius: 20px;
}

.search-input{
   border-radius: 20px;
}