<div class="login-register-body">
  <div class="login-register-container">
    <form class="login-form" (ngSubmit)="login()" [formGroup]="loginFormIns">
      <p class="title-text">Đăng nhập vào tài khoản</p>
      <p class="detail-title-text">Điền thông tin để đăng nhập</p>
      <div class="input-div">
        <label for="email-login" class="label-input">Địa Chỉ Email</label>
        <input type="text" required id="email-login" class="email-input" placeholder="Điền Email của bạn" formControlName="email">
        <div *ngIf="f['email'].invalid && f['email'].dirty">
          <div *ngIf="f['email'].errors">
            <div *ngIf="f['email'].errors['required']" class="error-info">
              <div>Email không được để trống</div>
            </div>
            <div *ngIf="f['email'].errors['email']" class="error-info">
              <div>Sai định dạng email</div>
            </div>
          </div>
        </div>
      </div>
      <div class="input-div">
        <label for="pass-login" class="label-input">Mật khẩu</label>
        <input type="password" required id="pass-login" class="password-input" placeholder="Điền mật khẩu" formControlName="password">
        <div *ngIf="f['password'].invalid && f['password'].dirty">
          <div *ngIf="f['password'].errors">
            <div *ngIf="f['password'].errors['required']" class="error-info">
              <div>Password không được để trống</div>
            </div>
          </div>
        </div>
      </div>

      <div class="remember-checkbox-div">
        <input type="checkbox" class="remember-checkbox">
        <p class="remember-text">Remember Me</p>
      </div>
      <!-- <button class="login-btn" type="submit" [disabled]="!loginForm.valid">Đăng nhập</button> -->
      <button class="login-btn" type="submit">Đăng nhập</button>
      <p class="term-text">Bằng cách ấn đăng nhập, bạn đã đồng ý với <span class="highlight-text">chính sách bảo
          mật</span> và <span class="highlight-text">điều khoản dịch vụ</span> của chúng tôi</p>
      <p class="register-text">Bạn chưa có tài khoản?<span class="highlight-text" (click)="changePosition()">Đăng
          kí
          ngay</span></p>
    </form>

    <form class="register-form" #registerForm="ngForm" (ngSubmit)="register()">
      <p class="title-text">Đăng kí tài khoản mới</p>
      <p class="detail-title-text">Nhập đầy đủ thông tin bên dưới để đăng kí</p>
      <div class="input-div">
        <label for="name" class="label-input">Họ và tên</label>
        <input type="text" id="name" class="name-input" placeholder="Điền họ và tên của bạn" [(ngModel)]="registerName" name="registerName" required>
      </div>
      <div class="input-div">
        <label for="email-register" class="label-input">Địa Chỉ Email</label>
        <input type="text" id="email-register" class="email-input" placeholder="Điền Email của bạn" [(ngModel)]="emailReg" name="emailReg" required>
      </div>
      <div class="input-div">
        <label for="pass-register" class="label-input">Mật khẩu</label>
        <input type="password" id="pass-register" class="password-input" placeholder="Điền mật khẩu" [(ngModel)]="passwordReg" name="passwordReg" required>
      </div>
      <div class="input-div">
        <label for="re-pass-register" class="label-input">Xác nhận mật khẩu</label>
        <input type="password" id="re-pass-register" class="re-password-input" placeholder="Điền lại mật khẩu" [(ngModel)]="confirmPasswordReg" name="confirmPasswordReg" required>
      </div>
      <button class="register-btn" type="submit" [disabled]="!registerForm.valid">Đăng ký</button>
      <p class="login-text">Bạn đã có tài khoản?<span class="highlight-text" (click)="changePosition()">Đăng nhập
          ngay</span></p>
    </form>

    <div class="info-container">
      <div class="info-form">
        <p class="info-title-text">Chào mừng bạn đến với Qick</p>
        <p class="info-title-detail-text">Tham gia Qick để có cơ hội tìm hiểu tính cách và tìm kiếm nghề nghiêp phù hợp
          với bản thân</p>
      </div>
      <img src="assets/img/logo.png" alt="" class="info-img">
    </div>
  </div>
</div>