<div class="container">
  <div class="news-main">
    <img class="news-img" src="https://quantri.hanoi.edu.vn//UploadImages/thpttulap/admin/2022_3/fp.png?w=600"
      width="100%" alt="daihocfpt" />
    <div class="text-block">
      <p class="title">Đại học FPT công bố phương thức tuyển sinh năm 2022</p>
      <p class="brief">
        Đại học FPT đã chính thức công bố chính thức các phương thức tuyển sinh [...]
      </p>
      <div class="news-info">
        <span class="hash-tag">#FPT</span>
        <span class="hash-tag">#2022</span>
      </div>
    </div>
  </div>
</div>