* {
  padding: 0;
  margin: 0;
}

.body {
  display: block;
  overflow-y: overlay;
}

mat-sidenav-content {
  overflow-y: overlay;
}

.side-nav-container {
  position: absolute;
  width: 100vw;
  bottom: 0;
  right: 0;
  top: 3vw;
}

.toggle-btn {
  right: 0.9vw;
  float: right;
  position: absolute;
  color: white;
  margin-bottom: 1vw;
}

.logo-brand {
  width: 5vw;
  margin: 1vw;
}

.side-nav {
  background-color: #051f20;
  // width: 15vw;
}

.action-list {
  height: 90vh;
}

.action-list mat-list-item {
  color: #FFF;
  margin: 3% auto;
  font-size: 0.8vw;

  .link-label {
    width: 10vw;
  }
}

.mat-list-item.active {
  border-left: solid 7px #a6a6a6 !important;
}

.action-list mat-icon {
  margin: 0 3%;
  display: inline-flex;
  text-align: center;
  vertical-align: center;
  font-size: 1.25em;
}

.user-section {
  margin-top: 5vw !important;
}

.toolbar {
  display: flex;
  width: 100vw;
  background-color: #051f20;
}

.user-pic {
  width: 1.3vw;
  margin-right: 2px;
}

.user-option {
  top: 1vh;
  right: 2vw;
  position: absolute;
  background: transparent;
  background-color: transparent;
}

.option-btn {
  border: none;
  padding: 2px;
  background-color: transparent;
  border-radius: 10px;
}

.option-btn::after {
  vertical-align: 0;
  margin-right: 5px;
}

.user-option-toggle {
  margin-top: 2px;
}

.arrow-down-btn {
  transform: rotate(0deg);
  transition: ease-in-out 200ms;
}

.arrow-down-btn.rotate {
  transform: rotate(180deg);
}

.dropdown-menu li {
  padding: 1%;

  a {
    margin-left: 10px;
    font-size: 0.8vw;

    mat-icon {
      vertical-align: middle;
    }
  }

  a:hover {
    background-color: transparent;
  }
}

@media (max-width: 1367px) {

  .action-list mat-list-item {
    font-size: 1vw;

    .link-label {
      width: 11vw;
    }
  }

  .user-section {
    margin-top: 2vw !important;
  }
}
