$card-width: 15em;
$card-width-res-600: 20em;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-image: url("../../assets/img/tarots/bgBlur.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100vh;
  gap: 10vw;
  z-index: 1;
}

.card-deck {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-deck>.img-wrapper {
  width: $card-width;
  aspect-ratio: 1 / 1.64;
  position: relative;
}

.img-wrapper .img {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: .5s;
}

.img:nth-child(1) {
  box-shadow: -10px 10px 15px 2px #000000;
}

.img:nth-child(1):hover {
  transform: scale(1.05);
  box-shadow: -20px 10px 35px 13px rgba(0, 0, 0, 0.67);
}

.deck-title {
  height: 3em;
  margin: 16px 0;
  font-weight: 600;
  color: #000;
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00, 2px -2px 6px rgba(0, 50, 206, 0);
}

.back-card {
  position: absolute;
  width: $card-width;
  z-index: 0;
  -webkit-box-shadow: -24px 0px 17px -2px rgba(0, 0, 0, 0.79);
  box-shadow: -24px 0px 17px -2px rgba(0, 0, 0, 0.79);
  border-radius: 10px;
}

@media only screen and (max-width: 800px) {
  .card-deck>.img-wrapper {
    width: $card-width-res-600;
  }
}
