<div class="page-container">
  <app-nav [theme]="'dark'"></app-nav>
  <div class="wrapper">
    <div class="card-deck">
      <!-- <img src="../../assets/img/tarots/back3.png" alt="" class="back-card"/> -->
      <img src="../../assets/img/tarots/rutngaunhien.png" alt="" class="left-deck-title">

      <img src="../../assets/img/tarots/back3.png" alt="" class="img deck" (click)="viewRandomTarotPage()"/>
      <!-- <div class="left-deck-title">Rút bài ngẫu nhiên</div> -->
    </div>
    <div class="card-deck">
      <img src="../../assets/img/tarots/xemtatca.png" alt="" class="left-deck-title">

      <img src="../../assets/img/tarots/back5.png" alt="" class="img deck" (click)="viewAllCard()" />
      <!-- <div class="left-deck-title">Xem tất cả lá bài</div> -->
    </div>
  </div>
  <app-footer></app-footer>
</div>
