* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hide {
  display: none !important;
}

.profile-info {
  padding: 20px 70px;
  overflow: scroll;
  width: 100%;
  position: relative;
  z-index: 9;
}
.profile-title-row {
  width: 100%;
}

.profile-title-left {
  color: #439be4;
  font-size: 28px;
}

.horizontal {
  display: flex;
  flex-direction: row;
}
.center {
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.vertical {
  display: flex;
  flex-direction: column;
}
.info-basic-text {
  font-size: 28px;
  margin-left: 10px;
  font-weight: 500;
}
.btn-save-bottom {
  padding: 8px 20px;
  border-radius: 15px;
  background-color: #3d3de6;
  border: none;
  font-weight: 500;
  margin: 20px auto;
  color: #fff;
  display: block;
}

.profile-img-title {
  font-weight: 500;
  font-size: 20px;
  margin: 10px 0;
  grid-column: -1 / 1;
}

.profile-school-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 78px;
  margin: 10px 0;
}
.input-container {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
}

.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-title {
  font-weight: 500;
}

// input {
//   border-radius: 20px;
//   padding: 10px 20px;
//   border: 1px solid #fff;
//   background-color: #fff;
//   border: 1px solid #ddd;
// }

.input-img {
  // width: 200px;
  height: 200px;
  object-fit: contain;
}

#upload-school-profile,
#upload-school-degree {
  display: none;
}

.img-list {
  display: flex;
  overflow-y: scroll;
}

.img-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
}

.input-group {
  grid-column: -1 / 1;
}

@media (max-width: 950px) {
  .profile-container {
    justify-content: center;
  }

  .profile-img {
    display: none;
  }

  .profile-name {
    display: none;
  }

  .upload-img-note {
    display: none;
  }

  .profile-img-title-row {
    flex-direction: column;
  }

  .profile-img2 {
    order: 2;
    width: 150px;
  }

  .profile-title-row {
    justify-content: center;
  }

  .upload-img {
    display: none;
  }

  .profile-school-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-container {
    width: 80%;
  }

  .profile-info {
    padding: 0;
    right: auto;
  }

  .profile-school-grid {
    grid-template-columns: 100%;
  }
}
