<div class="profile-info">
  <div class="profile-title-row horizontal center space-between">
    <div class="profile-title-left horizontal center">
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      <p class="info-basic-text">Hồ sơ học vấn</p>
    </div>
  </div>

  <p class="profile-img-title">Lịch sử học vấn</p>
  <div class="profile-school-grid">
    <div class="input-container">
      <label class="input-title" for="">Trường THPT</label>
      <input type="text" name="" id="" class="input-school" value="Trường Phù thủy và Pháp sư Hogwarts">
    </div>

    <div class="input-container">
      <label class="input-title" for="">Niên khóa</label>
      <input type="text" name="" id="" class="input-school-year" value="2019-2022">
    </div>

    <div class="input-container">
      <label class="input-title" for="">Học bạ THPT</label>
      <div class="flex-wrapper">
        <img class="input-img" [src]="schoolProfileUrl || 'assets/img/add-img.png'" alt=""
          (click)="uploadSchoolProfile()">
        <input type="file" id="upload-school-profile" (change)="selectSchoolProfileFile($event)">
        <div id="school-profile-name" [innerText]="schoolProfileName"></div>
      </div>
    </div>

    <div class="input-container">
      <label class="input-title" for="">Bằng tốt nghiệp THPT (tạm thời)</label>
      <!-- <img class="input-img" src="assets/img/add-img.png" alt=""> -->
      <div class="flex-wrapper">
        <img class="input-img" src="{{ schoolDegreeUrl || 'assets/img/add-img.png'}}" alt=""
          (click)="uploadSchoolDegree()">
        <input type="file" id="upload-school-degree" (change)="selectSchoolDegreeFile($event)">
        <div id="school-profile-name" [innerText]="schoolDegreeName"></div>
      </div>
    </div>

    <div class="profile-img-title">Kỹ năng cá nhân</div>
    <div class="input-container">
      <label class="input-title" for="">Các kỹ năng cá nhân</label>
      <input type="text" name="" id="" class="input-school-year">
    </div>

    <!-- <div class="input-container">
      <label class="input-title" for="">Bằng tốt nghiệp THPT (tạm thời)</label>
      <img class="input-img" src="assets/img/add-img.png" alt="">
    </div> -->
  </div>
  <button class="btn-save-bottom" (click)="saveAll()">Lưu hồ sơ</button>

</div>