<app-nav></app-nav>
<div class="bf-container">
    <div class="header-banner">
        <div class="header-banner-left">
            <p class="header-banner-title">Trắc nghiệm tính cách MBTI</p>
            <div class="horizontal-bar"></div>
            <p class="header-banner-sub-title">Đo lường chính xác các đặc điểm tính cách chính của bạn</p>
        </div>
        <div class="header-banner-right">
            <img class="header-banner-img" src="{{testDetail?.bannerUrl}}" alt="">
        </div>
    </div>
    <div class="description">
        <p class="description-text">

            Bạn muốn biết sở thích của mình là gì? Bạn băn khoăn không biết mình đam mê công việc gì? Hãy đến với bài
            trắc nghiệm MBTI để khám phá tính cách bản thân và định hướng nghề nghiệp phù hợp cho mình nhé!</p>

    </div>
</div>
<app-question #questionApp></app-question>