@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.body{
    background-color:#FFE5C0;
    height: 100vh;
    width:100%;
    position:relative;
}
.main{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    position:relative;
    height: 100%;
}

.mbti-img{
    position: absolute;
    width: 12.5rem;
    height:auto;
    top: 2vh;
    left: 1vw;
}

.question-answer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.deck-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 30%;
}

.card{
    padding: 20px 0;
}

.card-first{
    display: flex;
    flex-direction: column;
    background-color: #FFE5C0;
    border:10px solid #315452;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius:10px;
    position: absolute;
    transition: margin 1s;
    z-index: 10;
}

.card-first:hover{
    transform:scale(1.05);
}

.card-second{
    background-color: #EFCAB5;
    width: 80%;
    position:absolute;
    border:10px solid #3C3327;
    transform: rotate(5deg);
    right: 1.5vw;
}

.card-second img, .card-second p{
    visibility: hidden;
}


.card-third{
    background-color: #EFCAB5;
    width: 80%;
    position: absolute;
    border: 10px solid #BB734F;
    transform: rotate(10deg);
    right: 1.5vw;
}

.card-image{
    width: 60%;
    height: auto;
    object-fit: cover;
    margin: 1.2rem;
}

.card-text{
    width:80%;
    font-size: 2vw;
    text-align: center;
    color: #315452;
    font-weight: bold;
}


.answer-left,.answer-right{
    width: 30%;
}

.answer-left:hover .answer-text{
    cursor: pointer;
    opacity: 0.5;
}

.answer-left:hover + .deck-box .card-first{
    // transform: rotate(-10deg) scale(1.05);
}

.answer-right:hover + .card-first{
    transform: rotate(-10deg);
    bottom:2.5rem;
}

.answer-right:hover .answer-text{
    cursor: pointer;
    opacity: 0.5;

}

.answer-right{
    text-align: left;

}

.answer-left{
    text-align: right;
}

.answer-text{
    font-size: 2vw;
}


.answer-text{
    width:100%;
    height:12.5rem;

}

.answer-arrow{
    width: 90%;
}

.set-container{
    display: flex;
    gap: 0.8rem;
}

.set{
    letter-spacing:4px;
    font-size: 1.8vw;
    font-weight: bold;
}

.suggest{

}

.note{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 5%;
    top: 5%;
}

.icon-box{
    // background-color: #000;
    // border-radius:50%;
    // width: 2vw;
    // height: 2vw;
    // display:flex;
    // justify-content:center;
    // align-items:center;
    // position:relative;

    background-color: #000;
    border-radius:1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    display:flex;
    align-items:center;
    position:relative;
    transition: width 1s;
    overflow:hidden;
    align-items: center;
    justify-content: center;
}

.note-choose-question{
    width:.625rem;
    height:2.5rem;
    display:none;
    position: absolute;
    background-color:#000;
    bottom: 5%;
    left: 10%;
    border-radius: 10px 10px 10px 0;
    border: 1px solid #000;
}

.note-choose-question-text{
    color:#fff;
}

.icon-box:hover .note-choose-question{
    display: block;
}

.note-icon{
    color:#fff;
    transform: scale(0.5);
    font-size:2vw;
    width:100%;
}

.note-text-icon{
    display: flex;
    justify-content:center;
    align-items: center;
}

.note-text{
    margin-right: 0.5rem;
    font-size:1.5vw;

}

.question:not(:first-child){
    margin-left:0.625rem;
}

.question{
    border-radius: 50%;
    width:0.625rem;
    height:0.625rem;
    border: 2px solid #383025;
    -webkit-appearance: none;
    cursor: pointer;
}

// nhung cau hoi da tick
.question-done{
    border:none;
    background-color:#15B1AA;
}

// nhung cau hoi da tick
.question-not-done{
    background-color:#383025;
}

.icon-box-bottom{
    background-color: #000;
    border-radius:1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    display:flex;
    align-items:center;
    position:relative;
    transition: width 1s;
    overflow:hidden;
    align-items: center;
    justify-content: center;
}


.icon-box-bottom:hover {
    width:100%;
    border-radius: 1rem;
    justify-content:flex-start;
}

.icon-box-bottom:hover:after{
    justify-content:center;
}

// .icon-box-bottom:hover .note-icon-bottom {
//     justify-content:flex-start;
// }

.icon-box-bottom:hover .choose-set-question-text{
    display:block;
}

.question-sets{
    margin:0 3.125rem;
}

.choose-set-question-text{
    color:#fff;
    position: absolute;
    left: 2rem;
    width: 20rem;
    font-size:1.5vw;
    font-style: italic;
}

.note-icon-bottom{
    color:#fff;
    transform: scale(0.5);
    font-size:30px;
    width:auto;
    height:auto;
    text-align:center;
}

.question-sets{
    position:absolute;
    bottom:5%;

}

.question-sets-text{
    color:#3C3327;
    font-size: 2vw;
    font-weight: bold;
}

.font-light{
    opacity: 0.5;
}



// animation cho the bai
.move-left{
    animation-name: clickLeft;
    animation-duration: 1s;
}

.move-right{
    animation-name: clickRight;
    animation-duration: 1s;
}

.hoverRotateLeft{
    transform: rotate(-10deg) scale(1.05);
}

.hoverRotateRight{
    transform: rotate(10deg) scale(1.05);
    
}

@keyframes clickLeft { 
    to {
        margin-right: 62.5rem;
        opacity: 0;
        transform: scale(0.1);
    }
  }

  @keyframes clickRight {
    to {
        margin-left: 62.5rem;
        opacity: 0;
        transform: scale(0.1);
    }
  }

  @media(max-width:700px){
    .question-answer{
        flex-wrap: wrap;
    }
    .answer-left{
        order:2;
        width:100%;

    }
    .answer-right{
        order:3;
        width:100%;

    }
    .deck-box{
        order:1;
        width:100%;
    }

    .card{
        width: 80%;
    }

    .card-first{
        position:static;
    }

    .card-second{
        display: none;
    }
    .card-third{
        display: none;
    }

    .answer-arrow{
        display:none;
    }

    .answer-text{
        color: #fff;
        font-size:1.5rem;
        text-align:center;
        height:auto;
        background-color:#ccc;
        margin: 10px 0;
        border-radius:10px;
    }

    .question-sets-text{
        display: none;
    }

  }

  @media(min-width:700px) and (max-width:1024px){
        .card-text{
            font-size: 1.5vw;
        }

        .deck-box{
            width: 30%;
        }

        .answer-text{
            height:70px;
        }

        .mbti-img{
            top:5%;
            left:5%;
        }

        .note{
            top:10%;
            right:5%;
        }

    }

    @media(min-width:1024px) and (max-width:1300px){
        // .answer-text{
        //     font-size: 1.5rem;
        // }

        // .deck-box{
        //     width: 30%;
        // }

        // .answer-text{
        //     height:120px;
        // }
        // .card{
        //     width:100%;
        // }
    }

    @media(min-width:1300px){
        .deck-box{
            width: 30%;
        }

        .answer-text{
            height:150px;
        }
  }

  
  
  


