<div class="body">
  <!-- <app-nav></app-nav> -->
  <img class="mbti-img" src="assets/img/mbti-banner-nobackground.png" alt="">
  <div class="note">
    <div class="note-text-icon">
      <p><i class="note-text">Suy nghĩ thật kĩ và chọn bên giống nhất với mình</i></p>
      <div class="icon-box">
        <mat-icon class="note-icon" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        <div class="note-choose-question">
          <p class="note-choose-question-text">Chọn câu hỏi bên dưới</p>
        </div>
      </div>
    </div>

    <div class="question-list" *ngFor="let question of questions;index as i">
      <div type="checkbox" *ngIf="question.category==currentTag" class="question question{{i}}"
        (click)="chooseQuestion(i)">
      </div>
    </div>
  </div>

  <div class="main">
    <p class="number-question"><span
        class="current-question">{{currentQuestionView}}</span>/<span>{{totalQuestion}}</span></p>
    <div class="question-answer">
      <div class="answer-left">
        <p class="answer-text" #answerLeft (click)="clickAnswerLeft()" (mouseenter)="hoverLeft()"
          (mouseleave)="(unHoverLeft())" *ngIf="currentTag==questions[currentQuestion].category">
          {{questions[currentQuestion].answer.left}}
        </p>
        <img class="answer-arrow" src="assets/img/arrow-left.png">
      </div>

      <div class="deck-box">
        <div class="card-mbti card-third">

        </div>

        <div class="card-mbti card-second">

        </div>
        <div class="card-mbti card-first " #dragCard="cdkDrag" #cardFirst cdkDrag (cdkDragStarted)="drag()"
          (cdkDragEnded)="drop($event)" cdkDragLockAxis="x" [cdkDragFreeDragPosition]="dragPosition"
          cdkDragBoundary=".question-answer">
          <img src=" assets/img/disco.png" class="card-image">
          <p class="card-text" *ngIf="currentTag==questions[currentQuestion].category">
            {{questions[currentQuestion].question}}</p>

        </div>

      </div>

      <div class="answer-right">
        <p class="answer-text" #answerRight (click)="clickAnswerRight()" (mouseenter)="hoverRight()"
          (mouseleave)="(unHoverRight())" *ngIf="currentTag==questions[currentQuestion].category">
          {{questions[currentQuestion].answer.right}}
        </p>
        <img class="answer-arrow" src="assets/img/arrow-right.png">
      </div>
    </div>
  </div>

  <div class="question-sets">
    <p class="question-sets-text">Introvertsion - Extroversion</p>
    <div class="icon-box-bottom">
      <mat-icon class="note-icon-bottom" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      <p class="choose-set-question-text">Chọn bộ câu hỏi bên dưới</p>
    </div>
    <button class="set font-light set{{i}}" *ngFor="let tag of tags;index as i" (click)="changeTag(i)">{{tag}}</button>
  </div>

  <div class="btn-submit">
    <p class="submit-text">Submit</p>
  </div>
</div>