.mat-dialog-title {
    color: #c85a35;
}

.accept-btn {
    background-color: #f1e2b9;
    color: #000;
}

.btn-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
}