<div class="container">
  <div class="header">
    <div class="school-header-container">
      <img src="../../../../assets/img/holland-fhd.jpg" alt="school image" class="school-img">
      <img src="../../../../assets/img/logo-qick-black.png" alt="school logo" class="school-logo">
      <p class="school-name">Lorem Ipsum</p>
    </div>
  </div>

  <div class="info">
    
    <div class="school-address">
      <p>LoremIpsum@edu.vn</p>
    </div>
    <div class="school-email">
      <p>LoremIpsum@edu.vn</p>
    </div>
  </div>

</div>