.toogle-coin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coin {
  width: 18vw;
  height: 18vw;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  object-fit: cover;
  border: 3px solid #626161;
  border-radius: 50%;
}

.coin-wrong {
  background: linear-gradient(to right, #ba3030, #ce2525);
  border: none;
}

.coin-right {
  background: linear-gradient(45deg, #01a29d, #a0feb0);
  border: none;
}

.white-font {
  color: #fff !important;
}

.answer {
  color: #626161;
  font-size: 2vw;
  text-align: center;
  padding: 20px;
}

.tri-state-toggle {
  background: rgba(165, 170, 174, 0.25);
  box-shadow: inset 0 2px 8px 0 rgba(165, 170, 174, 0.25);
  border-radius: 24px;
  overflow: hidden;
  display: inline-flex;
  flex-direction: row;
  transition: all 500ms ease;
  position: relative;
}

.wrong {
  transition: all 1s ease;
  left: 2px;
  margin-left: 0;
}

.correct {
  transition: all 1s ease;
  margin-left: calc(2 * (3vw + 4px));
}

.none {
  transition: all 1s ease;
}

.left {
  left: 2px;
  margin-left: 0;
}

.right {
  margin-left: calc(3vw + 3px);
}

.tri-state-toggle-button {
  border-radius: 22px;
  height: 3vw;
  width: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0px solid transparent;
  margin: 2px;
  color: #000;
  cursor: pointer;
  font-size: 1.2vw;
}

.icon {
  position: absolute;
  z-index: 10;
}

// .round {
//   position: absolute;
//   background-color: black;
//   width: 3vw;
//   height: 3vw;
//   border-radius: 50%;
//   left: 2px;
//   top: 2px;
//   opacity: transparent;
//   margin-left: 3vw;
// }

// .tri-state-toggle-button.active {
//   background-image: linear-gradient(
//     -180deg,
//     #fff 0%,
//     #fafafa 81%,
//     #f2f2f2 100%
//   );
//   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
//   font-weight: 500;
// }

.tri-state-toggle-button:focus {
  outline: none;
}

@media (max-width: 740px) {
  .tri-state-toggle-button {
    width: 5vw;
    height: 5vw;
  }

  .icon {
    font-size: 20px;
  }

  .coin {
    width: 70vw;
    height: 8vw;
    border-radius: 10px;
    margin: 5px;
  }

  .answer {
    padding: 10px;
    margin: 0;
    font-size: 3vw;
  }
}

@media (min-width: 740px) and (max-width: 900px) {
  .tri-state-toggle-button {
    width: 5vw;
    height: 5vw;
  }

  .icon {
    font-size: 20px;
  }

  .coin {
    width: 40vw;
    height: 8vw;
    border-radius: 10px;
  }

  .answer {
    padding: 10px;
    margin: 0;
    font-size: 20px;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  .tri-state-toggle-button {
    width: 4vw;
    height: 4vw;
  }

  .coin {
    width: 22vw;
    height: 22vw;
    border-radius: 50%;
  }
}

@media (min-width: 1024px) {
}
