.coin{
    background-color: #ccc;
    display:flex;
    justify-content:center;
    align-items:center;
    width:500px;
    height:500px;
    border-radius:50%;
}

.answer{
    color:#fff;
    font-size:12px;
}