<div class="container">
  <div class="img-count">
    <img
      class="news-img"
      src="https://timviec365.vn/pictures/images_01_2021/dai-hoc-fpt-o-dau-3.jpg"
      width="100%"
      alt="daihocfpt"
    />
    <!-- <div class="counter">
      <fa-icon [icon]="eyeIcon"></fa-icon>
      <span class="view-number">12345</span>
    </div> -->
  </div>
  <div class="info-container">
    <div class="school-info">
      <span class="school-name">Đại học FPT</span>
      <span class="school-code">#FPT</span>
    </div>

    <p class="school-address">Quận 9, TP.HCM</p>
  </div>
</div>
