* {
  padding: 0;
  margin: 0;
}

.body {
  background-image: url("/assets/img/big5-bg.jpg");
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.page-container {
  width: 100%;
  background-color: #d0a885;
  position: absolute;
  top: 0;
}

.bf-title {
  position: absolute;
  width: 200px;
  top: 30px;
  left: 30px;
}

.answer-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.answer-container-column {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.answer-container-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.arrow-container-row {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.question {
  font-size: 35px;
  font-weight: 600;
  color: #fff;
}

.question-hint {
  font-size: 16px;
  font-style: italic;
  font-weight: 100;
  color: #fff;
}

.text {
  font-size: 32px;
}

#radio0 {
  width: 80px;
  height: 80px;
}

#radio1 {
  width: 100px;
  height: 100px;
}

#radio2 {
  width: 120px;
  height: 120px;
}

#radio3 {
  width: 140px;
  height: 140px;
}

#radio4 {
  width: 160px;
  height: 160px;
}

.radio {
  margin-right: 20px;
}

// input[type="radio"]:after {
//   width: 100px;
//   height: 100px;
//   border-radius: 100px;
//   top: -2px;
//   left: -1px;
//   position: relative;
//   background-color: #d1d3d1;
//   content: "";
//   display: inline-block;
//   visibility: visible;
// }

// input[type="radio"]:checked:after {
//   width: 80px;
//   height: 80px;
//   border-radius: 80px;
//   top: -2px;
//   left: -1px;
//   position: relative;
//   background-color: #ffa500;
//   content: "";
//   display: inline-block;
//   visibility: visible;
//   border: 2px solid white;
// }

.arrow-left:hover {
  opacity: 0.6;
  cursor: pointer;
}

.arrow-right:hover {
  opacity: 0.6;
  cursor: pointer;
}

.number-question {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

.big5-selection-img {
  width: 200px;
  margin: 0 20px;
}

.question-counter {
  display: grid;
  width: 300px;
  position: absolute;
  left: 6%;
  bottom: 4%;
  grid-template-columns: repeat(10, auto);
  gap: 12px;
}

.question-dot {
  background-color: #674e39;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.question-dot:hover {
  cursor: pointer;
  opacity: 0.8;
}

.question-dot:hover {
  border: 2px solid rgb(23, 131, 255);
}

.question-done {
  background-color: #15b1aa;
}

.question-current {
  background-color: #cfa784;
  border: 1px solid #000;
}

.btn-submit {
  width: 170px;
  height: 50px;
  background-color: #15b1aa;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10%;
  bottom: 14%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.btn-submit:hover {
  cursor: pointer;
  opacity: 0.8;
}

.submit-active {
  visibility: visible;
  opacity: 1;
}

.btn-submit-text {
  color: #fff;
  height: auto;
  font-size: 20px;
}

input {
  accent-color: brown;
}
