<div class="body">
  <div class="page-container">
    <app-nav></app-nav>
  </div>
  <div class="main">
    <img src="assets/img/big5-text-image.png" alt="" class="bf-title" />
    <div class="question-container">
      <p class="question">{{questions[currentQuestion].question}}</p>
      <p class="question-hint">Chọn mức độ phù hợp với bản thân</p>
    </div>

    <div class="answer-container-column">
      <div class="answer-container-row">

        <div class="answer-checkbox">
          <img src="assets/img/disagree.png" alt="" class="big5-selection-img" />
          <input type="radio" name="answer" id="radio0" class="radio" (click)="chooseAnswer()" />
          <input type="radio" name="answer" id="radio1" class="radio" (click)="chooseAnswer()" />
          <input type="radio" name="answer" id="radio2" class="radio" (click)="chooseAnswer()" />
          <input type="radio" name="answer" id="radio3" class="radio" (click)="chooseAnswer()" />
          <input type="radio" name="answer" id="radio4" class="radio" (click)="chooseAnswer()" />
          <img src="assets/img/agree.png" alt="" class="big5-selection-img" />

        </div>

        <img class="arrow-left" src="assets/img/left-arrow.png" alt="" (click)="choosePrevQuestion()" />
        <img class="arrow-right" src="assets/img/right-arrow.png" alt="" (click)="chooseNextQuestion()" />
      </div>
      <!-- <div class="arrow-container-row"> -->
      <!-- <img class="arrow-left" src="assets/img/left-arrow.png" alt="" (click)="choosePrevQuestion()" />
      <img class="arrow-left" src="assets/img/right-arrow.png" alt="" (click)="chooseNextQuestion()" /> -->
      <!-- </div> -->
      <p class="number-question"><span>{{currentQuestion+1}}</span>/{{questions.length}}</p>

    </div>
    <div class="question-counter">
      <span *ngFor="let in of questions; index as i" class="question-dot" id="question-dot{{i}}"
        (click)="chooseQuestion(i)"></span>
    </div>
  </div>

  <div class="btn-submit" routerLink="/disc-result">
    <p class="btn-submit-text">Kết quả</p>
  </div>
</div>