<div class="body">
  <div class="toolbar">
    <div class="logo-section">
      <img
        src="../../assets/img/qick-text-white.png"
        alt="qick logo"
        class="logo-brand"
      />
    </div>

    <div class="user-option">
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle option-btn"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img src="../../../../assets/img/logo-qick.png" alt="user pic" class="user-pic">
        </button>
        <ul class="dropdown-menu dropdown-menu-end " aria-labelledby="dropdownMenuButton1">
          <!-- <li><a class="dropdown-item" href="#">Tài khoản</a></li> -->
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#"><mat-icon>exit_to_app</mat-icon>Đăng xuất</a></li>
          
        </ul>
      </div>
    </div>
  </div>

  <mat-sidenav-container class="side-nav-container" autosize>
    <mat-sidenav #sidenav class="side-nav" mode="side" opened="true">
      <mat-nav-list class="action-list">
        <mat-list-item (click)="opened = !opened"
          ><mat-icon mat-button class="toggle-btn">
            <mat-icon>menu</mat-icon>
          </mat-icon></mat-list-item
        >

        <mat-list-item
          [routerLink]="['/staff/dashboard']"
          routerLinkActive="active"
          ><mat-icon>home</mat-icon
          ><span class="link-label" *ngIf="opened">Trang chủ</span>
        </mat-list-item>

        <mat-list-item [routerLink]="['/staff/plan']" routerLinkActive="active"
          ><mat-icon>checklist_rtls</mat-icon
          ><span class="link-label" *ngIf="opened"
            >Kế hoạch</span
          ></mat-list-item
        >

        <mat-list-item
          [routerLink]="['/staff/school']"
          routerLinkActive="active"
          ><mat-icon>school</mat-icon
          ><span class="link-label" *ngIf="opened"
            >Trường học</span
          ></mat-list-item
        >

        <mat-list-item
          [routerLink]="['/staff/majors']"
          routerLinkActive="active"
          ><mat-icon>school</mat-icon
          ><span class="link-label" *ngIf="opened"
            >Ngành đào tạo</span
          ></mat-list-item
        >

        <mat-list-item
          [routerLink]="['/staff/campaign']"
          routerLinkActive="active"
          ><mat-icon>event_note</mat-icon
          ><span class="link-label" *ngIf="opened"
            >Chiến dịch tuyển sinh</span
          ></mat-list-item
        >

        <mat-list-item [routerLink]="['/staff/news']" routerLinkActive="active"
          ><mat-icon>newspaper</mat-icon
          ><span class="link-label" *ngIf="opened"
            >Tin tức tuyển sinh</span
          ></mat-list-item
        >

        <mat-list-item
          [routerLink]="['/staff/application']"
          routerLinkActive="active"
          ><mat-icon>assignment</mat-icon
          ><span class="link-label" *ngIf="opened"
            >Hồ sơ ứng tuyển</span
          ></mat-list-item
        >

        <mat-list-item [routerLink]="['/stats']" routerLinkActive="active"
          ><mat-icon>timeline</mat-icon
          ><span class="link-label" *ngIf="opened"
            >Thống kê</span
          ></mat-list-item
        >
        <!-- <mat-divider></mat-divider>
        <mat-list-item
          class="user-section"
          (click)="option_opened = !option_opened"
        >
          <mat-icon>face</mat-icon>
          <span class="link-label" *ngIf="opened">Tên người dùng</span>
          <mat-icon
            *ngIf="opened"
            class="arrow-down-btn"
            [ngClass]="{ rotate: option_opened }"
            >keyboard_arrow_down</mat-icon
          >
        </mat-list-item>
        <mat-list-item class="user-option" *ngIf="option_opened && opened">
          <mat-icon>assignment_ind</mat-icon>
          <span class="option-label" *ngIf="option_opened">Hồ sơ</span>
        </mat-list-item>
        <mat-list-item class="user-option" *ngIf="option_opened && opened">
          <mat-icon>exit_to_app</mat-icon>
          <span class="option-label" *ngIf="option_opened">Đăng xuất</span>
        </mat-list-item> -->
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
