<div class="page-container">
  <div class="left-content-wrapper">
    <div class="center-item"></div>
    <ul class="around-item-wrapper">
      <li
        class="item-wrapper hoverEffect"
        *ngFor="let item of listAstrologyUrl | slice: 0:8; let i = index"
      >
        <img src="{{ item }}" alt="" />
      </li>
    </ul>
  </div>
  <div class="right-content-wrapper">
    <div class="box">
      <div class="box-header">
        <div class="box-header-title">Song Ngư</div>
        <div class="box-header-date">(19/2 - 20/3)</div>
      </div>
      <div class="main-content">
        <img src="../../assets/img/twelve-astrological/design.png" alt="">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
        laboriosam non repellendus eos nesciunt reprehenderit quis at, placeat
        eveniet nostrum, a consequuntur neque ratione corporis rem dolore
        ducimus excepturi magni illo aperiam ut eius cum. Accusamus
        necessitatibus maiores facilis repudiandae atque asperiores provident!
        Id deleniti praesentium sit minima in modi impedit. Blanditiis quis
        tenetur dolores, iste harum nostrum dolorem. Sapiente reprehenderit
        aperiam repudiandae, ipsa atque ducimus nostrum consectetur accusamus
        impedit perspiciatis, tempora illo, dignissimos temporibus repellat
        laboriosam hic? Distinctio, dolorem? Eveniet porro iste qui aut illo.
        Quos obcaecati voluptatum vitae reprehenderit, at iste ipsum cum eum
        veniam dolore soluta quam!
      </div>
    </div>
  </div>
</div>
