<app-nav></app-nav>
<div class="submit-app-header">Nộp hồ sơ</div>
<div class="wrapper">
    <mat-horizontal-stepper linear #stepper (selectionChange)="setIndex($event)" (click)="handleFinalStepClick()">
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Bước 1: Điền thông tin</ng-template>
                <!-- Personal info section-->
                <div class="personal-header first-header">Gửi hồ sơ cho trường {{uniDetail?.uniName}}</div>
                <div class="personal-header">THÔNG TIN CÁ NHÂN</div>
                <mat-divider></mat-divider>
                <div class="personal-section">
                    <div>
                        <div class="label">Họ và tên</div>
                        <mat-form-field appearance="fill">
                            <mat-label>Họ và tên</mat-label>
                            <input matInput formControlName="name" placeholder="Nhập họ và tên">
                        </mat-form-field>
                    </div>
                    <div>
                        <div class="label">Giới tính</div>
                        <mat-form-field appearance="fill">
                            <mat-label>Giới tính</mat-label>
                            <mat-select disableRipple [formControl]="genderControl">
                                <mat-option value="Nam">Nam</mat-option>
                                <mat-option value="Nu">Nữ</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <div class="label">Ngày sinh</div>
                        <mat-form-field appearance="fill">
                            <mat-label>Chọn ngày sinh</mat-label>
                            <input matInput [matDatepicker]="picker" [formControl]="dateOfBirthControl">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div>
                        <div class="label">Địa chỉ</div>
                        <mat-form-field appearance="fill">
                            <mat-label>Địa chỉ</mat-label>
                            <input matInput formControlName="address" placeholder="Nhập địa chỉ">
                        </mat-form-field>
                    </div>
                    <div>
                        <div class="label">CMND / CCCD</div>
                        <mat-form-field appearance="fill">
                            <mat-label>CMND</mat-label>
                            <input matInput formControlName="cmnd" placeholder="Nhập địa chỉ">
                        </mat-form-field>
                    </div>
                    <div>
                        <div class="label">Điện thoại</div>
                        <mat-form-field appearance="fill">
                            <mat-label>Điện thoại</mat-label>
                            <input matInput formControlName="phone" placeholder="Nhập số điện thoại">
                        </mat-form-field>
                    </div>
                    <div>
                        <div class="label">Email</div>
                        <mat-form-field appearance="fill">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" placeholder="Nhập email">
                        </mat-form-field>
                    </div>
                    <div>
                        <div class="label">Ngành ứng tuyển</div>
                        <mat-form-field appearance="fill">
                            <mat-label>Ngành ứng tuyển</mat-label>
                            <input type="text" placeholder="Pick one" aria-label="Number" matInput
                                formControlName="uniSpec" [matAutocomplete]="auto">
                            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>

                <!-- High school info section-->
                <div class="personal-header">HỒ SƠ HỌC VẤN</div>
                <mat-divider></mat-divider>
                <div class="highschool-section">
                    <div>
                        <div class="label">Trường THPT</div>
                        <mat-form-field appearance="fill">
                            <mat-label>Trường THPT</mat-label>
                            <input matInput formControlName="highschool" placeholder="Nhập trường THPT">
                        </mat-form-field>
                    </div>
                    <div>
                        <div class="label">Tỉnh thành</div>
                        <mat-form-field appearance="fill">
                            <mat-label>Tỉnh thành</mat-label>
                            <input type="text" placeholder="Pick one" aria-label="Number" matInput
                                formControlName="city" [matAutocomplete]="auto2">
                            <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
                                <mat-option *ngFor="let option of provinceFilteredOptions | async" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div>
                        <div class="label">Quận huyện</div>
                        <mat-form-field appearance="fill">
                            <mat-label>Tỉnh thành</mat-label>
                            <input type="text" placeholder="Pick one" aria-label="Number" matInput
                                formControlName="district" [matAutocomplete]="auto3">
                            <mat-autocomplete autoActiveFirstOption #auto3="matAutocomplete">
                                <mat-option *ngFor="let option of districtFilteredOptions | async" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div>
                        <div class="label">Năm tốt nghiệp</div>
                        <mat-form-field appearance="fill">
                            <mat-label>Năm tốt nghiệp</mat-label>
                            <input matInput formControlName="graduateYear" placeholder="Nhập năm tốt nghiệp">
                        </mat-form-field>
                    </div>
                    <div>
                        <div class="label">Điểm tổng kết năm lớp 12</div>
                        <mat-form-field appearance="fill">
                            <mat-label>Điểm tổng kết năm lớp 12</mat-label>
                            <input matInput formControlName="gradeTwelve" placeholder="Nhập điểm tổng kết năm lớp 12">
                        </mat-form-field>
                    </div>
                    <div>
                        <div class="label">Học lực lớp 12</div>
                        <mat-form-field appearance="fill">
                            <mat-label>Học lực lớp 12</mat-label>
                            <mat-select disableRipple [formControl]="abilityTwelveControl">
                                <mat-option value="Gioi">Giỏi</mat-option>
                                <mat-option value="Kha">Khá</mat-option>
                                <mat-option value="trungbinh">Trung bình</mat-option>
                            </mat-select>
                            <!-- <input matInput formControlName="abilityTwelve" placeholder="Nhập học lực lớp 12"> -->
                        </mat-form-field>
                    </div>
                </div>

                <div>
                    <button mat-raised-button matStepperNext class="next-btn">Tiếp</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <div class="step-two-header">
                Upload hồ sơ
            </div>
            <form [formGroup]="secondFormGroup" class="second-form">
                <ng-template matStepLabel>Bước 2: Upload Hồ sơ</ng-template>
                <div class="step-two-card">
                    <label>Học bạ THPT</label>
                    <div class="input-group">
                        <input #schoolProfileInput type="file" class="hide" id="upload-front-id"
                            (change)="schoolProfileFileChange($event)" formControlName="schoolProfile">
                        <div class="img-list">
                            <div class="img-section">
                                <img class="input-img" [src]="schoolProfile1Src || '../../assets/img/add-img.png'"
                                    alt="" (click)="schoolProfileClick(1)">
                                <div id="img-title">{{schoolProfile1Name ?? "Chọn hình ảnh"}}</div>
                            </div>
                            <div class="img-section" [ngClass]="{'hide': maxSchoolProfileIndex < 2}">
                                <img class="input-img" [src]="schoolProfile2Src || '../../assets/img/add-img.png'"
                                    alt="" (click)="schoolProfileClick(2)">
                                <div id="img-title">{{schoolProfile2Name ?? "Chọn hình ảnh"}}</div>
                            </div>
                            <div class="img-section" [ngClass]="{'hide': maxSchoolProfileIndex < 3}">
                                <img class="input-img" [src]="schoolProfile3Src || '../../assets/img/add-img.png'"
                                    alt="" (click)="schoolProfileClick(3)">
                                <div id="img-title">{{schoolProfile3Name ?? "Chọn hình ảnh"}}</div>
                            </div>
                            <div class="img-section" [ngClass]="{'hide': maxSchoolProfileIndex < 4}">
                                <img class="input-img" [src]="schoolProfile4Src || '../../assets/img/add-img.png'"
                                    alt="" (click)="schoolProfileClick(4)">
                                <div id="img-title">{{schoolProfile4Name ?? "Chọn hình ảnh"}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step-two-card">
                    <label>CMND mặt trước</label>
                    <input #frontImg type="file" class="hide" id="upload-front-id" (change)="frontIdFileChange($event)"
                        formControlName="frontId">
                    <div class="img-section">
                        <img class="input-img" [src]="frontIdSrc || '../../assets/img/add-img.png'" alt=""
                            (click)="frontImgClick()">
                        <div id="img-title">{{frontIdName ?? "Chọn hình ảnh"}}</div>
                    </div>
                </div>
                <div class="step-two-card">
                    <label>CMND mặt sau</label>
                    <input #backImg type="file" class="hide" id="upload-front-id" (change)="backIdFileChange($event)"
                        formControlName="backId">
                    <div class="img-section">
                        <img class="input-img" [src]="backIdSrc || '../../assets/img/add-img.png'" alt=""
                            (click)="backImgClick()">
                        <div id="img-title">{{backIdName ?? "Chọn hình ảnh"}}</div>
                    </div>
                </div>
                <div class="action-btn">
                    <button mat-raised-button matStepperPrevious>Back</button>
                    <button mat-raised-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <form [formGroup]="finishFormGroup">
                <ng-template matStepLabel>
                    <span>Hoàn tất</span>
                </ng-template>
                <!-- Personal info section-->
                <div class="finish-header">KIỂM TRA LẠI THÔNG TIN</div>
                <div class="personal-header">THÔNG TIN CÁ NHÂN</div>
                <mat-divider></mat-divider>
                <div class="personal-section">
                    <div>
                        <div class="label">Họ và tên</div>
                        <mat-form-field appearance="fill">
                            <mat-label>Họ và tên</mat-label>
                            <input matInput formControlName="name" placeholder="Nhập họ và tên">
                        </mat-form-field>
                    </div>
                    <div>
                        <div class="label">Giới tính</div>
                        <mat-form-field appearance="fill">
                            <mat-label>Giới tính</mat-label>
                            <mat-select disableRipple [formControl]="genderControl">
                                <mat-option value="Nam">Nam</mat-option>
                                <mat-option value="Nu">Nữ</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <div class="label">Ngày sinh</div>
                        <mat-form-field appearance="fill">
                            <mat-label>Chọn ngày sinh</mat-label>
                            <input matInput [matDatepicker]="picker2" [formControl]="dateOfBirthControl">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div>
                        <div class="label">Địa chỉ</div>
                        <mat-form-field appearance="fill">
                            <mat-label>Địa chỉ</mat-label>
                            <input matInput formControlName="address" placeholder="Nhập địa chỉ">
                        </mat-form-field>
                    </div>
                    <div>
                        <div class="label">CMND / CCCD</div>
                        <mat-form-field appearance="fill">
                            <mat-label>CMND</mat-label>
                            <input matInput formControlName="cmnd" placeholder="Nhập địa chỉ">
                        </mat-form-field>
                    </div>
                    <div>
                        <div class="label">Điện thoại</div>
                        <mat-form-field appearance="fill">
                            <mat-label>Điện thoại</mat-label>
                            <input matInput formControlName="phone" placeholder="Nhập số điện thoại">
                        </mat-form-field>
                    </div>
                    <div>
                        <div class="label">Email</div>
                        <mat-form-field appearance="fill">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" placeholder="Nhập email">
                        </mat-form-field>
                    </div>
                    <div>
                        <div class="label">Ngành ứng tuyển</div>
                        <mat-form-field appearance="fill">
                            <mat-label>Ngành ứng tuyển</mat-label>
                            <input type="text" placeholder="Pick one" aria-label="Number" matInput
                                formControlName="uniSpec" [matAutocomplete]="auto1">
                            <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete">
                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>

                <!-- High school info section-->
                <div class="personal-header">THÔNG TIN TỐT NGHIỆP TRUNG HỌC PHỔ THÔNG</div>
                <mat-divider></mat-divider>
                <div class="highschool-section">
                    <div>
                        <div class="label">Trường THPT</div>
                        <mat-form-field appearance="fill">
                            <mat-label>Trường THPT</mat-label>
                            <input matInput formControlName="highschool" placeholder="Nhập trường THPT">
                        </mat-form-field>
                    </div>
                    <div>
                        <div class="label">Tỉnh thành</div>
                        <mat-form-field appearance="fill">
                            <mat-label>Tỉnh thành</mat-label>
                            <input type="text" placeholder="Pick one" aria-label="Number" matInput
                                formControlName="city" [matAutocomplete]="auto2">
                            <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
                                <mat-option *ngFor="let option of provinceFilteredOptions | async" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div>
                        <div class="label">Quận huyện</div>
                        <mat-form-field appearance="fill">
                            <mat-label>Tỉnh thành</mat-label>
                            <input type="text" placeholder="Pick one" aria-label="Number" matInput
                                formControlName="district" [matAutocomplete]="auto3">
                            <mat-autocomplete autoActiveFirstOption #auto3="matAutocomplete">
                                <mat-option *ngFor="let option of districtFilteredOptions | async" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div>
                        <div class="label">Năm tốt nghiệp</div>
                        <mat-form-field appearance="fill">
                            <mat-label>Năm tốt nghiệp</mat-label>
                            <input matInput formControlName="graduateYear" placeholder="Nhập năm tốt nghiệp">
                        </mat-form-field>
                    </div>
                    <div>
                        <div class="label">Điểm tổng kết năm lớp 12</div>
                        <mat-form-field appearance="fill">
                            <mat-label>Điểm tổng kết năm lớp 12</mat-label>
                            <input matInput formControlName="gradeTwelve" placeholder="Nhập điểm tổng kết năm lớp 12">
                        </mat-form-field>
                    </div>
                    <div>
                        <div class="label">Học lực lớp 12</div>
                        <mat-form-field appearance="fill">
                            <mat-label>Học lực lớp 12</mat-label>
                            <mat-select disableRipple [formControl]="abilityTwelveControl">
                                <mat-option value="Gioi">Giỏi</mat-option>
                                <mat-option value="Kha">Khá</mat-option>
                                <mat-option value="trungbinh">Trung bình</mat-option>
                            </mat-select>
                            <!-- <input matInput formControlName="abilityTwelve" placeholder="Nhập học lực lớp 12"> -->
                        </mat-form-field>
                    </div>
                </div>
                <!-- <div class="step-two-card">
                    <label>Học bạ THPT</label>
                    <div class="input-group">
                        <input type="file" (change)="schoolProfileFileChange($event)" formControlName="schoolProfile">
                        <input class="school-profile-name" type='text' formControlName="schoolProfileName">
                    </div>
                </div>
                <div class="step-two-card">
                    <label>CMND mặt trước</label>
                    <input type="file" (change)="frontIdFileChange($event)" formControlName="frontId">
                </div>
                <div class="step-two-card">
                    <label>CMND mặt sau</label>
                    <input type="file" (change)="backIdFileChange($event)" formControlName="backId">
                </div> -->
                <div class="step-two-card">
                    <label>Học bạ THPT</label>
                    <div class="input-group">
                        <input #schoolProfileInput type="file" class="hide" id="upload-front-id"
                            (change)="schoolProfileFileChange($event)" formControlName="schoolProfile">
                        <div class="img-list">
                            <div class="img-section">
                                <img class="input-img" [src]="schoolProfile1Src || '../../assets/img/add-img.png'"
                                    alt="" (click)="schoolProfileClick(1)">
                                <div id="img-title">{{schoolProfile1Name ?? "Chọn hình ảnh"}}</div>
                            </div>
                            <div class="img-section" [ngClass]="{'hide': maxSchoolProfileIndex < 2}">
                                <img class="input-img" [src]="schoolProfile2Src || '../../assets/img/add-img.png'"
                                    alt="" (click)="schoolProfileClick(2)">
                                <div id="img-title">{{schoolProfile2Name ?? "Chọn hình ảnh"}}</div>
                            </div>
                            <div class="img-section" [ngClass]="{'hide': maxSchoolProfileIndex < 3}">
                                <img class="input-img" [src]="schoolProfile3Src || '../../assets/img/add-img.png'"
                                    alt="" (click)="schoolProfileClick(3)">
                                <div id="img-title">{{schoolProfile3Name ?? "Chọn hình ảnh"}}</div>
                            </div>
                            <div class="img-section" [ngClass]="{'hide': maxSchoolProfileIndex < 4}">
                                <img class="input-img" [src]="schoolProfile4Src || '../../assets/img/add-img.png'"
                                    alt="" (click)="schoolProfileClick(4)">
                                <div id="img-title">{{schoolProfile4Name ?? "Chọn hình ảnh"}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step-two-card">
                    <label>CMND mặt trước</label>
                    <input #frontImg type="file" class="hide" id="upload-front-id" (change)="frontIdFileChange($event)"
                        formControlName="frontId">
                    <div class="img-section">
                        <img class="input-img" [src]="frontIdSrc || '../../assets/img/add-img.png'" alt=""
                            (click)="frontImgClick()">
                        <div id="img-title">{{frontIdName ?? "Chọn hình ảnh"}}</div>
                    </div>
                </div>
                <div class="step-two-card">
                    <label>CMND mặt sau</label>
                    <input #backImg type="file" class="hide" id="upload-front-id" (change)="backIdFileChange($event)"
                        formControlName="backId">
                    <div class="img-section">
                        <img class="input-img" [src]="backIdSrc || '../../assets/img/add-img.png'" alt=""
                            (click)="backImgClick()">
                        <div id="img-title">{{backIdName ?? "Chọn hình ảnh"}}</div>
                    </div>
                </div>
                <div class="action-btn">
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="submitAll()">Hoàn tất</button>
                </div>
            </form>
        </mat-step>
    </mat-horizontal-stepper>
</div>