.body {
  background-color: #f1f2f6;
}

.toolbar {
  background: #f3f4f8;
  font-size: 1.1rem;
}
.page-container {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
}
.search-section {
  margin-top: 2%;
  font-size: 14px;
  text-align: center;
}

.search-input {
  margin-left: 1%;
  width: 25vw;
}

::ng-deep .search-section input {
  width: 94%;
}

.search-section mat-form-field {
  border-radius: 5px;
  border: #d9d9d9 solid 2px;
  padding: -5% 5px;
  background-color: #FFF;
}

::ng-deep .mat-form-field-underline {
  visibility: hidden;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

::ng-deep .mat-form-field-appearance-standard .mat-form-field-flex {
  padding-top: 0 !important;
}

::ng-deep .mat-form-field-infix {
  padding: 1.2vh;
  border: none;
}

.search-section .type-option {
  width: 15vw;
}

.create-new-btn {
  margin: 0 1%;
  height: 100%;
  color: #fff;
  background-color: #00b14f;
}

::ng-deep mat-form-field.mat-focused {
  outline: none;
  border: #00b14f solid 2px !important;
}

.search-section mat-form-field mat-icon {
  font-size: 20px;
  position: absolute;
  bottom: -10px;
  right: 0;
}

.campaign-table {
  margin-top: 2%;
  width: 100%;
}

.data-table {
  font-size: 1.5rem;
  width: 100%;
}

::ng-deep
.mat-header-cell{
  font-size: 1rem;
}

.data-table tr {
  height: 8vh;
  font-size: 1.5rem;
}

.cursor{
  cursor: pointer;

}

.active-row {
  background-color: #f2fbf6;
}

.campaign-name {
  font-weight: 500;
}

.status {
  font-weight: 500;
}

.status-icon {
  font-size: 1rem;
}

.status-normal {
  color: blue;
}
.status-completed {
  color: #00b14f;
}
.status-suspended {
  color: chocolate;
}
.status-blocked {
  color: red;
}

:host
  ::ng-deep
  .mat-slide-toggle.mat-checked:not(.mat-disabled)
  .mat-slide-toggle-bar {
  background-color: #43dd88;
}

:host
  ::ng-deep
  .mat-slide-toggle.mat-checked:not(.mat-disabled)
  .mat-slide-toggle-thumb {
  background-color: #00b14f;
}
