<div class="body">
  <mat-toolbar class="toolbar"><span>Quản lí chiến dịch tuyển sinh</span></mat-toolbar>
  <div class="page-container">
    <div class="search-section">
      <button mat-flat-button class="create-new-btn">
        <mat-icon>event_note</mat-icon>Chiến dịch mới
      </button>

      <mat-form-field appearance="standard" class="type-option">
        <!-- <mat-label>Tuỳ chọn</mat-label> -->
        <mat-select disableRipple [(ngModel)]="selectedItem">
          <mat-option value="all">Tất cả chiến dịch</mat-option>
          <mat-option value="active">Chiến dịch đang hoạt động</mat-option>
          <mat-option value="pending">Có hồ sơ chờ duyệt</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="standard" class="search-input">
        <!-- <mat-label>Outline form field</mat-label> -->
        <input matInput placeholder="Tên chiến dịch" />
        <mat-icon matSuffix>search</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
    </div>

    <div class="campaign-table">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 data-table">
        <!-- State Column -->
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef>Bật/tắt hoạt động</th>
          <td mat-cell *matCellDef="let element">
            <mat-slide-toggle size="small" color="primary" [(ngModel)]="element.state" class="campaign-toggle-btn">
            </mat-slide-toggle>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Tên</th>
          <td mat-cell *matCellDef="let element" routerLink="{{element.id}}" class="cursor">
            <span class="campaign-name"> {{ element.name }}</span>
          </td>
        </ng-container>

        <!-- Status Column -->
        

        <!-- pendingApplication Column -->
        <ng-container matColumnDef="pendingApplication">
          <th mat-header-cell *matHeaderCellDef>Hồ sơ chờ duyệt</th>
          <td mat-cell *matCellDef="let element">
            {{ element.pendingApplication }}
          </td>
        </ng-container>

        <!-- Completion Column -->
        <ng-container matColumnDef="completion">
          <th mat-header-cell *matHeaderCellDef>Tiến độ hoàn thành</th>
          <td mat-cell *matCellDef="let element">{{ element.completion }} %</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Trạng thái</th>
          <td mat-cell *matCellDef="let element" ngClass="status status-{{ element.status }}">
            <div class="status-text" *ngIf="element.status == 'normal'">
              <mat-icon class="status-icon">fiber_manual_record</mat-icon>
              <span>Hoạt động</span>
            </div>
            <div class="status-text" *ngIf="element.status == 'completed'">
              <mat-icon class="status-icon">fiber_manual_record</mat-icon><span>Hoàn thành</span>
            </div>
            <div class="status-text" *ngIf="element.status == 'suspended'">
              <mat-icon class="status-icon">fiber_manual_record</mat-icon><span>Tạm hoãn</span>
            </div>
            <div class="status-text" *ngIf="element.status == 'blocked'">
              <mat-icon class="status-icon">fiber_manual_record</mat-icon><span>Đã huỷ</span>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{ 'active-row': row.state == true }">
        </tr>
      </table>

      <mat-paginator [length]="this.dataSource._filterData.length" [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions" showFirstLastButtons aria-label="Chọn trang chiến dịch">
      </mat-paginator>
    </div>
  </div>
</div>