* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.note-text {
  color: red;
}

.question {
  width: 100%;
}

.question-container:first-child {
  width: 10%;
}

mat-divider {
  margin-bottom: 10px;
}

.same {
  font-size: 20px;
  color: #008300;
}

.difference {
  font-size: 20px;
  color: red;
}

.title-disc {
  font-size: 40px;
  color: #00b14f;
  margin: 10px 0;
  font-weight: 500;
  width: fit-content;
  margin: 0 auto;
}

.disc-header {
  background-color: #f3c97d;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 2px 0 0 0 #ccc;
}

.header-content {
  width: 25%;
  text-align: center;
}

.error-text {
  color: red;
  display: none;
  float: right;
}

.question-container {
  background-color: #ffffff;
  padding: 10px 20px;
  min-width: 100%;
  box-shadow: 1px 1px 1px 1px #ccc;
}

.question-container:nth-child(even) {
  background-color: #f8f5f2;
}

.question-index {
  font-size: 18px;
  display: inline;
  font-weight: 500;
}

.question-total {
  color: #6f6d6e;
}

.horizontal-line {
  width: 100%;
  height: 0.5px;
  border: 0.5px solid #6f6d6e;
  margin-top: 5px;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.input-container {
  display: block;
  position: relative;
  padding-left: 35px;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 2px solid green;
  border-radius: 4px;
  margin-left: 50%;
}

.active-same::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 1px;
  width: 8px;
  height: 12px;
  border: solid green;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkmark-differ {
  position: absolute;
  top: 4px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 2px solid red;
  border-radius: 4px;
  margin-left: 50%;
}

.active-difference::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 1px;
  width: 8px;
  height: 12px;
  border: solid red;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.disable {
  pointer-events: none;
  background-color: #ccc;
}

input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

span {
  cursor: pointer;
}

.answer-box {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.answer {
  font-size: 17px;
  width: 50%;
}

.icon-check {
  color: #6f6d6e;
  font-size: 30px;
}

.container-main {
  width: 100%;
  background-color: #f4e9e2;
  padding: 20px;
}

.content {
  width: 70%;
  margin: 0 auto;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}

.btn-result {
  padding: 5px 10px;
  margin-top: -500px;
}

.answer-row {
  display: flex;
  // justify-content: space-between;
  margin: 5px 0;
}

label {
  width: 50%;
  // display: flex;
  // justify-content: center;
}

.same-label {
  font-size: 16px;
  color: green;
}

.different-label {
  font-size: 16px;
  color: red;
}

.pageIndex {
  font-size: 18px;
  padding: 10px 0;
  width: fit-content;
  margin: 0 auto;
}

:host ::ng-deep.mat-paginator {
  width: 100%;
}

:host ::ng-deep.mat-paginator .mat-paginator-container {
  justify-content: flex-end;
  background-color: #f4e9e2;
  font-size: 16px;
}

@media (max-width: 600px) {
  .answer-container {
    grid-template-columns: calc(100% - 20px);
  }
}
