<div class="container-main">
    <div class="content">
        <p class="title-disc">Bài trắc nghiệm DISC</p>
        <p class="note-text">*Hãy đọc thật kĩ và chọn câu trả lời phù hợp nhất với bản thân</p>
        <div class="disc-header">
            <span class="header-content same">Giống bạn nhất</span>
            <span class="header-content difference">Khác bạn nhất</span>
        </div>
        <div class="question">
            <div class="question-container" *ngFor="let question of questionSlice;index as i">
                <p class="question-index">Câu <span>{{question.id}}</span></p>
                <span class="error-text">Vui lòng chọn câu trả lời bên dưới</span>
                <!-- <mat-divider></mat-divider> -->

                <div class="answer-container">
                    <div class="answer-row" *ngFor="let answer of questionSlice[i].answers;index as j">
                        <p class="answer">{{answer}}</p>
                        <div class="answer-box">
                            <label class="input-container">
                                <input class="disc-same" type="radio">
                                <span class="checkmark" (click)="chooseAnswer(i,j,$event)"></span>
                            </label>
                            <label class="input-container">
                                <input class="disc-differ" type="radio">
                                <span class="checkmark-differ" (click)="chooseAnswer(i,j,$event)"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="pageIndex">Trang <span class="start-index">{{currentPage+1}}</span>/<span
                class="end-index">{{totalPage}}</span>
        </p>
        <!-- <mat-paginator [length]="questions.length" [pageSize]="10" aria-label=" Select page"
            (page)="changePage($event)">
        </mat-paginator> -->
    </div>

</div>





<!-- <button class="btn-result" (click)="checkUserAnswer()">Kết quả</button> -->