<div class="major-container">
  <app-nav></app-nav>
  <div class="major-title-section">
    <div class="major-title left">
      <p class="title">Ngành học</p>
      <p class="title-note">Tìm hiểu thêm thông tin về các ngành nghề đào tạo để có cái nhìn tốt hơn cho định hướng
        tương lai</p>
      <div class="title-round">
        <p class="title-round-note">Liệt kê theo kết quả các bài trắc nghiệm </p>
      </div>
    </div>

    <img src="/assets/img/background.png" class="title-img right">
  </div>

  <div class="horizontal-bar"></div>

  <p class="major-list-text">DANH SÁCH NGÀNH HỌC</p>
  <div class="major-list" *ngFor="let major of majorList">
    <div class="major-info">
      <img src="/assets/img/background.png" class="major-info-img">
      <div class="major-info-right">
        <p class="major-info-title">{{major.majorName}}</p>
        <p class="major-info-introduce">{{major.majorInfo}}</p>
        <p class="major-info-btn">Xem chi tiết </p>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>