<div class="page-container shadow">
  <app-nav></app-nav>

  <div class="banner-section">
    <img src="../../assets/img/disc-banner-nobackground.png" alt="mbti test" />
  </div>
  <div class="banner-option">
    <a href="#" routerLink="/disc-quiz-attempt" class="btn-start"
      >Bắt đầu ngay</a
    >
  </div>
</div>

<div class="content-container">
  <div class="content-section">
    <h4 class="content-header">DISC Test là gì</h4>
    <p class="content-text">
      Trắc nghiệm tính cách DISC là một công cụ xác định tính cách của người đối
      diện thông qua hành vi của họ trong một tình huống thực tế hay hệ thống
      câu hỏi cụ thể. Điều này giúp bạn có thể nắm bắt sở thích, suy nghĩ và xu
      hướng hành vi của người đó, từ biết được họ thuộc nhóm tính cách nào để
      giao tiếp linh hoạt, hiệu quả. Những phân tích rõ ràng và cụ thể về 4 nhóm
      phong cách hành vi theo DISC giúp bạn cải thiện kỹ năng giao tiếp của bản
      thân, tạo thiện cảm với mọi người xung quanh, xây dựng mối quan hệ, xây
      dựng đội nhóm và phát triển mối quan hệ cộng đồng.
      <br /><br />
      Trắc nghiệm DISC được xây dựng dựa trên lý thuyết DISC của nhà tâm lý học
      William Moulton Marston – một luật sư và một nhà tâm lý học. Đây là một
      trong những công cụ hữu ích nhất được các công ty và tổ chức sử dụng hiện
      nay để đánh giá tính cách ứng viên. Người làm bài đánh giá sẽ hoàn thành
      một bảng câu hỏi bao gồm từ 24 đến 28 câu. Mỗi câu hỏi bao gồm 4 tính từ
      được trích ra từ nghiên cứu ban đầu của Marston.
    </p>
  </div>
  <div class="content-section">
    <h4 class="content-header">Tiêu chí</h4>
    <p class="content-text">
      Theo trắc nghiệm tính cách DISC, tính cách của mỗi người trong số chúng ta
      đều nằm trong 4 khuôn mẫu hành vi của 4 nhóm: D (Dominance – Quyền lực), I
      (Influence – Sự ảnh hưởng), S (Steadiness – Sự kiên định), C – (Compliance
      – Sự tuân thủ). Mỗi cá nhân đều hội tụ đủ bốn nhóm tính cách trên, với mức
      độ khác nhau. Khi đọc biểu đồ DISC của một cá nhân, chúng ta sẽ chọn ra
      một hoặc hai nhóm chiếm phần trăm cao nhất để xác định tính cách điển hình
      của người đó.
    </p>
  </div>

  <div class="bubble-section content-section">
    <h4 class="content-header">12 Kiểu tính cách</h4>
    <div class="type-bubble-container">
      <div class="bubble-row">
        <div class="bubble" *ngFor="let type of discTypes">
          <app-type-bubble
            [name]="type.name"
            [shorthand]="type.shorthand"
            [imgSrc]="type.imgSrc"
          ></app-type-bubble>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
