<div class="page-container shadow">
  <app-nav></app-nav>

  <div class="banner-section">
    <img src="{{test.bannerUrl}}" alt="{{test.quizName}}" />
  </div>
  <div class="banner-option">
    <!-- TODO: change this router to /test-attemp:param(id) -->
    <a href="#" routerLink="/disc-quiz-attempt" class="btn-start"
      >Bắt đầu ngay</a
    >
  </div>
</div>

<div class="content-container">
  <div class="content-section">
    <h4 class="content-header">{{ test.quizName }} là gì</h4>
    <p class="content-text">
      {{ test.introduction }}
    </p>
  </div>
  <div class="content-section">
    <h4 class="content-header">Lịch sử</h4>
    <p class="content-text">
      {{ test.history }}
    </p>
  </div>
  <div class="content-section">
    <h4 class="content-header">Tiêu chí</h4>
    <p class="content-text">
      {{ test.criteriaInformation }}
    </p>
  </div>

  <div class="bubble-section content-section">
    <h4 class="content-header">12 Kiểu tính cách</h4>
    <div class="type-bubble-container">
      <div class="bubble-row">
        <div class="bubble" *ngFor="let type of discTypes">
          <app-type-bubble
            [name]="type.name"
            [shorthand]="type.shorthand"
            [imgSrc]="type.imgSrc"
          ></app-type-bubble>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
