<div class="page-container shadow">
  <app-nav></app-nav>

  <div class="banner-section">
    <img src="{{test.bannerUrl}}" alt="{{test.testName}}" />
  </div>
  <div class="banner-option">
    <!-- TODO: change this router to /test-attemp:param(id) -->
    <a (click)="redirectTest(test.testTypeId,test.id,0)" class="btn-start">Bắt đầu ngay</a>
  </div>
</div>
<p class="note">*Bạn nên làm lại bài test sau mỗi 6 tháng</p>

<div class="content-container">
  <div class="content-section">
    <h4 class="content-header">{{ test.testName }} là gì</h4>
    <p class="content-text">
      {{ test.introduction }}
    </p>
  </div>
  <div class="content-section">
    <h4 class="content-header">Lịch sử</h4>
    <p class="content-text">
      {{ test.history }}
    </p>
  </div>
  <div class="content-section">
    <h4 class="content-header">Tiêu chí</h4>
    <p class="content-text">
      {{ test.criteriaInformation }}
    </p>
  </div>

  <div class="bubble-section content-section" *ngIf="characters">
    <h4 class="content-header">12 Kiểu tính cách</h4>
    <div class="type-bubble-container">
      <div class="bubble-row">
        <div class="bubble" *ngFor="let character of characters">
          <app-type-bubble [name]="character.resultName" [shorthand]="character.resultShortName"
            [imgSrc]="character.resultPictureUrl"></app-type-bubble>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>