<app-nav></app-nav>
<div class="bf-container">
    <div class="header-banner">
        <div class="header-banner-left">
            <p class="header-banner-title">Trắc nghiệm tính cách Big Five</p>
            <div class="horizontal-bar"></div>
            <p class="header-banner-sub-title">Đo lường chính xác các đặc điểm tính cách chính của bạn</p>
        </div>
        <div class="header-banner-right">
            <img class="header-banner-img" src="./assets/img/discover.png" alt="">
        </div>
    </div>
    <div class="description">
        <p class="description-count-make"><span class="count">1,212,671</span> NGƯỜI LÀM NGÀY HÔM QUA</p>
        <div class="horizontal-bar"></div>
        <p class="description-text">
            Bài kiểm tra tính cách miễn phí này cung cấp cho bạn điểm số chính xác cho các đặc điểm tính cách của Big
            Five. Xem chính xác điểm số của bạn cho các điểm cởi mở, tận tâm, hướng ngoại, dễ chịu và chủ nghĩa thần
            kinh với đánh giá tính cách khoa học này.</p>

    </div>
</div>
<div class="note-text">*Hãy đọc kĩ câu hỏi và lựa chọn mức độ phù hợp nhất với bản thân. </div>
<app-bf-question></app-bf-question>