* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-banner {
  background-color: #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
}

.header-banner-left {
  width: 35%;
}

.header-banner-title {
  font-size: 40px;
  text-transform: uppercase;
}

.horizontal-bar {
  width: 100px;
  height: 0.5px;
  border: 0.5px solid #000;
  margin: 10px 0;
}

.header-banner-sub-title {
  color: #f4e9e2;
  font-size: 20px;
  font-weight: 500;
  font-stretch: 100;
}

.header-banner-right {
  width: 30%;
}

.header-banner-img {
  width: 300px;
}

.description {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.description-count-make {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.count {
  color: red;
}

.description-text {
  width: 100%;
  width: 70%;
  text-align: center;
  font-size: 18px;
}

.note-text {
  color: red;
  margin-left: 10%;
}

app-bf-question {
  background-color: #f4e9e2;
}
