<div class="container-main">
  <p class="title-mbti">Bài trắc nghiệm Holland</p>
  <p class="note-text">*Hãy đọc thật kĩ và chọn câu trả lời phù hợp nhất với bản thân</p>
  <div class="content">
    <div class="question-container" *ngFor="let question of questionSlice;index as i">
      <p class="question-index">{{question.id}}. <span class="question-text">{{question.questionText}}</span></p>
      <div class="answer-container">
        <div class="answer" *ngFor="let answer of questionSlice[i].answers;index as j">
          <input type="checkbox" name="answer-checkbox{{i}}" id="checkbox{{i}}{{j}}" value="{{answer}}"
            (click)="storeUserAnswer($event,i)">
          <label for="checkbox{{i}}{{j}}">{{answer}}</label>
        </div>
      </div>
    </div>
  </div>
  <p class="pageIndex">Trang <span class="start-index">{{currentPage+1}}</span>/<span
      class="end-index">{{totalPage}}</span>
  </p>
  <mat-paginator [length]="questions.length" [pageSize]="10" aria-label=" Select page" (page)="changePage($event)">
  </mat-paginator>
</div>
<!-- <button class="btn-result">Kết quả</button> -->