.news-section {
  width: auto;
  background-color: #f1f1f1;
  margin-top: 3%;
  padding-bottom: 2%;
}

.section-header {
  padding-top: 3%;
}

.section-header h3 {
  font-family: "Open Sans Bold";
  font-size: 17;
  color: #5c5c5c;
}

.news-container {
  padding-top: 2%;
}

.news-left {
  width: 62%;
}

.news-right {
  margin-left: -2%;
  width: 32%;
}

.news-right .news-item {
  margin-bottom: 5%;
}
.edu-news-container,
.news-container,
.school-rank-container {
  margin: 1% 0;
}

.school-view-rank-section {
  width: 100%;
  background-color: #f1f1f1;
  padding-bottom: 2%;
}

.school-rank-container {
  margin: 2%;
}

.edu-news-item {
  margin: 5px;
  margin-top: 2%;
  width: 31%;
}
