.news-section {
  width: auto;
  background-color: #f1f1f1;
  margin-top: 3%;
  padding-bottom: 2%;
}

.section-header {
  padding-top: 3%;
}

.section-header h3 {
  font-family: "Open Sans Bold";
  font-size: 17;
  color: #5c5c5c;
}

.news-container {
  padding-top: 2%;
}

.news-left {
  width: 62%;
}

.news-right {
  margin-left: -2%;
  width: 32%;
  
}

.news-right .news-item {
  margin-bottom: 5%;
}
.edu-news-container,
.news-container,
.school-rank-container {
  margin: 1% 0;
}

.school-view-rank-section {
  width: 100%;
  background-color: #f1f1f1;
  padding-bottom: 2%;
}

.school-rank-container {
  margin: 2%;
}

.edu-news-item {
  margin: 5px;
  margin-top: 2%;
  width: 31%;
}

@media (max-width:500px){
  .news-container{
    flex-wrap: wrap;
  }

  .news-left{
    width:100%;
  }

  .news-right{
    display: flex;
    width:100%;
    margin-top:10px;
    gap:10px;

  }

  .edu-news-container{
    flex-wrap: wrap;
    gap:10px;

  }

  .edu-news-item{
    width:50%;
    margin:10px 0;
    padding:0;
  }

  .news-img{
    margin:0;
    padding:0;
    width:100%;
  }

  .edu-news-item{
    width:45%;
  }
}

@media(min-width:500px) and (max-width:900px) {
  .news-container{
    flex-wrap: wrap;
  }

  .news-left{
    width:100%;
  }

  .news-right{
    display: flex;
    width:100%;
    margin-top:10px;
    gap:10px;
  }

  .edu-news-container{
    flex-wrap: wrap;
    gap:10px;
  }

  .edu-news-item{
    width:50%;
    margin:10px 0;
    padding:0;
  }

  .container{
    margin:0;
    padding:0;
    width:100%;
  }

  .edu-news-item{
    width:45%;
  }
}


