$r: 36vh;
$card-width: 7vw;

app-nav {
  color: #ffffff !important;
}

.hide {
  display: none !important;
}

.page-container {
  position: relative;
  width: 100%;
  height: 110vh;
  background-image: url("../../assets/img/twelve-astrological/bg.png");
  background-size: cover;
  background-position: center;
}



.page-container>img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1 / 1;
  transition: opacity 1s linear;
}

.cirlce1,
.circle2 {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle1 {
  width: 270px;
  opacity: 1;
}

.circle2 {
  width: 250px;
  opacity: 0;
}

.circle1.hide {
  opacity: 0;
}

.circle2.show {
  opacity: 1;
}


.wrapper {
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.wrapper>.img-card {
  width: $card-width;
  min-width: 120px;
  position: absolute;
  margin: auto;
  transition: 1s;
}

.img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-wrapper .title1 {
  color: #fff;
  font-size: 16px;
  color: #f4b677;
}

.img-wrapper .title2 {
  color: #fff;
  font-size: 14px;
}

.img-wrapper>img {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.wrapper>.img-card:hover {
  filter: drop-shadow(0px 0px 18px #fff);
  width: calc($card-width * 1.2);
}

.wrapper .img-card:nth-child(1) {
  transform: rotate(0deg) translate($r);
}

.wrapper .img-card:nth-child(2) {
  transform: rotate(30deg) translate($r);
}

.wrapper .img-card:nth-child(3) {
  transform: rotate(60deg) translate($r);
}

.wrapper .img-card:nth-child(4) {
  transform: rotate(90deg) translate($r);
}

.wrapper .img-card:nth-child(5) {
  transform: rotate(120deg) translate($r);
}

.wrapper .img-card:nth-child(6) {
  transform: rotate(150deg) translate($r);
}

.wrapper .img-card:nth-child(7) {
  transform: rotate(180deg) translate($r);
}

.wrapper .img-card:nth-child(8) {
  transform: rotate(210deg) translate($r);
}

.wrapper .img-card:nth-child(9) {
  transform: rotate(240deg) translate($r);
}

.wrapper .img-card:nth-child(10) {
  transform: rotate(270deg) translate($r);
}

.wrapper .img-card:nth-child(11) {
  transform: rotate(300deg) translate($r);
}

.wrapper .img-card:nth-child(12) {
  transform: rotate(330deg) translate($r);
}



.img-card:nth-child(1) .img-wrapper {
  transform: rotate(0deg);
}

.img-card:nth-child(2) .img-wrapper {
  transform: rotate(-30deg);
}

.img-card:nth-child(3) .img-wrapper {
  transform: rotate(-60deg);
}

.img-card:nth-child(4) .img-wrapper {
  transform: rotate(-90deg);
}

.img-card:nth-child(5) .img-wrapper {
  transform: rotate(-120deg);
}

.img-card:nth-child(6) .img-wrapper {
  transform: rotate(-150deg);
}

.img-card:nth-child(7) .img-wrapper {
  transform: rotate(-180deg);
}

.img-card:nth-child(8) .img-wrapper {
  transform: rotate(-210deg);
}

.img-card:nth-child(9) .img-wrapper {
  transform: rotate(-240deg);
}

.img-card:nth-child(10) .img-wrapper {
  transform: rotate(-270deg);
}

.img-card:nth-child(11) .img-wrapper {
  transform: rotate(-300deg);
}

.img-card:nth-child(12) .img-wrapper {
  transform: rotate(-330deg);
}



.card-img {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../../assets/img/holland-text-image.png");
  background-size: cover;
  background-position: center;
}

.trans-center1 {
  transform: none !important;
}

.scale13 {
  width: calc($card-width * 1.2) !important;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@media only screen and (max-width: 100vh) {
  .wrapper .img-card:nth-child(1) {
    transform: rotate(0deg) translate(40vw);
  }

  .wrapper .img-card:nth-child(2) {
    transform: rotate(40deg) translate(45vw);
  }

  .wrapper .img-card:nth-child(3) {
    transform: rotate(60deg) translate(42vh);
  }

  .wrapper .img-card:nth-child(4) {
    transform: rotate(90deg) translate(38vh);
  }

  .wrapper .img-card:nth-child(5) {
    transform: rotate(120deg) translate(42vh);
  }

  .wrapper .img-card:nth-child(6) {
    transform: rotate(150deg) translate(45vw);
  }

  .wrapper .img-card:nth-child(7) {
    transform: rotate(180deg) translate(40vw);
  }

  .wrapper .img-card:nth-child(8) {
    transform: rotate(210deg) translate(42vw);
  }

  .wrapper .img-card:nth-child(9) {
    transform: rotate(240deg) translate(40vh);
  }

  .wrapper .img-card:nth-child(10) {
    transform: rotate(270deg) translate(40vh);
  }

  .wrapper .img-card:nth-child(11) {
    transform: rotate(300deg) translate(40vh);
  }

  .wrapper .img-card:nth-child(12) {
    transform: rotate(320deg) translate(40vw);
  }

  .img-card:nth-child(1) .img-wrapper {
    transform: rotate(0deg);
  }

  .img-card:nth-child(2) .img-wrapper {
    transform: rotate(-40deg);
  }

  .img-card:nth-child(3) .img-wrapper {
    transform: rotate(-60deg);
  }

  .img-card:nth-child(4) .img-wrapper {
    transform: rotate(-90deg);
  }

  .img-card:nth-child(5) .img-wrapper {
    transform: rotate(-120deg);
  }

  .img-card:nth-child(6) .img-wrapper {
    transform: rotate(-150deg);
  }

  .img-card:nth-child(7) .img-wrapper {
    transform: rotate(-180deg);
  }

  .img-card:nth-child(8) .img-wrapper {
    transform: rotate(-210deg);
  }

  .img-card:nth-child(9) .img-wrapper {
    transform: rotate(-240deg);
  }

  .img-card:nth-child(10) .img-wrapper {
    transform: rotate(-270deg);
  }

  .img-card:nth-child(11) .img-wrapper {
    transform: rotate(-300deg);
  }

  .img-card:nth-child(12) .img-wrapper {
    transform: rotate(-320deg);
  }

  .wrapper>.img-card:hover{
    width: 160px;
  }

  .img-wrapper .title1 {
    font-size: 14px;
  }

  .img-wrapper .title2 {
    font-size: 12px;
  }
}
