<app-nav></app-nav>
<div class="page-container">
  <div class="wrapper">
    <div class="card">
      <div class="card-img">Bảo bình Image</div>
      <div class="card-name">Bảo bình</div>
    </div>
    <div class="card">
      <div class="card-img">Bảo bình Image</div>
      <div class="card-name">Bảo bình</div>
    </div>
    <div class="card">
      <div class="card-img">Bảo bình Image</div>
      <div class="card-name">Bảo bình</div>
    </div>
    <div class="card">
      <div class="card-img">Bảo bình Image</div>
      <div class="card-name">Bảo bình</div>
    </div>
    <div class="card">
      <div class="card-img">Bảo bình Image</div>
      <div class="card-name">Bảo bình</div>
    </div>
    <div class="card">
      <div class="card-img">Bảo bình Image</div>
      <div class="card-name">Bảo bình</div>
    </div>
    <div class="card">
      <div class="card-img">Bảo bình Image</div>
      <div class="card-name">Bảo bình</div>
    </div>
    <div class="card">
      <div class="card-img">Bảo bình Image</div>
      <div class="card-name">Bảo bình</div>
    </div>
    <div class="card">
      <div class="card-img">Bảo bình Image</div>
      <div class="card-name">Bảo bình</div>
    </div>
    <div class="card">
      <div class="card-img">Bảo bình Image</div>
      <div class="card-name">Bảo bình</div>
    </div>
    <div class="card">
      <div class="card-img">Bảo bình Image</div>
      <div class="card-name">Bảo bình</div>
    </div>
    <div class="card">
      <div class="card-img">Bảo bình Image</div>
      <div class="card-name">Bảo bình</div>
    </div>
  </div>
</div>
<app-footer></app-footer>
