// $r05: 15vw;
// $r: 18vw;
// $r15: 21vw;
// $r1: 24vw;
// $r2: 30vw;

$r1: 10vw;
$r15: 12vw;
$r2: 14vw;
$r3: 18vw;
$r4: 22vw;
$r5: 26vw;
$r6: 30vw;
$r7: 34vw;
$r1h: 24vh;
$r2h: 28vh;
$r3h: 32vh;
$r4h: 36vh;
$r5h: 40vh;
$r6h: 50vh;
$card-width: 8vw;
$card-width-res-680: 20vw;

app-nav {
  color: #ffffff !important;
}

.hide {
  display: none !important;
}

.page-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/img/twelve-astrological/bg.png");
  background-size: cover;
  background-position: center;
}



.page-container>img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1 / 1;
  transition: opacity 1s linear;
}

.cirlce1,
.circle2 {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle1 {
  width: 22vw;
  opacity: 1;
}

.circle2 {
  width: 18vw;
  opacity: 0;
}

.circle1.hide {
  opacity: 0;
}

.circle2.show {
  opacity: 1;
}


.wrapper {
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.wrapper>.img-card {
  width: $card-width;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
}

.img-wrapper {
  position: relative;
}

.img-wrapper .title1 {
  position: absolute;
  bottom: -18%;
  right: 0;
  color: #fff;
  font-size: 1.1vw;
  color: #f4b677;
}

.img-wrapper .title2 {
  position: absolute;
  bottom: -30%;
  right: 0;
  color: #fff;
  font-size: 1vw;
}

.img-wrapper>img {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.wrapper>.img-card:hover {
  filter: drop-shadow(0px 0px 18px #fff);
  width: calc($card-width * 1.2);
}

.wrapper .img-card:nth-child(1) {
  transform: rotate(0deg) translate($r3);
}

.wrapper .img-card:nth-child(2) {
  transform: rotate(30deg) translate($r4);
}

.wrapper .img-card:nth-child(3) {
  transform: rotate(60deg) translate($r15);
}

.wrapper .img-card:nth-child(4) {
  transform: rotate(100deg) translate($r15);
}

.wrapper .img-card:nth-child(5) {
  transform: rotate(140deg) translate($r3);
}

.wrapper .img-card:nth-child(6) {
  transform: rotate(160deg) translate($r5);
}

.wrapper .img-card:nth-child(7) {
  transform: rotate(185deg) translate($r6);
}

.wrapper .img-card:nth-child(8) {
  transform: rotate(210deg) translate($r6);
}

.wrapper .img-card:nth-child(9) {
  transform: rotate(240deg) translate($r5);
}

.wrapper .img-card:nth-child(10) {
  transform: rotate(270deg) translate($r4);
}

.wrapper .img-card:nth-child(11) {
  transform: rotate(310deg) translate($r5);
}

.wrapper .img-card:nth-child(12) {
  transform: rotate(340deg) translate($r5);
}



.img-card:nth-child(1) .img-wrapper {
  transform: rotate(0deg);
}

.img-card:nth-child(2) .img-wrapper {
  transform: rotate(-30deg);
}

.img-card:nth-child(3) .img-wrapper {
  transform: rotate(-60deg);
}

.img-card:nth-child(4) .img-wrapper {
  transform: rotate(-100deg);
}

.img-card:nth-child(5) .img-wrapper {
  transform: rotate(-140deg);
}

.img-card:nth-child(6) .img-wrapper {
  transform: rotate(-160deg);
}

.img-card:nth-child(7) .img-wrapper {
  transform: rotate(-185deg);
}

.img-card:nth-child(8) .img-wrapper {
  transform: rotate(-210deg);
}

.img-card:nth-child(9) .img-wrapper {
  transform: rotate(-240deg);
}

.img-card:nth-child(10) .img-wrapper {
  transform: rotate(-270deg);
}

.img-card:nth-child(11) .img-wrapper {
  transform: rotate(-310deg);
}

.img-card:nth-child(12) .img-wrapper {
  transform: rotate(-340deg);
}



.card-img {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../../assets/img/holland-text-image.png");
  background-size: cover;
  background-position: center;
}

.trans-center {
  transform: inherit !important;
}

.scale13 {
  width: calc($card-width * 1.3) !important;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@media only screen and (max-width: 1366px) {
  .wrapper .img-card:nth-child(1) {
    transform: rotate(0deg) translate($r3);
  }

  .wrapper .img-card:nth-child(2) {
    transform: rotate(30deg) translate($r4);
  }

  .wrapper .img-card:nth-child(3) {
    transform: rotate(60deg) translate($r15);
  }

  .wrapper .img-card:nth-child(4) {
    transform: rotate(100deg) translate($r15);
  }

  .wrapper .img-card:nth-child(5) {
    transform: rotate(140deg) translate($r3);
  }

  .wrapper .img-card:nth-child(6) {
    transform: rotate(160deg) translate($r5);
  }

  .wrapper .img-card:nth-child(7) {
    transform: rotate(185deg) translate($r6);
  }

  .wrapper .img-card:nth-child(8) {
    transform: rotate(210deg) translate($r6);
  }

  .wrapper .img-card:nth-child(9) {
    transform: rotate(240deg) translate($r5);
  }

  .wrapper .img-card:nth-child(10) {
    transform: rotate(270deg) translate($r4);
  }

  .wrapper .img-card:nth-child(11) {
    transform: rotate(310deg) translate($r5);
  }

  .wrapper .img-card:nth-child(12) {
    transform: rotate(340deg) translate($r5);
  }

  .img-wrapper .title1 {
    font-size: 1.5vw;
  }

  .img-wrapper .title2 {
    font-size: 1.1vw;
  }
}

@media only screen and (max-width: 680px) {
  .wrapper>.img-card {
    width: $card-width-res-680
  }
  .wrapper .img-card:nth-child(1) {
    transform: rotate(0deg) translate($r5);
  }

  .wrapper .img-card:nth-child(2) {
    transform: rotate(40deg) translate($r7);
  }

  .wrapper .img-card:nth-child(3) {
    transform: rotate(65deg) translate($r2h);
  }

  .wrapper .img-card:nth-child(4) {
    transform: rotate(100deg) translate($r1h);
  }

  .wrapper .img-card:nth-child(5) {
    transform: rotate(130deg) translate($r3h);
  }

  .wrapper .img-card:nth-child(6) {
    transform: rotate(160deg) translate($r1h);
  }

  .wrapper .img-card:nth-child(7) {
    transform: rotate(200deg) translate($r1h);
  }

  .wrapper .img-card:nth-child(8) {
    transform: rotate(230deg) translate($r5h);
  }

  .wrapper .img-card:nth-child(9) {
    transform: rotate(250deg) translate($r5h);
  }

  .wrapper .img-card:nth-child(10) {
    transform: rotate(270deg) translate($r4h);
  }

  .wrapper .img-card:nth-child(11) {
    transform: rotate(295deg) translate($r4h);
  }

  .wrapper .img-card:nth-child(12) {
    transform: rotate(310deg) translate($r7);
  }

  .img-card:nth-child(1) .img-wrapper {
    transform: rotate(0deg);
  }

  .img-card:nth-child(2) .img-wrapper {
    transform: rotate(-40deg);
  }

  .img-card:nth-child(3) .img-wrapper {
    transform: rotate(-65deg);
  }

  .img-card:nth-child(4) .img-wrapper {
    transform: rotate(-100deg);
  }

  .img-card:nth-child(5) .img-wrapper {
    transform: rotate(-130deg);
  }

  .img-card:nth-child(6) .img-wrapper {
    transform: rotate(-160deg);
  }

  .img-card:nth-child(7) .img-wrapper {
    transform: rotate(-200deg);
  }

  .img-card:nth-child(8) .img-wrapper {
    transform: rotate(-230deg);
  }

  .img-card:nth-child(9) .img-wrapper {
    transform: rotate(-250deg);
  }

  .img-card:nth-child(10) .img-wrapper {
    transform: rotate(-270deg);
  }

  .img-card:nth-child(11) .img-wrapper {
    transform: rotate(-295deg);
  }

  .img-card:nth-child(12) .img-wrapper {
    transform: rotate(-310deg);
  }

  .wrapper>.img-card:hover {
    filter: drop-shadow(0px 0px 18px #fff);
    width: calc($card-width-res-680 * 1.2);
  }

  .img-wrapper .title1 {
    font-size: 3vw;
  }

  .img-wrapper .title2 {
    font-size: 2.5vw;
  }
}
