$card-size: 14em;
$card-size-res-1024: 16em;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("../../../assets/img/tarots/bgBlur.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #000;
  z-index: 3;
  animation: fadein7 1s forwards;
}

.hide {
  display: none !important;
}

.reset-transform {
  transform: none !important;
}

.zindex1 {
  z-index: 1;
}

.wrapper {
  position: relative;
  width: $card-size;
  aspect-ratio: 1 / 1.64;
  flex-direction: column;
  perspective: 600px;
  margin-top: 15em;
}

.wrapper .card-wrapper {
  position: absolute;
  width: $card-size;
  aspect-ratio: 1 / 1.64;
  // -webkit-box-shadow: -15px -5px 22px -7px #000000;
  // box-shadow: -15px -5px 22px -7px #000000;
  transform-style: preserve-3d;
  cursor: pointer;
  transition: 0.5s;
  transform-origin: bottom;
}

.card-wrapper img {
  width: $card-size;
}

.btn {
  background-image: linear-gradient(to right, #8e5c20 0%, #ffd79c 100%);
  // margin: 10px;
  padding: 1em 1.5em;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: -10px -10px 20px 2px rgba(49, 49, 49, 0.4);
  border-radius: 10px;
  position: absolute;
  bottom: -10em;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  border: none;
  width: 10em;
}

.btn:hover {
  background-position: right center;
  text-decoration: none;
}

.face {
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  transform: rotateY(180deg);
}

.wrapper .card-wrapper:nth-child(1) {
  transform: translate(0px, 0px);
  box-shadow: -15px -5px 22px -7px #000000;
}

.wrapper .card-wrapper:nth-child(2) {
  transform: translate(2px, 2px);
}

.wrapper .card-wrapper:nth-child(3) {
  transform: translate(4px, 4px);
}

.wrapper .card-wrapper:nth-child(4) {
  transform: translate(6px, 6px);
}

.wrapper .card-wrapper:nth-child(5) {
  transform: translate(8px, 8px);
}

// Hover
.wrapper:hover .hover-only:nth-child(1) {
  transform: translate(0px, 0px) rotate(-55deg);
}

.wrapper:hover .hover-only:nth-child(2) {
  transform: translate(0px, 0px) rotate(-30deg);
  box-shadow: -15px -5px 22px -7px #000000;
}

.wrapper:hover .hover-only:nth-child(3) {
  transform: translate(0px, 0px) rotate(0deg);
  box-shadow: -15px -5px 22px -7px #000000;
}

.wrapper:hover .hover-only:nth-child(4) {
  transform: translate(0px, 0px) rotate(30deg);
  box-shadow: -15px -5px 22px -7px #000000;
}

.wrapper:hover .hover-only:nth-child(5) {
  transform: translate(0px, 0px) rotate(55deg);
  box-shadow: -15px -5px 22px -7px #000000;
}

.shadow-when-active {
  box-shadow: -15px -5px 22px -7px #000000;
}

// Move Y while hovering
.wrapper .hover-only:nth-child(1):hover {
  transform: translate(0px, 0px) rotate(-55deg) translateY(-2em);
}

.wrapper .hover-only:nth-child(2):hover {
  transform: translate(0px, 0px) rotate(-30deg) translateY(-2em);
}

.wrapper .hover-only:nth-child(3):hover {
  transform: translate(0px, 0px) rotate(0deg) translateY(-2em);
}

.wrapper .hover-only:nth-child(4):hover {
  transform: translate(0px, 0px) rotate(30deg) translateY(-2em);
}

.wrapper .hover-only:nth-child(5):hover {
  transform: translate(0px, 0px) rotate(55deg) translateY(-2em);
}

// Click
.card-rotate {
  transform: translate(0px, 0px) rotate(0deg) rotateY(180deg) !important;
}

.tarot-desc-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 4;
  position: relative;
  top: -50vh;
}

.text {
  margin: 5%;
  color: #fff;
}

.btn-receive {
  background-image: linear-gradient(to right, #603813 0%, #b29f94 51%, #603813 100%);
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border: none;
}

.btn-receive:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.draw-again-button {
  width: 8em;
  position: absolute;
  top: 7%;
  right: 10%;
  border: none;
  cursor: pointer;
  animation: fadein1 1s forwards;
}

.detail-section {
  width: 80%;
  height: 80%;
  background-image: url("../../../assets/img/tarots/overlay-bg.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: -8px 8px 31px 0px rgb(43, 43, 43);
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px rgb(246, 255, 165);
  z-index: 2;
}

.detail-section-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 0 4em;
  padding-bottom: 1em;
}

.detail-section-wrapper .head-img {
  margin: 2rem 0;
  width: 12em;
  aspect-ratio: 1 / 1.64;
}

.detail-section-wrapper .draw-again-img {
  width: 6em;
  object-fit: cover;
  position: absolute;
  top: 3em;
  right: 3em;
  cursor: pointer;
}

.detail-section-content {
  overflow-y: scroll;
  text-align: justify;
  color: #fff;
}

// Horizontal Scrollbar
.detail-section-content::-webkit-scrollbar {
  width: 0;
}

#scrollPath {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 10px;
  background: rgba(255, 255, 255, 0.05);
}

#progressbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 10px;
  background: linear-gradient(to top, #008aff, #00ffe7);
  animation: animate 5s linear infinite;
}

@keyframes animate {

  0%,
  100% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(360deg);
  }
}

#progressbar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(10px);
}

#progressbar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(30px);
}

.page-container-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../../../assets/img/tarots/bgBlur.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0em;
}

.receive-btn {
  padding: 1em 3em;
  border: none;
  color: #fff;
  background-color: #ae7839;
  border-radius: 1em;
}
