<div class="page-container">
  <app-nav></app-nav>

  <div class="banner-section">
    <img src="assets/img/mi-banner-nobackground.png" alt="mbti test" />
  </div>
  <div class="banner-option">
    <a href="#" routerLink="/mi-quiz-attempt" class="btn-start">Bắt đầu ngay</a>
  </div>
</div>

<div class="content-container">
  <div class="content-section">
    <h4 class="content-header">Multiple Inteligent Test là gì</h4>
    <p class="content-text">
      Được nghiên cứu từ năm 1917, MBTI có thể được coi là phương pháp kiểm tra
      tính cách phổ biến nhất hiện nay. MBTI là viết tắt của Myers-Briggs Type
      Indicator – phương pháp xác định tính cách thông qua một loạt câu hỏi trắc
      nghiệm thuộc 16 nhóm tính cách. Phương pháp chỉ số tính cách này bắt nguồn
      từ lý thuyết phân loại trong cuốn sách Các Kiểu Tâm Lý (Psychological
      Types) của bác sĩ tâm thần người Thụy Sĩ Carl Gustav Jung, xuất bản năm
      1921 và được phát triển bởi Katharine Cook Briggs và con gái của bà,
      Isabel Briggs Myers, từ khoảng Thế chiến thứ hai. Các câu hỏi tâm lý ban
      đầu phát triển thành Chỉ số phân loại Myers-Briggs và được xuất bản vào
      năm 1962. Bài kiểm tra tính cách MBTI dựa trên phản ứng của mỗi người để
      suy ra nhóm tính cách độc đáo của họ. MBTI trả lời cho câu hỏi tại sao tất
      cả mọi người trên thế giới đều có một tính cách khác nhau và không ai
      giống ai, vì vậy nó tập trung vào những cá nhân bình thường và nhấn mạnh
      sự khác biệt tự nhiên của mỗi người. Ngày nay, MBTI ngày càng phổ biến và
      được sử dụng như một phương pháp phân loại tính cách khá chính xác, giúp
      mọi người hiểu rõ bản thân và những người xung quanh hoặc theo đuổi nghề
      nghiệp phù hợp. Bộ câu hỏi trắc nghiệm MBTI có dạng gồm 70 câu hỏi, 72 câu
      hỏi và 76 câu hỏi. Ngày nay, việc truy cập vào các bài kiểm tra tính cách
      miễn phí khá dễ dàng.
    </p>
  </div>
  <div class="content-section">
    <h4 class="content-header">Trắc nghiệm MBTI dựa trên 4 tiêu chí</h4>
    <p class="content-text">
      Sensing (Giác quan) / iNtuition (Trực giác) Trong các nhóm trắc nghiệm
      MBTI test. Cặp xu hướng Sensing (Giác quan) / iNtuition (Trực giác) chính
      là xu hướng đối lập nhau về cách mà con người tiếp nhận sự việc hiện tượng
      xung quanh họ. Thế giới được hiểu và nhận thức thông qua các giác quan cụ
      thể, ví dụ như màu sắc, hình ảnh thì sẽ thông qua mắt để nhận biết, mùi
      vị, âm thanh sẽ nhờ tai để cảm nhận, phân tích. Ngoài ra, 5 cơ quan sẽ
      cùng liên tục sắp xếp, phân loại các sự kiện thực tế đang diễn ra một cách
      đồng thời để cung cấp ngược lại những thông tin từng diễn ra trong quá
      khứ. Nếu tìm hiểu nhận thức thế giới thông qua trực giác, não bộ chính là
      đơn vị phải có trách nhiệm tìm hiểu, diễn dịch, phân tích, lí giải những
      mô hình thông tin để thu thậ các luồng dữ liệu, trước và sau đó đồng thời
      sắp xếp các mô hình, liên hệ chúng lại với nhau. Não bộ phải làm việc hết
      sức, suy đoán và phán đoán tương lai.
    </p>
  </div>

  <div class="card-section content-section">
    <h4 class="content-header">Các kiểu trí thông minh</h4>
    <div class="type-card-container">
      <!-- <div class="card-row">
        <div class="card" *ngFor="let type of mbtiTypes">
          <app-type-card [name]="type.name" [shorthand]="type.shorthand" [imgSrc]="type.imgSrc"></app-type-card>
        </div>
      </div> -->
    </div>
  </div>
</div>

<app-footer></app-footer>