<div class="row slide">
  <div id="left" class="col-md-6 item-info left">
    <!-- <div id="category" class="col-md-6">
      <div class="d-flex justify-content-center">
        <a href="#" class="" id="category-img">
          <img src="../assets/logo-qick.png" alt="mbti" />
        </a>
        <div class="" >
          <h5 id="category-name">Trắc nghiệm tính cách</h5>
          <span id="category-des">phân tích và xác định xu hướng tính cách của bạn</span>
        </div>
      </div>
    </div> -->
    <div class="left-info">
      <div id="quiz-info" class="">
        <h4 class="col-md-8 col-sm-10">{{ name }}</h4>
        <!-- <span class="col-md-8 description">{{ des }} </span> -->
        <span class="description">{{ des }} </span>
        <div id="options" class="d-flex justify-content-start options">
          <button type="button" routerLink="/{{shorthand}}-quiz-detail" class="btn option-btn">Chi tiết</button>
          <button type="button" routerLink="/{{shorthand}}-quiz-attempt" class="btn option-btn">Bắt đầu</button>
        </div>
      </div>

    </div>
  </div>
  <div id="right" class="col-md-6 item-img">
    <img class="quiz-img" src="{{ img }}" alt="quiz" />
  </div>
</div>