<div class="row slide" *ngIf="img">
  <div id="left" class="col-md-5 item-img">
    <img class="quiz-img" src="{{ img }}" alt="quiz" />
  </div>
  <div id="right" class="col-md-6 item-info left">
    <div class="left-info">
      <div id="quiz-info" class="">
        <h4 class="title col-md-8 col-sm-10">{{ name }}</h4>
        <span class="description">{{ des }} </span>
        <div id="options" class="d-flex justify-content-start options">
          <button type="button" (click)="redirectTest(id,shorthand,0)"  class="btn option-btn">Chi tiết</button>
          <button type="button" (click)="redirectTest(id,shorthand,1)" class="btn option-btn">Bắt đầu</button>
        </div>
      </div>

    </div>
  </div>
</div>
