<div class="main">
  <div class="register-items">
    <p>Chào mừng bạn đến với Qick</p>
    <p>Qick’s logan</p>

    <form action="">
      <input type="text" placeholder="Họ và tên" class="name">
      <input type="text" placeholder="Địa chỉ email" class="email">
      <input type="text" placeholder="Mật khẩu" class="password">
      <input type="text" placeholder="Xác nhận mật khẩu" class="confirm-password">
      <input type="checkbox" class="checkbox">
      <p>Tôi đã đồng ý với Điều khoản dịch vụ và Chính sách bảo mật</p>
      <input type="submit" class="btn-submit" value="Tạo tài khoản">
    </form>
  </div>
  <div class="login-page">
    <p>Bạn đã có tài khoản?</p>
    <a href="/">Đăng nhập ngay</a>
  </div>


</div>