<div class="page-container">
  <app-nav></app-nav>
  <div class="wrapper">
    <!-- <div class="search-section">
      <div class="search-input-row">
        <div class="search-input-field">
          <div class="search-title">Tìm tin tuyển sinh</div>
          <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Từ khóa</mat-label>
              <input
                type="text"
                placeholder="Từ khóa"
                aria-label="Number"
                matInput
                [formControl]="myControl"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option
                  *ngFor="let option of filteredOptions | async"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </div>
        <div class="filter-by-test">
          <div class="search-title">Lọc theo bài test</div>
          <mat-form-field appearance="fill">
            <mat-label>Bài kiểm tra</mat-label>
            <mat-select [formControl]="toppings" multiple>
              <mat-select-trigger>
                {{toppings.value?.[0] || ''}}
                <span
                  *ngIf="(toppings.value?.length || 0) > 1"
                  class="example-additional-selection"
                >
                  (+{{ (toppings.value?.length || 0) - 1 }}
                  {{ toppings.value?.length === 2 ? "other" : "others" }})
                </span>
              </mat-select-trigger>
              <mat-option
                *ngFor="let topping of toppingList"
                [value]="topping"
                >{{ topping }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div> -->
    <div class="card-list" *ngIf="newsList">
      <div class="card-item" *ngFor="let news of newsList">
        <img src="{{ news.bannerUrl }}" alt="" class="card-item-img" />
        <div class="card-item-right">
          <div class="card-item-title" (click)="redirectToDetail(news.id)">
            {{ news.title }}
          </div>
          <div class="card-item-subject">
            Ngành tuyển sinh: {{ news.uniSpecName }}
          </div>
          <div class="card-item-desc">Trường : {{ news.uniName }}</div>
          <div class="date">
            Ngày đăng : {{ news.createDate.toLocaleDateString() }}
          </div>
        </div>
      </div>
    </div>
    <!-- <mat-paginator
      [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageEvent = $event"
      aria-label="Chọn số trang"
    >
    </mat-paginator> -->
  </div>
</div>
