.brief {
  overflow: hidden;
  color: #fff;
}

.address {
  color: #fff;
  margin-bottom: 50px;
}

.container {
  border-radius: 50px;
  // box-shadow: 5px 5px #ececec;
  padding: 0;
}

img {
  transform: scale(1);
  transition: all 0.3s ease-out;
}

.title {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}

.title:hover {
  color: #b06cf4;
  cursor: pointer;
}

.news-info {
  margin-top: 5px;
}

.container:hover {
  border-radius: 50px;
}

img:hover {
  transform: scale(1.05);
  opacity: 1;
  cursor: pointer;
}

@media (min-width: 500px) and (max-width: 900px) {
  .container {
    margin: 0;
    padding: 0;
    max-width: 100%;
  }

  .news-img {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .container {
    margin: 0;
    padding: 0;
    max-width: 100%;
  }

  .news-img {
    max-width: 100%;
  }
}
