<div class="page-container">
  <div class="header-title">
    Tổng lượt truy cập của App
  </div>
  <!-- App's statistical -->
  <div class="card-box">
    <div class="card-wrapper">
      <div class="card-title">MBTI</div>
      <mat-divider></mat-divider>
      <div class="card-number">
        <div class="card-number-main">1000</div>
        <div class="card-number-title">lượt truy cập</div>
      </div>
    </div>
    <div class="card-wrapper">
      <div class="card-title">DISC</div>
      <mat-divider></mat-divider>
      <div class="card-number">
        <div class="card-number-main">1000</div>
        <div class="card-number-title">lượt truy cập</div>
      </div>
    </div>
    <div class="card-wrapper">
      <div class="card-title">Holland</div>
      <mat-divider></mat-divider>
      <div class="card-number">
        <div class="card-number-main">1000</div>
        <div class="card-number-title">lượt truy cập</div>
      </div>
    </div>
    <div class="card-wrapper">
      <div class="card-title">Big Five</div>
      <mat-divider></mat-divider>
      <div class="card-number">
        <div class="card-number-main">1000</div>
        <div class="card-number-title">lượt truy cập</div>
      </div>
    </div>
  </div>

  <div class="header-title">
    Tổng lượt truy cập của Bạn
  </div>

  <!-- User's statistical -->
  <div class="card-box card-box-2">
    <div class="card-wrapper">
      <div class="card-title">MBTI</div>
      <mat-divider></mat-divider>
      <div class="card-number">10 lượt truy cập</div>
    </div>
    <div class="card-wrapper">
      <div class="card-title">DISC</div>
      <mat-divider></mat-divider>
      <div class="card-number">35 lượt truy cập</div>
    </div>
    <div class="card-wrapper">
      <div class="card-title">Holland</div>
      <mat-divider></mat-divider>
      <div class="card-number">40 lượt truy cập</div>
    </div>
    <div class="card-wrapper">
      <div class="card-title">Big Five</div>
      <mat-divider></mat-divider>
      <div class="card-number">10 lượt truy cập</div>
    </div>
  </div>
  <!-- Chart Section -->
  <div class="chart">
    <div class="left-chart">
      <div class="chart-title">App User's Access Rating</div>
      <div class="chart-wrapper">
        <canvas id="canvas1" width="500" height="500" #ele1></canvas>
      </div>
    </div>
    <div class="left-chart">
      <div class="chart-title">Your User Access Rating</div>
      <div class="chart-wrapper">
        <canvas id="canvas2" width="500" height="500" #ele2></canvas>
      </div>
    </div>
  </div>
</div>
