<app-nav></app-nav>
<div class="page-container">
  <div class="banner-img">
    <img class="school-banner-img" src="../../assets/img/school/fpt-hcm.jpg" alt="school picture">
  </div>

  <div class="info-section">
    <img src="../../assets/img/school/logo/fptu-logo.jpg" alt="school logo" class="school-logo">
    <span class="school-name">Đại học FPT</span>
    <div class="school-website"><span class="website">daihoc.fpt.edu.vn</span></div>
    <div class="school-address">
      <p class="address">Khu Giáo dục và Đào tạo – Khu Công nghệ cao Hòa Lạc – Km29 Đại lộ Thăng Long, H. Thạch Thất,
        TP. Hà Nội
      </p>
    </div>
  </div>

  <div class="tab-section">
    <!-- Tab group -->
  </div>

</div>
<app-footer></app-footer>