.body {
  background-color: #faf9f5;
}

.news-item-left {
  display: flex;
  justify-content: center;
  // align-items: center;
  width: 50%;
}

.news-item-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.info-section {
  display: flex;
  justify-content: space-between;
}

.news-item-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.school-banner-img {
  width: 100vw;
  height: 25vh;
  object-fit: cover;
  margin-top: 60px;
}

.school-logo {
  width: 15%;
  min-width: 100px;
  aspect-ratio: 1 / 1;
  margin-top: -20vh;
  margin-left: 10vw;
  border-radius: 10px;
  border: solid 4px rgb(175, 175, 175);
  box-shadow: 2px 2px 10px #777777;
}

.uni-info {
  max-width: 40em;
  margin-left: 24px;
  display: inline-block;
}

.school-name {
  font-family: "Open Sans Semibold";
  font-size: 1.8rem;
  font-weight: 500;
}

.school-website {
  margin: 4px 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.btn-action {
  display: flex;
  gap: 10px;
  margin-top: 4px;
}

.school-address {
  width: 30vw;
}

.address,
.website {
  font-size: 16px;
}

.tab-section {
  width: 70%;
  margin: 3% auto;
}

.tab-content {
  margin: 5% 5%;
}

::ng-deep mat-tab-body {
  margin-top: 1%;
  background-color: #f2efea;
  border-radius: 20px;
}

::ng-deep .mat-tab-label-content {
  font-size: 0.95rem;
}

.remove-border-bottom ::ng-deep .mat-tab-header {
  border-bottom: none;
}

::ng-deep .mat-ink-bar {
  padding: 1% -10%;
  background-color: #51bfbb !important;
}

.row {
  margin-top: 5%;
}

app-content-menu {
  width: 33%;
  padding-left: 10%;
}

.tab-content.news-tab {
  display: flex;
}

// .news-item {
//   width: 20%;
//   margin: 1%;
// }

// .news-tab .news-item:nth-child(1) {
//   width: 70%;
// }

.contacts {
  width: 100%;
  display: flex;
  .contact-phone,
  .contact-email {
    // width: 40%;
    width: fit-content;
    margin: 5% 5%;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    background-color: rgb(16, 220, 220);
    border-radius: 10px;
    padding: 1% 2%;
  }
}

.menu-content-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 24px;
}

@media (max-width: 650px) {
  .info-section {
    flex-direction: column;
  }

  .uni-info {
    text-align: center;
  }

  .school-address {
    width: 100%;
  }

  .address {
    margin: 0;
  }

  .school-website {
    justify-content: center;
    align-items: center;
  }

  .tab-section {
    width: 90%;
  }

  app-content-menu {
    padding: 10px;
  }
}

@media (max-width: 1000px) {
  .contacts {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-phone,
  .contact-email {
    margin: 10px !important;
    padding: 5px 15px !important;
    width: 70% !important;
  }
}
