<div class="body">
  <app-nav></app-nav>
  <div class="page-container">
    <div class="banner-img">
      <img class="school-banner-img" src="../../assets/img/school/fpt-hcm.jpg" alt="school picture" />
    </div>

    <div class="info-section">
      <div class="uni-info-wrapper">
        <img
          src="{{(uniDetail?.avatarUrl !== 'string') ? uniDetail?.avatarUrl : './../../../assets/img/uniAvatarPlaceholder.png'}}"
          alt="school logo" class="school-logo" />
        <span class="uni-info">
          <span class="school-name">{{uniDetail?.uniName}}</span>
          <div class="school-address">
            <p class="address">
              {{uniDetail?.addressNumber }}
            </p>
          </div>
        </span>
      </div>
      <div class="school-website">
        <a class="website" href="{{uniDetail?.websiteUrl}}">{{uniDetail?.websiteUrl}}</a>
        <div class="btn-action">
          <button mat-raised-button color="primary">Quan tâm</button>
          <button mat-raised-button color="primary" (click)="submitApplication()" [matTooltip]="sendApplicationTooltip">Gửi hồ sơ</button>
        </div>
      </div>

    </div>

    <div class="tab-section">
      <!-- Tab group -->
      <mat-tab-group mat-align-tabs="center" class="remove-border-bottom">
        <mat-tab label="Giới thiệu" class="tab">
          <div class="tab-content">
            <span class="overview">
              {{uniDetail?.description}}
            </span>
          </div>
        </mat-tab>
        <!-- <mat-tab label="Tin tức & Sự kiện" class="tab">
          <div class="tab-content news-tab">
            <div class="news-item-left">
              <div class="news-item">
                <app-school-news></app-school-news>
              </div>
            </div>

            <div class="news-item-right">
              <div class="news-item-row">
                <div class="news-item">
                  <app-school-news></app-school-news>
                </div>
                <div class="news-item">
                  <app-school-news></app-school-news>
                </div>
              </div>

              <div class="news-item-row">
                <div class="news-item">
                  <app-school-news></app-school-news>
                </div>
                <div class="news-item">
                  <app-school-news></app-school-news>
                </div>
              </div>
            </div>

          </div>
        </mat-tab> -->
        <mat-tab label="Các ngành đào tạo" class="tab">
          <div class="tab-content">
            <div class="menu-content-section">
              <div class="row">
                <app-content-menu class="col" [header]="header" [contents]="contents"></app-content-menu>
                <app-content-menu class="col" [header]="header" [contents]="contents"></app-content-menu>
                <app-content-menu class="col" [header]="header" [contents]="contents"></app-content-menu>
              </div>
              <div class="row">
                <app-content-menu class="col" [header]="header" [contents]="contents"></app-content-menu>
                <app-content-menu class="col" [header]="header" [contents]="contents"></app-content-menu>
                <app-content-menu class="col" [header]="header" [contents]="contents"></app-content-menu>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Liên hệ & Tư vấn" class="tab">
          <div class="tab-content">
            <!-- CONSIDER USING MAT-EXPANDABLE for each FAQ -->
            <div class="menu-content-section">
              <div class="row">
                <app-content-menu class="col" [header]="header" [contents]="contents"></app-content-menu>
                <app-content-menu class="col" [header]="header" [contents]="contents"></app-content-menu>
                <app-content-menu class="col" [header]="header" [contents]="contents"></app-content-menu>
              </div>
              <div class="row">
                <app-content-menu class="col" [header]="header" [contents]="contents"></app-content-menu>
                <app-content-menu class="col" [header]="header" [contents]="contents"></app-content-menu>
                <app-content-menu class="col" [header]="header" [contents]="contents"></app-content-menu>
              </div>

              <div class="contacts">
                <div class="contact-phone">
                  {{uniDetail?.phone}}
                </div>
                <div class="contact-email">
                  {{uniDetail?.email}}
                </div>
              </div>

            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <app-footer></app-footer>
</div>