<div class="main-container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Chuyên ngành</th>
        <th scope="col">Tên trường</th>
        <th scope="col">Ngày ứng tuyển</th>
        <th scope="col">Tình trạng</th>
        <th scope="col">Hành động</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p class="table-text">hahaha</p>
        </td>
        <td>
          <p class="table-text">hahaha</p>
        </td>
        <td>
          <p class="table-text">hahaha</p>
        </td>
        <td>
          <p class="table-text">hahaha</p>
        </td>
        <td>
          <p class="table-text">hahaha</p>
        </td>
        <td>
          <button class="cancel-btn"><i class="icon-remove fa fa-times" aria-hidden="true"></i>Hủy đăng ký</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>