* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-container {
  //   padding: 0 40px;
}

.thead-dark {
  //   background-color: #fff;
  //   color: #fff;
}

.col {
  font-weight: 500;
}

.cancel-btn {
  background-color: red;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 5px 10px;
}

.icon-remove {
  margin-right: 10px;
}

td,
th {
  text-align: center;
}
