* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-container {
  padding: 20px 0;
  // margin-top:20px;
}

.thead-dark {
  //   background-color: #fff;
  //   color: #fff;
}

.table {
  border-top: 1px solid #ccc;
}

.search-form {
  float: right;
  margin: 20px 80px 10px 0;
  display: flex;
  // margin-right: 20px;
}

.search-input {
  padding: 5px 10px;
  border: 1px solid #ccc;
  // border-radius: 4px;
  flex: 1;
}

.btn-search {
  padding: 5px 10px;
  flex: 1;
  background-color: #007bff;
  color: #fff;
  border: none;
  // border-radius: 2px;
}

.col {
  font-weight: 500;
}

.cancel-btn {
  background-color: green;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 5px 10px;
}

.icon-remove {
  margin-right: 10px;
}

td,
th {
  text-align: center;
}
