<div class="main-container">
  <form class="search-form">
    <input type="text" class="search-input" placeholder="Nhập chuyên ngành">
    <button class="btn-search">Tìm kiếm</button>
  </form>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Chuyên ngành</th>
        <th scope="col">Tên trường</th>
        <th scope="col">Ngày nộp hồ sơ</th>
        <th scope="col">Tình trạng</th>
        <th scope="col">Hành động</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let apply of applies; index as i">
        <td>
          <p class="table-text">{{i+1}}</p>
        </td>
        <td>
          <p class="table-text">{{apply.uniSpecName}}</p>
        </td>
        <td>
          <p class="table-text">{{apply.uniName}}</p>
        </td>
        <td>
          <p class="table-text">{{apply.applyDate }}</p>
        </td>
        <td>
          <p class="table-text">{{apply.status}}</p>
        </td>
        <td>
          <button class="cancel-btn" (click)="viewDetail(apply.id)">Xem chi tiết</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>