<!-- <div class="container row">
  <div class="logo col-sm">
    <img src="" alt="" class="qick-logo" />
    <div class="brand-name">Qick</div>
  </div>
  
  <div class="contact-container  col-sm">
    <div class="contact-header"><h4>Liên hệ</h4></div>
    <div class="location-svg"></div>
    <div class="contact-address">
      <span class="address">123 ABC TP.HCM</span>
    </div>

    <div class="email-svg"></div>
    <div class="contact-email"><span class="email">contact@qick.net</span></div>

    <div class="phone-svg"></div>
    <div class="contact-phone">
      <span class="phone-number">1234567890</span>
    </div>
  </div>

  <div class="about  col-sm">
    <div class="about-header"><h4>Về chúng tôi</h4></div>
    <div class="about-intro">
      <span class="intro"
        >Hệ thống hỗ trợ hướng nghiệp và tuyển sinh thông qua các bài kiểm tra
        tính cách và kĩ năng làm việc</span
      >
    </div>
  </div>
</div> -->

<footer class="row row-cols-5 py-5  border-top">
  <div class="col">
    <a
      href="/"
      class="d-flex align-items-cente justify-content-center mb-3 link-dark text-decoration-none"
    >
      <img
        class="bi me-2"
        width="120"
        height="120"
        src="../assets/img/logo-qick-black.png"
      />
    </a>
    <p class="footer-brand-name">Qick</p>
  </div>

  <div class="col"></div>

  <div class="col">
    <h4>Mục lục</h4>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-white">Trang chủ</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-white">Hướng nghiệp</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-white">abc</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-white">ABC</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-white">XYZ</a>
      </li>
    </ul>
  </div>

  <div class="col">
    <h4>Liên hệ</h4>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <div class="nav-link p-0 text-white">
          <fa-icon [icon]="locationIcon" class="footer-icon"></fa-icon>
          <span class="text-white">123 BAC</span>
        </div>
      </li>
      <li class="nav-item mb-2">
        <div class="nav-link p-0 text-white">
          <fa-icon [icon]="phoneIcon" class="footer-icon"></fa-icon>
          <span class="text-white">1234567890</span>
        </div>
      </li>
      <li class="nav-item mb-2">
        <div class="nav-link p-0 text-white">
          <fa-icon [icon]="emailIcon" class="footer-icon"></fa-icon>
          <span class="text-white">abcd@xyz.com</span>
        </div>
      </li>
    </ul>
  </div>

  <div class="col">
    <h4>Về chúng tôi</h4>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <span class="nav-link p-0 text-white"
          >Hệ thống hỗ trợ hướng nghiệp và tuyển sinh thông qua các bài kiểm tra
          tính cách và kĩ năng chuyên môn với sự liên kết của nhiều trường đại
          học tại Việt Nam</span
        >
      </li>
    </ul>
  </div>
</footer>
