<div class="body">
  <div class="main">
    <img src="assets/img/holland-text-image.png" alt="" class="mi-title" />
    <div class="question-container">
      <p class="question">{{ question.text }}</p>
      <p class="question-hint">Chọn những câu trả lời phù hợp với bản thân</p>
    </div>

    <div class="answer-container-column">
      <div class="answer-container-row">

        <div class="option-section">
          <div
            *ngFor="let ans of questionSet[index].option; index as i"
            id="{{ ans.id }}"
            class="option"
            (click)="enableChoose(i)"
            [ngClass]="{
              'option-checked': ans.isSelected,
              'option-unchecked': !ans.isSelected
            }"
          >
            <div class="option-text">
              <p>{{ ans.text }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="arrow-container-row">
        <img
          (click)="previousQuestion()"
          class="arrow-left"
          src="assets/img/left-arrow.png"
          alt=""
        />
        <img
          (click)="nextQuestion()"
          class="arrow-left"
          src="assets/img/right-arrow.png"
          alt=""
        />
      </div>
      <p class="number-question"><span>{{index+1}}/</span>{{questionSet.length}}</p>
    </div>

  </div>
</div>
