<div class="page-container">
  <app-nav [theme]="'dark'"></app-nav>
  <div class="header-section">
    <img src="../../../assets/img/twelve-astrological/Aquarius.png" alt="" />
    <div class="header-title">Bảo Bình</div>
    <div class="header-date">(20/1 - 18/2)</div>
  </div>
  <div class="third-section">
    <mat-tab-group>
      <mat-tab label="Tổng quan" class="tab-content">
        <div class="tab-text">
          Bảo Bình là cung hoàng đạo chỉ những người có ngày sinh từ 20/1 – 18/2
          dương lịch, thuộc nguyên tố khí, có sao Thổ và sao Thiên Vương chiếu
          mệnh. Đặc điểm nổi bật của người mang cung Bảo Bình chính là người có
          chính kiến, thông minh, sâu sắc và hay giúp đỡ người khác.<br />
          Cung Bảo Bình sẽ phù hợp với màu xanh lá cây, xanh da trời, lam, đen
          và con số may mắn là 2,3,4,7,8. Những người mang cung Bảo Bình thường
          không hợp với người thuộc cung Sư Tử.<br />
          Những loài hoa phù hợp với cung hoàng đạo này bao gồm: cẩm tú cầu, đỗ
          quyên, hoa anh túc. Ngoài ra, họ cũng rất phù hợp với các loại đá như:
          thạch anh tím, hổ phách, ngọc thạch lựu, mã não, saphire xanh thẫm
          trong suốt,…
        </div>
        <h3 class="tab-sub-header">1.1. Về truyền thuyết cung Bảo Bình</h3>
        <div class="tab-text">
          Theo thần thoại Hy Lạp, Zenus chính là chúa tể của các vị thần, được
          mệnh danh là “thần mang nước”. Chính ông đã tạo ra mưa bão để duy trì
          sự sống của mọi loài trên trái đất. Và vị thần mang nước này chính là
          đại diện cho cung Bảo Bình.
        </div>
        <h3 class="tab-sub-header">1.2. Về ý nghĩa cung Bảo Bình</h3>
        <div class="tab-text">
          Hình ảnh người đàn ông cầm 2 bình nước chính là đại diện cho cung Bảo
          Bình, nó có ý nghĩa vô cùng đặc biệt: 2 bình nước chính là biểu tượng
          cho cái thiện và cái ác, vị thần này có thể dùng nước để cứu nhân loại
          nhưng cũng có thể dùng nước để tiêu diệt tất cả. Chính vì vậy mà những
          người thuộc cung hoàng đạo này cũng có tính cách vô cùng rõ ràng, luôn
          luôn rạch ròi giữa tốt và xấu.<br />
          Những người thuộc cung Bảo Bình rất đam mê tìm tòi, khám phá những cái
          mới, để không bao giờ cảm thấy buồn bã, nhàm chán. Là người sống rất
          rạch ròi, nhưng nội tâm họ thường buồn vui lẫn lộn, nhạy cảm và dễ
          thay đổi. Họ có con mắt rất tinh tế, dễ dàng nhận ra và thấu hiểu
          người khác, cho nên luôn biết cách an ủi những người xung quanh.<br />
          Có thể bạn sẽ cảm thấy Bảo Bình sống khép kín, lạnh lùng và hơi vô
          cảm, nhưng thực ra đó chỉ là vỏ bọc họ tạo ra để tự bảo vệ mình. Nếu
          bạn xâm nhập được vào bên trong vỏ bọc ấy, có thể bạn và Bảo Bình sẽ
          trở thành tri kỷ của nhau.
        </div>
      </mat-tab>

      <mat-tab label="Tính cách" class="tab-content">
        <div class="tab-text">
          Do có chòm sao Thiên Vương bảo hộ nên tính cách của những người thuộc
          cung hoàng đạo này để mạnh mẽ, quyết đoán. Họ thường xuyên đưa ra
          những ý kiến đóng góp có giá trị, sáng tạo đôi khi là đi ngược với số
          đông và các định kiến trước đó.<br />
          Những người thuộc cung Bảo Bình đều khá hiền lành, tốt tính, rất hiện
          đại và tiến bộ để theo kịp thời đại. Họ cũng rất thẳng tính nên có thể
          khiến một số người phật lòng.
        </div>
        <h3 class="tab-sub-header">2.1. Bảo Bình là người yêu thích tự do</h3>
        <div class="tab-text">
          Bảo Bình luôn nổi tiếng là người có tính cách độc lập, họ yêu sự tự do
          và không muốn bị ràng buộc bởi bất kỳ ai hay bất kỳ điều gì. Chính vì
          vậy, những người thuộc cung hoàng đạo này luôn chủ động tự tìm tòi,
          nghiên cứu và đưa ra kết luận cho vấn đề của mình mà không muốn dựa
          vào kết quả của người khác.<br />
          Nhờ tính cách này mà Bảo Bình thường có những giải pháp mới vô cùng
          sáng tạo, và chưa ai từng nghĩ ra. Nếu là lãnh đạo, họ thuộc trường
          phái hiện đại và không ngại phá vỡ quy tắc.
        </div>
        <h3 class="tab-sub-header">2.2. Bảo Bình không thích nói dối</h3>
        <div class="tab-text">
          Bảo Bình có thể nói dối một cách “thần sầu” và khiến mọi người đều tin
          tưởng tuyệt đối vì khả năng thuyết phục và chỉ số EQ cao. Tuy nhiên,
          do tính cách ghét nói dối, nên trong những trường hợp không thể nói
          thật, họ thường lựa chọn cách giữ im lặng.
        </div>
        <h3 class="tab-sub-header">
          2.3. Bảo Bình có biệt danh là “thánh chê”
        </h3>
        <div class="tab-text">
          Chính sự thẳng thắn và không ngại va chạm của mình, mà Bảo Bình thường
          được đặt cho biệt danh là “thánh chê”, nhất là với những người mới
          tiếp xúc. Tuy nhiên, việc chê này của Bảo Bình không hề có ác ý, nó
          chỉ xuất phát từ suy nghĩ của họ và muốn đóng góp ý kiến cho người
          khác tốt hơn mà thôi. Nhưng không phải ai cũng thích như vậy, nên
          những ai thuộc cung hoàng đạo này cần chú ý hơn khi góp ý.<br />
          Còn với những ai đã quen biết với Bảo Bình, họ đều nhận xét rằng đây
          là người có tính cách khá vui vẻ, thoải mái, họ chỉ vặn vẹo để có thể
          tìm ra vấn đề và cách giải quyết tốt nhất mà thôi.
        </div>
        <h3 class="tab-sub-header">
          2.4. Luôn sẵn sàng bảo vệ quan điểm của mình
        </h3>
        <div class="tab-text">
          Chỉ số EQ và IQ cao chính là lý do khiến Bảo Bình rất tự tin vào quan
          điểm của mình. Họ có thể lắng nghe ý kiến, đóng góp của mọi người xung
          quanh, song không ngại bảo vệ quan điểm của mình nếu cảm thấy đúng và
          sẵn sàng chấp nhận đi ngược số đông.
        </div>
      </mat-tab>

      <mat-tab label="Tình yêu" class="tab-content">
        <div class="tab-text">
          Bảo Bình là người thông minh, tinh tế trong tình yêu. Họ là những
          người khá “kén chọn” đối tượng, không phải gặp ai cũng thích, gặp ai
          cũng yêu. Họ thường không có khái niệm “yêu thử”, một khi đã xác định
          thì họ sẽ cố gắng hết mình cho tình yêu. Có lẽ lý do lớn nhất khiến
          nhiều người vẫn “ế” hiện nay là họ khó bộc lộ lòng mình với đối
          phương. Tuy nhiên, trong năm nay, rất nhiều bạn sẽ “thoát ế”, một số
          người có thể sẽ tổ chức hôn lễ luôn.<br />
          Và nếu đã tìm được đối tượng thích hợp, bạn cũng đừng chần chừ hay do
          dự quá lâu. Hãy chủ động như cách bạn làm việc để có thể tiến gần hơn
          đến với nửa còn lại.<br />
          Một số bạn sẽ gặp phải tình trạng thúc giục, áp lực từ gia đình. Tuy
          nhiên, đừng vì vậy mà chọn bừa hoặc làm theo sự sắp xếp của gia đình
          chỉ để “hoàn thành nghĩa vụ”. Bởi hôn nhân là chuyện hệ trọng, cần
          phải cân nhắc thật kỹ lưỡng trước khi đưa ra quyết định, để không phải
          hối hận về sau.<br />
          Hãy luôn lạc quan và tin tưởng rằng mình sẽ tìm được người phù hợp và
          xứng đáng với mọi nỗ lực của bản thân, nhất định “khi đủ nắng hoa sẽ
          nở”, khi bạn chân thành chắc chắn sẽ tìm được người hợp.<br />
          Với những Bảo Bình đã kết hôn, mối quan hệ của bạn rất tốt trong nửa
          cuối năm nay, có nhiều khởi sắc hơn so với đầu năm.<br />
          Tình yêu trong giai đoạn này sẽ mang lại nhiều cơ hội cho những ai nằm
          trong cung hoàng đạo này (kể cả với những người đang yêu hay đã kết
          hôn). Nhờ chuyện tình cảm tốt, bạn mở rộng được các mối quan hệ làm
          ăn, hợp tác lâu dài, kết giao được với nhiều người cùng chí hướng, tìm
          kiếm được các khách hàng lớn, tiềm năng.<br />
          Tóm lại, tình yêu sẽ là bệ phóng cho sự nghiệp của Bảo Bình trong cuối
          năm 2021 này.
        </div>
      </mat-tab>

      <mat-tab label="Sự nghiệp" class="tab-content">
        <div class="tab-text">
          Có thể nói rằng, nửa cuối năm 2021 là khoảng thời gian tốt nhất cho sự
          nghiệp của bạn trong năm nay, đặc biệt là vào đầu tháng 7 này. Theo dự
          báo, từ tháng 7 công việc của bạn bắt đầu bận rộn hơn nhưng cũng không
          quá nặng đối với năng lực của bạn. Đây là bước đệm giúp bạn tiến xa
          hơn trên con đường xây dựng sự nghiệp.<br />
          Nếu đang là sếp, bạn sẽ nhận được sự tin tưởng và hợp tác từ cấp dưới,
          nếu là nhân viên bạn sẽ được cấp trên thừa nhận năng lực và có thể
          được cân nhắc thăng chức.<br />
          Tuy nhiên, sự nghiệp nửa cuối năm 2021 này của Bảo Bình cũng không
          hoàn toàn thuận lợi, sự xuất hiện của sao Kế Đô có thể khiến công việc
          của bạn bị xáo trộn. Do đó, bạn cần hết sức tập trung vào công việc để
          có được kết quả tốt nhất.<br />
          Ở giai đoạn này, nếu bạn có các kế hoạch kinh doanh riêng, cũng nên
          thận trọng cân nhắc trước khi đưa ra quyết định nhé.
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<app-footer></app-footer>
